[2017-10-05 20:14] mechanical-turk opened #1 "runs `npm run build` after installation"
For some reason, installing `redux-firestore` will run `npm run build` immediately after installation. That results in the failure of the installation. I was trying to install it in a create-react-app project, and there was already a build script in my package.json. I temporarily removed that script from my package.json, and the install was successful. So I think that there's some sort of interfer

[2017-10-05 20:35] mechanical-turk commented on #1
Shouldnt we just build it first and then distribute the code? Is this something we are doing to increase compatibility? Because it seems to be decreasing compatibility in my case. Because in order to be able to build the library, it seems that we need to have the `cross-env` script installed globally.

Even when you install the cross-env script, building fails with the following error:
[code]

So

[2017-10-05 23:42] mechanical-turk commented on #1
The issue was partially solved in the latest push.

[2017-10-05 23:42] #1 closed

[2017-10-09 19:31] mechanical-turk opened #5 "readme issues"
I couldn't setup the library to start experimenting, because I think the README is incomplete.

1) `redux-firestore` isn't even imported.
2) There's a mention of `firestoreReducer`, but `redux-firestore` does not have an export named `firestoreReducer`, it has one named `firebaseStateReducer`. This creates further confusion, because the reducer export of the original `react-redux-firestore` is als

[2017-10-09 22:37] mechanical-turk commented on #5
Solved

[2017-10-09 22:37] #5 closed

[2017-10-17 19:14] mechanical-turk opened #7 "bug(reducer): subcollections ordered awkwardly in state"
suppose we have the following data schema:

root collection: todos
[code]

Therefore the path to todo_items of a collection with the ID: 6mjAkNg3XvB3v55LDIjy, will be: `todos/6mjAkNg3XvB3v55LDIjy/todo_items`.

When we have the following 2 `firestoreConnect()`s simultaneously, we are put in an awkward situation.

- `firestoreConnect(['/todos'])`
- `firestoreConnect(['/todos/6mjAkNg3XvB3v55LDIjy/tod

[2017-10-17 20:30] mechanical-turk opened #8 "firestore.add doesnt work"
the following code throws the following error
[code]

-->

`FirebaseError: Function CollectionReference.doc() requires its first argument to be of type string, but it was: a custom Object object`

So I think somewhere in the middle where we take the params and pass it to the internal method, we're messing something up.

[2017-10-17 21:10] prescottprue commented on #8
Yup, I am seeing this too, and I agree with your theory. Good find.

[2017-10-17 21:12] prescottprue commented on #7
Great call, hadn't thought of that initially.

I like what you are saying for the fix. As for updating the ordered, maybe we look for the item in the array by key and update it?

[2017-10-17 22:39] mechanical-turk commented on #7
where does the data for `store.ordered` come from? Do we process it anywhere?

For the time being, in order to avoid using `store.ordered`, I'm getting all my data from `store.data`, and sort them in the client. Client-side sorting is honestly not that big of a deal.

I created the following 2 library methods:

[code]

I can put any collection into the `objToArr` function. If I want to, I can add

[2017-10-17 22:48] mechanical-turk commented on #7
This was not meant to be the only solution for the current problem, but a general solution for sorting collections.

A simpler solution for the time being might be storing the collections under different names. For example, all the todos can be stored under `store.ordered.todos`, whereas the todo_items can be stored under `store.ordered['todos/todo_items']`.

But that creates further problems, one

[2017-10-18 00:33] mechanical-turk opened #9 "bug(query): document updates to nested structures overwrite subcollections"
Let's say we have the following schema:

[code]

Let's add the following `firestoreConnect(['/todos'])`

This will set `store.firestore.data.todos` to something like the following:
[code]
Now let's add the following: `firestoreConnect(['/todos/6mjAkNg3XvB3v55LDIjy/todo_items'])`
This will add the `todo_items` key to every todos list under `store.firestore.data.todos`, making it look like the follo

[2017-10-18 00:37] prescottprue commented on #7
@mechanical-turk `state.firestore.ordered` comes from the results of the query the same way that data does [as you can see on this line here](https://github.com/prescottprue/redux-firestore/blob/master/src/actions/firestore.js#L133-L136).

The main issue being that if there is an update to a single item in a collection, we will want to find that item in the already ordered array, and update its va

[2017-10-18 02:24] prescottprue commented on #9
Yup, I agree with your assessment. The same thing happened in the reducer of `react-redux-firebase` with real time DB. There were some that found it helpful and others found it to be unexpected, so in v2 there is a new action called `MERGE`.

Not sure if the naming still fits, but maybe something similar for this?

We might want to make this an option that can be passed with the query (that was ac

[2017-10-19 08:21] prescottprue commented on #8
It seems it was affecting the other methods as well. Fixed in the v0.1.0-alpha release

[2017-10-19 08:21] #8 closed

[2017-10-23 15:47] diagramatics opened #12 "Querying for a single doc in a collection fails from unexpected return type"
Traced the codebase and it seems to have originated from somewhere around `setListener` at https://github.com/prescottprue/redux-firestore/blob/master/src/actions/firestore.js#L173.

Say I'm querying for a doc `bar` inside the `foo` collection. The snapshot returned by the Firestore reference would be a `DocumentSnapshot` instead of `QuerySnapshot`, meaning it would not have a `.forEach()` and wou

[2017-10-23 18:41] prescottprue commented on #12
Looking into this now. Thanks for reporting.

[2017-10-23 21:05] prescottprue commented on #12
I was able to confirm. Working on a fix now.

[2017-10-24 00:36] prescottprue commented on #12
[v0.1.0-alpha.2](https://github.com/prescottprue/redux-firestore/releases/tag/v0.1.0-alpha.2) includes a fix for this.

So far it was tested with `get` by passing with a slash like so:
[code]

[2017-10-24 00:36] #12 closed

[2017-10-24 00:41] diagramatics commented on #12
That was fast, thanks!

[2017-10-24 00:43] prescottprue commented on #9
@mechanical-turk Can you give the v0.1.0-alpha.2 release a try? I figured out some better handling of collection stuff to support the fix for #12.

[2017-10-24 15:53] jacobfunch opened #13 "feat(core): method to expose instance for use in redux-saga and redux-thunk"
I experience issues when fetching data with the get operator.
Works seamlessly when adding data to Firestore though.

Tested on `master` and `v0.1.0-alpha.2` – using `react-redux-firebase` as the base, but since they have made `redux-firestore` optional it's a combination of the two.

`Uncaught (in promise) TypeError: Cannot read property 'collection' of undefined`

Any idea why?

[2017-10-24 16:59] prescottprue commented on #13
`redux-firestore` does not yet support using through `getFirebase` from `react-redux-firebase`. This is because `getFirebase` points to the firebase instance that lives on `store.firebase`, which is added by the `reactReduxFirebase` store enhancer.

`reduxFirestore` is the equivalent store enhancer for `redux-firestore`, so that would need its own `getFirestore`, or `getFirebase` will need to be e

[2017-10-24 19:08] jacobfunch commented on #13
Thank you for a quick reply. Is there another temporary solution than using `withFirestore` or `firestoreConnect`? I really want to make a lookup from within a saga after an action, or I guess can be temporarily from a component. As I understand the other methods require the path on mount, but I need to query after an action is made.

[2017-10-24 19:35] prescottprue commented on #13
There are two options:
* use `store.firestore from your redux store by passing `this.context.store.firestore` in the `payload` of the action you `dispatch` to call your saga (make sure you provide `contextTypes`)
* set your own firebase listener and dispatch the `@@react-redux-firebase/SET` action (importable) in the callback so that the data is written into the store

Personally I would go for th

[2017-10-30 10:49] prescottprue commented on #13
[`v0.1.0-beta`](https://github.com/prescottprue/redux-firestore/releases/tag/v0.1.0-beta) was released with `getFirestore` in there. Let me know if it does not work as expected.

[2017-10-30 10:49] #13 closed

[2017-10-31 11:14] mbraku commented on #13
Using `getFirestore` deosn't seem to be working for me. I'm always getting the "Firebase instance does not yet exist. Check your compose function." error (The error text should probably say "Firestore instance" though, right?)

When looking at the enhancer from `react-redux-firebase` I saw that you're assigning the return value of `createFirebaseInstance` first to `firebaseInstance` and then to `s

[2017-11-04 01:09] scottfr opened #16 "Feature Request: StoreAs"
The 'storeAs' property does not appear to be implement in redux-firestore. It would be very helpful if was supported.

[2017-11-05 09:22] prescottprue commented on #16
@scottfr Great to know that there is already interest in this feature. There may be [chat on gitter](https://gitter.im/redux-firestore/Lobby) about it, but major discussion updates will make it back to this thread.

[2017-11-07 06:02] diagramatics opened #19 "store.firestore is set to the Firebase instance instead of firestoreInstance"
Check out https://github.com/prescottprue/redux-firestore/blob/master/src/enhancer.js#L61

[code]

Notice how `store.firestore` is set to `firebaseInstance`. This has been the issue of why `setListener` was not available in `store.firestore` when using `firestoreConnect`.

[2017-11-08 17:43] #19 closed

[2017-11-13 11:09] prescottprue commented on #7
[`v0.1.0-beta.5`](https://github.com/prescottprue/redux-firestore/commit/88d55dbc8c1c23a792621f57243a8140fbdd3695) includes changes that fix this.

Let me know if this doesn't work as expected. I'm sure there is still plenty more to come with respect to subcollection querying.

[2017-11-13 11:09] #7 closed

[2017-11-13 11:10] prescottprue commented on #9
Should also be fixed by v0.1.0-beta.5. Let me know if it isn't working as expected.

[2017-11-13 11:10] #9 closed

[2017-11-21 01:13] Klabauterman opened #24 "Not getting data from firestore"
Hi I am trying to use this component in combination with react-redux-firebase, but I did not get any data from my firestore. I am trying different things for one day now, but no luck yet. The authentication is working fine.

I also don't get how collections and documents are handled. In my case -Ktg8j9RjgIvUmCC1iGe references a document. Does it know which is a document or a collection automatical

[2017-11-21 20:38] #24 closed

[2017-11-21 22:26] Klabauterman commented on #24
What I did not get in the beginning is that i cannot access data of deeper collections by using a string path.

This could be a valid path for the firestoreConnect:
[code]

[2017-11-22 12:59] benstokoe commented on #16
Yes please! Really need this

[2017-11-23 17:12] NathHorrigan opened #25 "Profile data in firestore"
I've been using Firebase realtime database in my react-native app using `react-redix-firebase` and am  switching to Firestore from RD. I have set the following for my reduxFirebase config:
[code]
 but I user data still isn't being put in firestore when I use firebase.updateProfile and there is no firestore.updateProfile - Am I missing something??

[2017-11-24 06:39] prescottprue commented on #25
This will be a change in `react-redux-firebase`, but I'll make sure to update this ticket when it is out.

[2017-11-25 18:12] prescottprue commented on #25
Work on this has started on this in `react-redux-firebase` - the plan is to release it as part of `beta.18` in the next day or so

[2017-11-27 19:57] Venryx opened #26 "Direct Firestore "add", "update", etc. calls fails when signed in"
I've been updating a project of mine (which uses react-redux-firebase) from firebase to firestore.

So far so good. I've got the sign in system working, and have the data querying code working fine. (as far as I've tested anyway)

I'm now trying to reimplement the data saving/storing code. Because I prefer the direct route for storing data rather than the redux "action" system, I'm using code like

[2017-11-27 20:34] prescottprue commented on #26
@Venryx Not sure what would be causing this, but I will try replicating myself.

[2017-11-27 20:42] Venryx commented on #26
Okay, did some primitive debugging (ie. debugger calls all over the place), and found a hint.

In file "webpack:///./node_modules/@firebase/firestore/dist/esm/src/remote/remote_store.js?169f", on lines 466-478, we see this:
[code]

When I place a breakpoint on the "pendingWrites" line, I find that when signed out, `pendingWrites.length` is 0, so the function returns true and the "add" call is exec

[2017-11-27 21:30] Venryx commented on #26
Any luck reproducing the issue?

Not trying to pressure -- just want to know whether it's something in my own code that I need to fix (in which case I can stop delving into the firestore messaging code), or something in the library (in which case I might continue).

[2017-11-27 23:46] Venryx commented on #26
I appear to have found the cause:
[code]

The code above was set to run as soon as the user logged in (for the first time). However, it used the "update" function instead of the "set" function. Using firebase, the same code worked, even if the userExtra/USERID path did not exist yet; however, this version seems to fail if the path does not exist.

Therefore, the calls would get sent to firestore,

[2017-11-28 00:06] Venryx commented on #26
I went ahead and submitted a bug-report. (at https://firebase.google.com/support/contact/bugs-features)

It's possible the issue only comes up in particular circumstances, however. (it's a bit hard to believe they let an issue that large pass testing)

Can someone check if the issue occurs in your project as well -- update failing for non-existent paths, but giving no error or warning message? (an

[2017-11-28 00:06] #26 closed

[2017-11-30 16:12] Venryx commented on #24
Thanks for the hint, @Klabauterman. I was having the same issue, and your approach above worked. (using collection, doc, ... syntax).

@prescottprue Is there a reason users need to use the code above, instead of just using a string path? A string path seems faster and more convenient.

And it's equivalent to the code above, since you can always determine which path-node is a collection or doc base

[2017-11-30 17:24] Venryx opened #27 "Database data getting added at wrong path"
The screenshot below should mostly explain it:
![](https://i.imgur.com/ANSy1CZ.png)

Basically, entries in the database are getting added at "users/USERID/USERID" -- instead of just "users/USERID". (ignore the correctly-added entry -- that is from a retrieval of the collection as a whole, which adds entries correctly without the extra wrapper)

I haven't yet determined what is causing the above is

[2017-11-30 17:32] Venryx commented on #27
It appears to occur by calling:
[code]

Is this not the correct way to request the path "versions/v6-dev/users/USERID"?

This is the approach seemingly used here: https://github.com/prescottprue/redux-firestore/issues/24#issuecomment-346181659

[2017-11-30 17:52] Venryx commented on #27
At the moment, I am working around this issue with this terrible hack:
[code]

It runs as redux middleware, intercepting "LISTENER_RESPONSE" store-populator actions, and modifying the "data" property to hold the data for "users/USERID" directly, instead of `{USERID: data}`.

[2017-12-01 15:38] 0x80 commented on #16
I am missing this feature too.

[2017-12-01 16:50] 0x80 opened #28 "How to get to FieldValue?"
I need access to FieldValue. How can I make this work?

[code]

I can get it by importing firebase at the top of my file, and get it from there, but that seems a bit silly with the instance on props. And it would be easy to make a mistake with shadowing it.

[2017-12-06 10:08] #25 closed

[2017-12-06 10:57] prescottprue commented on #28
[The v0.1.0 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.1.0) includes a change where the statics from Firestore are now exported at the top level. That means it is available as you noted in your examples.

Let me know if it doesn't work as expected. Thanks for reporting.

[2017-12-06 10:57] #28 closed

[2017-12-06 10:58] prescottprue commented on #16
[The v0.1.0 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.1.0) includes `storeAs`. It should work for both `data` and `ordered` states.

Let me know if it doesn't work as expected. Thanks everyone for reporting and thumbs upping features you hope to see (helps prioritize).

[2017-12-06 10:58] #16 closed

[2017-12-06 11:36] Klabauterman opened #30 "Query with limit"
Atm it is not possible to add a limit clause to a query, correct?

[2017-12-06 19:37] prescottprue commented on #30
No not yet there isn't. The longer term plan is to include support for passing a ref directly.

[2017-12-07 09:24] 0x80 commented on #16
@prescottprue awesome! I'll give it a go soon.

[2017-12-08 05:54] prescottprue commented on #30
`limit` is supported as part of [`v0.2.0`](https://github.com/prescottprue/redux-firestore/releases/tag/v0.2.0). Thanks for the input and your patience while the library is still young.

[2017-12-08 05:54] #30 closed

[2017-12-08 05:56] prescottprue commented on #27
The [`v0.2.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.2.0) includes the fix that @danleavitt0 PRed.

Let me know if it isn't working as expected. Thanks for the detailed breakdown of your issue and the patience while this library is still young.

[2017-12-12 05:54] Venryx commented on #27
On trying the latest version in my project, I found that it did not fix the problem for me -- in fact, it made it worse. (instead of having it in a wrapper, it now just places "undefined" at the location)

However, I looked into the code and found out how to resolve it.

First, lets look at the code in question: (lines 31-36 of `src/reducers/dataReducer.js`)
[code]

There are two problems with thi

[2017-12-12 08:12] prescottprue commented on #27
@Venryx I noticed a worse condition for a few things to and started some fixes [on this pull request for v0.2.1](https://github.com/prescottprue/redux-firestore/pull/33/files) (not sure if you saw those)

It is changed to:

[code]

It does not contain the slice like your solution though, so going to add that.

[2017-12-13 15:02] diagramatics opened #34 "bug(reducers): multiple subcollections on same parent collection causes invalid merge"
Here's the scenario. This is React code with a router and I have two components on two different pages doing:

[code]

And the other one doing
[code]

Whenever I go from the first component to the second component,`firestoreConnect` on `group` would shallow merge the specific doc and removing the subcollection information stored in there, both on `dataReducer` and `orderedReducer`.

[2017-12-14 01:13] danleavitt0 opened #35 "Multiple where queries only applies last one"
In utils/query.js when applying the `where` this code is setting newRef to the last where:
[code]
I've tested a solution using reduce which I believe fixes this issue:
[code]

[2017-12-14 01:17] prescottprue commented on #35
@danleavitt0 On initial inspection of your solution, I agree. Would you want to open a PR? If not, I can try to get to it in the next few days. We can probably get this in v0.2.1.

[2017-12-14 01:19] prescottprue commented on #34
@diagramatics This should be fixed by [this PR for `v0.2.1`](https://github.com/prescottprue/redux-firestore/pulls), which has not yet been merged or released. Could you give it a try [using `npm link`](docs.react-redux-firebase.com/history/v2.0.0/docs/contributing.html#npm-linking) to confirm it fixes things for you?

[2017-12-14 01:20] prescottprue commented on #27
@Venryx Let me know if you get a chance to try it out. Want to make sure the fix correctly handles your use case

[2017-12-14 01:23] diagramatics commented on #34
Yeah I was using 0.2.1 to verify this still happens in the new version, and I believe it still does.

[2017-12-14 02:49] danleavitt0 commented on #35
Yeah I can open a PR. I will add the same fix to the addOrderByToRef.

[2017-12-14 04:26] Venryx commented on #27
Tried it out, and it does indeed fix both problems mentioned above.

[2017-12-14 04:26] #27 closed

[2017-12-14 07:20] shrizalz opened #36 "Example on Pagination"
I dont find any example on pagination with firestore. Any helps would be appreciated. Thanks

[2017-12-14 07:24] prescottprue commented on #34
@diagramatics Good to know. If you need a solution in the meantime you can use `storeAs` to place the data in different locations of redux and merge the data by hand.

[2017-12-17 00:05] prescottprue commented on #36
@shrizalz Great suggestion! I am looking into this over this weekend. Don't have a ton of experience with it so far (only done it by hand once), so it may end up requiring some internal changes of `redux-firestore` the example is easy to follow.

[2017-12-18 19:37] #35 closed

[2017-12-20 08:59] diagramatics opened #44 "Querying nonexistent data adds an entry in firestore.ordered but not firestore.data"
**Do you want to request a *feature* or report a *bug*?**

- [x] Bug

Not sure if this is intentional or not though, but inconsistent to rely on I find. Happy to make a PR to correct them — just needs to double check to see if this is a bug or not.

**What is the current behavior?**

Consider this action:
[code]

Will result in the store being updated as:

[code]

Which is supposedly inconsistent

[2017-12-28 08:33] jeandavid opened #45 "bug(reducer): delete does not remove item from data state"
firestore.delete correctly removes the item from the firestore database but not from redux store. ( I do have a listener, firestore.add works great)

[2017-12-28 11:07] prescottprue commented on #45
@jeandavid Are you using the newest version?

Does it remove from `firestore.ordered`? or is neither updating for you?

[2017-12-28 11:18] jeandavid commented on #45
I am using the newest 0.2.5 version. Deleted item is removed from firestore.ordered but not from firestore.data

[2017-12-30 17:13] joostfarla opened #46 "bug(orderedReducer): subcollections not updating state.ordered"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I'm using the following listener configuration for syncing a subcollection:

[code]

The resulting firestore object looks like this:

[code]

The `ordered` result is an empty array, but the `data` result contains the correct documents.

When I inspect the corresponding `@@reduxFirestore/LISTENER_RESP

[2017-12-31 08:30] joostfarla opened #47 "Document of subcollection not updated correctly"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When I try to update a document within a subcollection, the change is performed on the subcollection, not the document itself.

The update statement:

[code]

The `@@reduxFirestore/UPDATE_REQUEST` action object:

[code]

**What is the expected behavior?**

I would expect the document within the subco

[2018-01-06 09:38] muhammadsayuti opened #48 "feat(query): support for populate on queries"
Do you have any thought about making populate feature for this like in react-redux-firebase ?

While subcollection is good but based on the documentation said:
Limitations: You can't easily delete subcollections, or perform compound queries across subcollections.

Well if you want me to help i have some sample to make this work that i take from your pupulate.js file in react-redux-firebase with so

[2018-01-06 19:55] prescottprue commented on #48
@muhammadsayuti Definitely interested, and there have been a few people already looking for this feature. [Here is the issue on react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/362) where the feature was requested.

This will most likely require changes in both `redux-firestore` and `react-redux-firebase`.

Feel free to post what you have or reach out over [gitter]

[2018-01-10 12:53] Floriferous commented on #47
Seeing the same problem, I can't seem to add/set or update a subcollection.

[2018-01-11 17:10] Klabauterman commented on #34
I have the same issue even in 0.2.5. It is also a problem if you have two subcollections in the same parent document. Both are updating the parent document and the second subcollection update removes the data of the first one from the store-state. Maybe I could use storeAs as a workaround, but I think that is not a good solution.

[2018-01-20 15:44] Jmeyering opened #49 "bug(dataReducer): setListener(s) clear's out the subcollection of a document"
IT looks as though when a document updates through `setListener(s)` the data I get back does not include any subcollections I have previously pulled.
[code]

I have my redux connect listening to `firestore.data.items[itemId].additions`

I expected that when the listener updates the root item, it wouldn't clear out the `additions` subcollection. However when I get data back from the listener, the `

[2018-01-21 07:26] prescottprue commented on #49
@Jmeyering Not sure I am completly understanding. Is there a reason that you can not just apply the listener? Is there a reason to be getting the data then adding a listener for that same data instead of just creating the listener?

If data is being cleared from redux when you aren't expecting it to, we should definitely get to the bottom of that. Just want to make sure that I understand the use c

[2018-01-21 14:30] Jmeyering commented on #49
Ok so you are correct on that point, I didn't understand that `setListener(s)` also fetched the data initially.

The issue is the same though, I create the listener

[code]

And my component is actually connected to the redux key `firestore.data.items[itemId].additions`

And initially it works fine, but if something changes on the parent item doc the listener clears out the additions subcollection

[2018-01-24 23:46] QuentinBrosse opened #50 "orderBy don't return any results"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

My query return expected results (but not ordered) without the `orberBy` and return an empty result with the `orberBy`.

[code]

But without, I have expected results:

[code]

**What is the expected behavior?**

Unless i'm mistaken, the `orderBy` should not affect the number of retrieved results but

[2018-01-25 16:31] Floriferous opened #51 "Querying subcollections always warns "Listener does not exist""
In one of our components we are querying a subcollection like this:

[code]

When starting the app, this always shows 2 warnings:

`Listener does not exist for stripeCustomers/someUserId/sources`
`Listener does not exist for stripeCustomers/someUserId/charges`

I looked at the code that generates these 2 errors, but was unable to understand whether this is a correct or incorrect warning, as it see

[2018-01-26 06:09] prescottprue commented on #50
Did you check that the indexes were set for that type of query? It may be that they are not and an error should be getting thrown to the error state (this is just a guess though).

Either way will try to replicate. Thanks for reaching out.

[2018-01-26 12:49] QuentinBrosse commented on #50
The first time I try to run this query, en error tel me that I have to create an index: `The query requires an index. You can create it here <link>`. So I click on the link and create the index:

<img width="938" alt="screen shot 2018-01-26 at 13 46 25" src="https://user-images.githubusercontent.com/10938538/35440369-613250c2-029f-11e8-8909-b6ca9cc2005d.png">

I retry to run the same query, this t

[2018-01-28 16:31] compojoom opened #52 "bug: wrong merge of subcollection"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm trying to request a collection and a subcollection:
{
        collection: 'companies', doc: company,
        subcollections: [{ collection: 'users' }]
      }

**What is the expected behavior?**
the expected behavior is to receive the doc + a subcollection

Instead the subcollection overrides all p

[2018-01-28 16:36] compojoom commented on #52
Hm, maybe I missunderstood the docs:
{ collection: 'cities', doc: 'SF', subcollections: [{ collection: 'zipcodes' }] },

thought that this would get me the cities/SF + cities/sf/zipcodes?
but it seems that if I want the doc cities/SF - I should just do another call?

Is this the correct behavior?

[2018-01-31 08:26] prescottprue commented on #52
@compojoom That is correct behavior currently, but I have noticed this means repeating myself in a few places.

What are your thoughts on the potential of an option on the query to get both the document and the subcollection? Under the hood it would be two queries, but it might mean much less repeating ourselves.

Maybe something like:

[code]

[2018-01-31 10:02] prescottprue commented on #51
Removed in `v0.2.6`. Thanks for reporting :)

[2018-01-31 10:02] #51 closed

[2018-01-31 10:04] prescottprue commented on #50
@QuentinBrosse [`v0.2.6`](https://github.com/prescottprue/redux-firestore/releases/tag/v0.2.6) includes the fix that @danleavitt0 provided. Let me know if it doesn't work as expected.

[2018-01-31 10:04] #50 closed

[2018-01-31 10:42] compojoom commented on #52
Well, actually - once you know that you can't do it in one go it's a no-brainer. Maybe we should change the docs and mention this behavior?

[2018-01-31 19:39] QuentinBrosse commented on #50
Thanks a lot, it works like a charm ! :)

[2018-02-07 07:42] prescottprue commented on #44
Closing since this is seems to be a duplicate of #44

[2018-02-07 07:42] #44 closed

[2018-02-07 07:53] prescottprue commented on #49
@Jmeyering For now you should be able to use `storeAs` to place the results within a different location of redux.

I am looking into merging issues for #34 as well. Hoping that they are related.

[2018-02-07 09:46] prescottprue commented on #47
@Floriferous Providing multiple subcollections to the array denotes levels deep within a subcollection for the path (i.e. subcollection of subcollection).

It seems to be working for me if providing config as @Floriferous stated. Open to ways of making this more clear in the docs.

[2018-02-07 11:21] Floriferous commented on #47
Ah yes, it wasn’t clear that multiple subcollections in the array are nested in the order in which they appear in that same array.

At the same time, now you mention it, it’s the only obvious way it should work. Wouldn’t make much sense to modify an object in 2 sibling subcollections with the same id in a single operation!

[2018-02-09 10:18] shashankbarsin opened #58 "No way to specify direction (asc/desc) for orderBy"
https://github.com/prescottprue/redux-firestore/blob/ba627c012f2397e1b40da740838fa584a1106d29/src/utils/query.js#L38

If I pass in an array to orderBy today like orderBy:['timestamp', 'desc'], it orders using 'timestamp' and 'desc' as fields. Need a way to specify the direction for each of the fields

[2018-02-09 10:42] #58 closed

[2018-02-13 12:44] jeongsd opened #60 "feat(query): support reference data type"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
data type
[code]
query
[code]
result
[code]
![image](https://user-images.githubusercontent.com/7903426/36150135-fa8e4c7a-1105-11e8-868d-82379ef2bbf0.png)

**What is the expected behavior?**
[code]

[2018-02-13 14:37] jeongsd commented on #60
I am aware that it's not a good idea, but I'm using it with `react-redux-firebase` as shown below, as a temporary solution.
[code]

[2018-02-18 09:35] prescottprue commented on #60
@jeongsd That is not a bad idea at all, and is actually currently what I have done too.

redux-firestore hasn't handled reference objects for a few reasons:
* Up until this point everything stored in redux state has been only normal JS objects (i.e. not Classes or Objects with extra methods).
* Storing strings with keys will work with [`populate` from `react-redux-firebase`](http://react-redux-fir

[2018-02-21 09:42] brettdewoody opened #63 "bug: "Error: Listeners must be an Array of listener configs (Strings/Objects)""
I'm trying to get a basic working example using `create-react-app`, `redux-firestore` and `react-redux-firebase`. I've followed the Firestore Getting Started instructions and am getting the following error when viewing my app:

    Error: Listeners must be an Array of listener configs (Strings/Objects)

on

    ReactDOM.render(<AppContainer />, document.getElementById('root'))

where `<AppContaine

[2018-02-21 17:57] prescottprue commented on #63
@brettdewoody As the error mentions you need to pass an array of listeners when using `setListeners` (what `firestoreConnect` calls internally). If you want to set just one listener, make that the first item of the array:

[code]

[2018-02-21 17:57] #63 closed

[2018-02-22 05:46] cazzer opened #64 "`firestore.update` throws an error"
I think this is a bug or a documentation error. Current running `redux-firebase@0.2.7`.

The `firestore.update` example in the [README.md](https://github.com/prescottprue/redux-firestore/blame/master/README.md#L109) is throwing the following error for me:
[code]
It is unclear if there is another method I should be using for updating records.

[2018-02-22 22:51] prescottprue commented on #64
The code is supposed to be:

[code]

Notice how there were three arguments passed where there should have just be two. I'll make sure to fix that in the README.

Let me know if the new snippet doesn't work as you expect. Thanks for reporting!

[2018-02-22 22:51] #64 closed

[2018-02-23 07:47] cazzer commented on #64
Thanks for the quick reply and documentation fix, it works as expected.

[2018-02-23 15:11] franvera opened #65 "feat support for query cursors for pagination"
Add startAfter, startAt, endAfter, endAt query methods to the reference building.

Docs: https://firebase.google.com/docs/firestore/query-data/query-cursors

[2018-02-24 12:36] prescottprue commented on #65
Included in [`v0.3.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.3.0). Thanks for the help!

[2018-02-24 12:36] #65 closed

[2018-02-24 12:38] prescottprue commented on #45
@jeandavid This should be fixed as part of [the `v0.3.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.3.0).

Items within data are being set to `null` when `DELETE_SUCCESS` actions are dispatched. There is also a matching tests for it.

Thanks for reporting!

[2018-02-28 01:29] prescottprue commented on #46
Fixed as part of [`0.3.1` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.3.1).

Reach out if things are working as expected. Thanks for reporting!

[2018-02-28 01:29] #46 closed

[2018-02-28 01:30] prescottprue commented on #49
Fixed as part of [`0.3.1` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.3.1).

Reach out if things are working as expected. Thanks for reporting!

[2018-02-28 01:30] prescottprue commented on #34
Fixed as part of [`0.3.1` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.3.1).

Reach out if things are working as expected. Thanks for reporting!

[2018-02-28 01:30] #34 closed

[2018-03-01 14:10] will-hart opened #71 "Deleting object properties doesn't update the UI since 0.3.1"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If you have an object within a document, then **deleting** keys from that object doesn't update the `firestore.data` variable, however  `firestore.ordered` is updated. This means the if the component uses `firestore.data` then the UI is not updated to reflect deleted keys. The database *is* correctly

[2018-03-01 17:35] prescottprue commented on #71
@will-hart It looks like we might have to add a case for `DELETE_SUCCESS` here the same way we did with the orderedReducer in #45. Using `assign` before made things work for this case, but it seemed to be part of what was causing #49 (hence the change to `merge`).

I was also planning on having an option of whether or not to merge [similar to the `mergeOrdered` option](https://github.com/prescottp

[2018-03-02 09:19] prescottprue commented on #71
@will-hart can you confirm that [the reverted code in this PR](https://github.com/prescottprue/redux-firestore/pull/72) fixes things for you? Want to make sure I am fully catching the use case.

[2018-03-02 09:50] will-hart commented on #71
Awesome! I'll try to have a look over the weekend.

[2018-03-02 22:30] prescottprue commented on #49
The fix for this caused issues with deleted properties not being removed (#71) so it is being removed for now.

Merging vs assigning (fixes this issue) will be handled in upcoming versions (after more tests exist) so going to reopen this.

[2018-03-04 22:48] prescottprue commented on #71
The v0.3.2 fix reverted the usage of `merge` which fixes this. Going to make sure to add a test case for this before trying to fix the merging of subcollections.

[2018-03-04 22:48] #71 closed

[2018-03-04 22:58] prescottprue opened #73 "feat(query): subcollections of subcollections"
**Do you want to request a *feature* or report a *bug*?**

Bug - Subcollections of subcollections not working on `v0.3.*`

[code]

**What is the current behavior?**
Throws
`"Error: Collection can only be run on a document. Check that query config for subcollection "otherThings" contains a doc parameter"`

**What is the expected behavior?**
1. This feature continues to be supported
1. There is a te

[2018-03-07 01:38] karltaylor commented on #13
If anyone came across this, this is working. And you can setup using both `getFirebase` and `getFirestore` by passing in multiple arguments to `applyMiddleware`.

[code]

and within your thunk:

[code]

[2018-03-07 16:45] robertedjones opened #74 "bug(query): Subcollections return an error"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Trying to get a subcollection produces the error:

**What is the expected behavior?**
The subcollection is retrieved

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**
Current version, haven't used previous versions

**Steps

[2018-03-12 21:50] danleavitt0 commented on #74
The get object should have `doc` not `document`

So:
[code]

[2018-03-13 05:19] prescottprue commented on #74
@danleavitt0 Thanks for responding. @robertedjones if that does not fix your issue, please reach out.

[2018-03-13 05:19] #74 closed

[2018-03-14 10:04] Sgiath commented on #52
Hi I have slightly different problem. I figure it out that i need to do multiple queries to get document with his subcollections. So I did something like this:
[code]
And it works correctly for `firestore.data` I have there:
[code]
But for `firestore.ordered` the data are rewritten instead of compose together (only `tasks` are there - the last query):
[code]

The workaround is to use `storeAs` but

[2018-03-15 16:17] amaldare93 commented on #71
this issue is still happening for me,

im running these versions

[code]

I am deleting keys like this:
[code]

and tracking them like this:
[code]

am i doing anything wrong? i see the things being deleted in the firebase console. but my app doesnt respond to those changes unless i kill and restart

[2018-03-15 22:03] prescottprue commented on #71
@amaldare93 A few things:
* Calling update directly will call to update Firestore, but a listener will still be required on that path. Since it looks like you are only creating a listener for the current user, removing data from `targetUserChatsRef` **will not** update redux store (this is because an action needs to be dispatched for state to be updated, which will not happening when calling batch

[2018-03-16 11:44] amaldare93 commented on #71
1. thats fine for my use case, I only need to update based on current user, not target user (im probably going to refactor that out bc it feels dirty to write to another user's doc)

2. Thanks for the tip, what is the best way to access the current user id? should i pull it from firestore profile?

and thanks for looking in to it :)

[2018-03-16 21:15] acoreyj opened #75 "enablePersistence"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
No enablePersistence option

**What is the expected behavior?**
enablePersistence option is available

Here is the docs
https://firebase.google.com/docs/firestore/manage-data/enable-offline?authuser=0

I havedn't dived into too much how it works but may need to populate the state based on the cache

[2018-03-16 21:16] acoreyj opened #76 "Transaction and Batched Writes"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
No functions for transactions and batched writes

https://firebase.google.com/docs/firestore/manage-data/transactions?authuser=0

[2018-03-16 21:23] #75 closed

[2018-03-30 09:51] buinauskas opened #78 "TypeScript definitions for firestoreReducer"
**Do you want to request a *feature* or report a *bug*?**
Reporting a bug

**What is the current behavior?**
Exception is thrown during compilation

**What is the expected behavior?**
A proper reducer is being created

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**
0.3.2

**Steps to reproduce and if possible a minimal

[2018-03-31 11:06] komasoftware commented on #45
I am at the latest version 0.3.2 and I am still seeing this issue.

When I delete a document from firestore using the console, my LISTENER_REPONSE is fired off but the deleted document is still present as state under 'firestore.data' It is only removed from 'firestore.ordered'.

Am I missing something here ?

[2018-04-05 03:46] prescottprue commented on #45
@komasoftware Though I don't like this answer for now: `v0.3.1` should work for you, but the change needed to be revered in `v0.3.2`.

Currently with how the reducer works, either merging can be enabled to preserve sub-collections or it can be off to make sure that listener responses that remove properties still work.

Going to reopen this until we have a better solution, thanks for the reminder.

[2018-04-12 09:12] prescottprue commented on #49
Made some great progress on fixes which implement `docChanges` that could help solve this issue going to wait until tests are written before merging.

[2018-04-16 11:52] compojoom opened #82 "UPDATE_SUCCESS not updating the data reducer"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
We have 3 filtered views. When the page loads the user is presented with the first tab where we are filtering on state == 0 and we have a pagination.

The user is able to change the state to 1, then the UI should update and the item should be removed.

We use the update function and we are seeing 2 act

[2018-04-16 19:31] prescottprue commented on #82
So it seems like you do not have a listener attached at that path? Something that has been unclear so far is if folks are expected updates to happen in state even if they do not have listeners attached, in this case, that seems like what you are asking for.

The answer to your question of why `UPDATE_SUCCESS` is not in the reducer is that most have a listener attached which updates state, and that

[2018-04-16 20:11] prescottprue commented on #82
Just as previously mentioned, when adding `UPDATE_SUCCESS` case to the `dataReducer` causes multiple updates in the case of a listener being attached. If updates from the listener are ignored then changes made outside of the client would not be propagated to state.

It seems like deep equals comparison on the document may be the only real way to make it work in both cases. Even with that, we still

[2018-04-16 20:16] compojoom commented on #82
Well, yea. i haven't noticed that up until now, because in my current use cases if i had a list, to update a single list item - I always had a new view - which directly listens to this document. So updates here are propagated to the store.

But in this particular case we have a list with items and we are updating the items in the list - without attaching listeners to the documents themselves. If w

[2018-04-17 08:04] prescottprue commented on #45
v0.4.0 was released which correctly updates ordered state if either a collection or document listener is attached. Thanks for reporting.

[2018-04-17 08:08] #78 closed

[2018-04-17 08:09] prescottprue commented on #78
[v0.4.1 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.4.1) includes the typings for `firestoreReducer` that are similar to the ones for firebaseReducer.

Let me know if things don't work as expected.

[2018-04-17 08:09] #73 closed

[2018-04-17 09:25] komasoftware commented on #45
Verified ! Thx !

![selection_855](https://user-images.githubusercontent.com/482152/38861063-ecd5b67e-4231-11e8-8c85-cd9ce5c93631.jpg)

[2018-04-18 09:23] MettaProgrammer opened #84 "Creating a document no longer seems to update the dataReducer"
I updated from 0.3.2 to 0.4.1 for the on deletion fix for the dataReducer however it appears to no longer push the new document to the store.

I can see that the document is successfully created in my firestore dashboard but I receive no new props, I do receive new props on document deletion and modification just not creation.

If I switch to the orderedReducer then it works as expected, it's also

[2018-04-18 17:26] prescottprue commented on #84
@MettaProgrammer Thanks for reporting. Will look into this today.

[2018-04-19 07:18] #84 closed, assigned to prescottprue

[2018-04-20 23:33] prescottprue opened #86 "bug(ordered): ordered state incorrectly updated when using subcollections"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**What is the expected behavior?**

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**

**Steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

[2018-04-23 07:12] #82 closed

[2018-04-23 10:34] jcmandersson commented on #82
Hey! I have the same problem. How did you decide to solve it?

[2018-04-23 10:36] compojoom commented on #82
@jcmandersson - can you use the ordered reducer? I think that the items there are getting updated correctly.

[2018-04-23 10:45] jcmandersson commented on #82
You are correct, thank you!

[2018-04-25 17:43] compojoom opened #88 "bug (data): Document_modified from nested collection incorrectly merged in the data reducer"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When a document gets updated and the DOCUMENT_MODIFIED is triggered it isn't merging the data correctly in the data reducer.

**What is the expected behavior?**
We have a listener on companies/{companyid}/users
When a user object gets changed a DOCUMENT_MODIFIED action gets dispatched, but instead of m

[2018-04-25 21:38] compojoom commented on #88
@prescottprue I hope the following info can help you. I looked at this a little further and as usual the problem looks bigger than originally anticipated.

Originally I thought that you are constructing the wrong path for merging, which is still the case, but it's not the fault of the pathFromMeta function in utils/reducers.js

The problem comes from the docChangeEvent function. There we do this `

[2018-04-25 22:53] jwbrew commented on #88
I've been experiencing the same issue today. `DOCUMENT_ADDED` metadata didn't include the id of the subocollection item being created, therefore `pathFromMeta` was constructing the wrong path and inserting it at the parent level.

Weirdly occasionally it would work when the store was populated with a `LISTENER_RESPONSE` instead of `DOCUMENT_ADDED`.

Wondering whether it has something to do with re

[2018-04-25 23:04] compojoom commented on #88
and here I was trying to traverse nested arrays and update the last subcollection with a docid.

@jwbrew - this looks like a cool solution to me. I tested it and it works in most cases.

Unfortunately there is still this problem though https://github.com/prescottprue/react-redux-firebase/issues/427

if the doc you are updating has the syntax of example@example.com the updated object will end up ex

[2018-04-25 23:13] compojoom commented on #88
the issue here is a "problem" with the way lodash treats the dot. The workaround suggested on the lodash issues list is to use array of paths instead of a string separated with dot.
So if we do:
[code]
then updating a document id example@example.com works fine.

Maybe we should change pathfromMeta to return an array? lodash get and set should work just find with it.

@prescottprue - what do you th

[2018-04-26 06:51] jwbrew commented on #88
Good catch on the syntax @compojoom. Array sounds like a much better solution.

[2018-04-27 07:15] prescottprue commented on #88
Commented on there, but would love to get this into `0.5.0`.

Been working on adding support to the orderedReducer for using `storeAs` with subcollections, so haven't gotten into this beyond looking at @compojoom commit.

[2018-04-27 07:16] #86 closed

[2018-04-27 08:27] prescottprue commented on #88
@compojoom Really like the usage of path, so I went ahead and added your solution to the `v0.5.0` branch. Going to wait until we understand the impact on `storeAs` before publishing to latest.

[2018-05-01 16:45] ivawzh opened #90 "[bug] Limit is ignored when the rest of query meta are the same"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Context:
  Firstly, set listener `{ collection: 'book', limit: 3}`
  Later, set listener `{ collection: 'book', limit: 6}`

Currently, the listener won't be updated. It remains to be `{ collection: 'book', limit: 3}`. It also does not trigger the second query at all.

That's because `limit` is ignored

[2018-05-04 09:04] prescottprue commented on #90
Fixed as part of [`v0.5.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.0). Reach out if it doesn't work as expected.

Thanks for reporting!

[2018-05-04 09:04] #90 closed

[2018-05-04 09:06] prescottprue commented on #88
Fix proposed by @jwbrew included as part of [`v0.5.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.0).

@jwbrew and @compojoom thanks for coming up with the fix. Reach out if it doesn't work as you expect.

[2018-05-04 09:06] #88 closed

[2018-05-05 13:55] ivawzh opened #91 "[bug] `LISTENER_RESPONSE` does not update `ordered`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When received action "@@reduxFirestore/LISTENER_RESPONSE", only `data` got updated, not `ordered`.

![image](https://user-images.githubusercontent.com/4622799/39663921-b73a649c-50be-11e8-82a3-4825c81c3900.png)

**What is the expected behavior?**
Expect both `ordered` and `data` to be updated.

**Which

[2018-05-05 15:47] ivawzh commented on #91
Just some guess, `storeAs` might need to be removed from here

https://github.com/prescottprue/redux-firestore/blob/master/src/reducers/orderedReducer.js#L97

Code above treats `storeAs` as item ID and try to search item by field `id` in `ordered` array as below https://github.com/prescottprue/redux-firestore/blob/master/src/utils/reducers.js#L112

Not sure if it's intended.

[2018-05-05 19:48] prescottprue commented on #91
Thanks for reporting! Will look into it this weekend, but feel free to open a PR if you get a chance.

I believe that change was part of an update to help certain use cases of storeAs, so the bug being in https://github.com/prescottprue/redux-firestore/blob/a2764a7ca5165fdb01304200e485a9e5fd8bfb07/src/reducers/orderedReducer.js#L97 makes sense.

[2018-05-06 12:46] ivawzh commented on #91
Thanks for the quick positive response! 🥇

[2018-05-06 14:45] klopfer commented on #76
Thanks.  Will test.

[2018-05-07 19:31] prescottprue opened #93 "bug(core): store.firestore with all internal methods may cause performance issues"
**Do you want to request a *feature* or report a *bug*?**
BUG - code added in `0.5.1` to enable other methods such as `batch` cased performance degredation

**What is the current behavior?**
All methods on `firebase.firestore()` are available on the `store.firestore` instance, but this causes performance issues if firestore is passed as a prop (as it is with `withFirestore` and `firestoreConnect`

[2018-05-10 04:24] skucher opened #94 "(question) Recursive subscription"
### What would be the best approach to subscribe to any change in the tree?
### My firestore document layout
[code]
### For example
- root level doc addition/removal/change
- subcollection addition/removal/change
- subdoc1 addition/removal/change

### I tried
[code]
But it did not give me any data on subcollection level.
Do i need to handle the subscription myself on client level? Or is there a be

[2018-05-10 18:08] prescottprue commented on #94
@skucher That is expected, and this may be a dupe of #52. When creating a listener you point to a collection or a document, but neither automatically include subcollections. Automatically doing so was intentionally avoided since it could have major performance and cost implications in some cases.

In order to get a document and a subcollection of that document you have to provided listener setting

[2018-05-11 07:59] skucher commented on #94
Thank you very much.
Let me explain my simplified use case.

Having the tree structure as in above example and knowing only the *rootcollection* name i would like to show the tree above to my user. And refresh it on every update, done by my app or any other app that updates any level of data under *rootcollection*.

Is it possible / recommended to use redux-firestore for that?

**Note:**
I have id

[2018-05-11 17:24] CoVoCre opened #95 "complete example : yarn start : unknown plugin "lodash""
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
example complete fails to run/build

**What is the expected behavior?**
Run/build example complete

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**
I have yarn 1.4.0, did not change any of the package.json, but got, when ru

[2018-05-11 17:30] CoVoCre commented on #95
I tried the fix proposed [there](https://github.com/gajus/react-css-modules/issues/31#issuecomment-160108211) but only got more problems...

[2018-05-11 18:38] prescottprue commented on #95
@CoVoCre It seems to be because it is defaulting to the root `.babelrc` instead of using the babel settings in the ` webpack.config.js`. I will look into a way to prevent this from happening.

[2018-05-11 19:07] prescottprue commented on #95
Just merged that `babelrc: false` change along with a few other small things.

Like I said, I wasn't able to repro, so not positive of if it will fix it on your system.

Let me know if things are still not working for you and we can reopen. Thanks for reporting!

[2018-05-11 19:07] #95 closed

[2018-05-11 19:12] prescottprue commented on #94
There is not currently a way to check for subcollections that you don't know the name of using Firestore's client API, they suggest doing it within a cloud function with the Firebase Admin SDK [as mentioned in this stackoverflow post](https://stackoverflow.com/questions/48258632/fetching-all-collections-in-firestore) and a few places in the Firebase docs.

My suggestion is to have a function handl

[2018-05-12 21:09] nickw opened #96 "bug(orderedReducer): deleting an item from nested collection doesn't remove item from ordered reducer"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When calling `delete`:
[code]

I see the action being fired with the correct payload:
<img width="311" alt="screen shot 2018-05-12 at 2 03 55 pm" src="https://user-images.githubusercontent.com/3907/39961561-8fae7844-55ed-11e8-9381-48c9ef0f3904.png">

And I see the `data` reducer showing `null` for th

[2018-05-13 19:36] prescottprue commented on #96
@nickw Thanks for reporting. Out of curiosity, do you have a listener attached for that path?

[2018-05-14 02:11] nickw commented on #96
@prescottprue Hmm I don't believe so. Here's the relevant pieces of code:

[code]

[2018-05-14 22:12] igor-lemon opened #98 "bug(query): queries made with firebase v5 SDK not writing to state"
I can't to subscribe on collection
![image](https://user-images.githubusercontent.com/14764799/40026108-b35a42dc-57dc-11e8-8b6d-b41214165fb5.png)

I tried do
`firestore.onSnapshot({ collection: 'sources', doc: profile.uid })`
`firestore.onSnapshot({ collection: `'sources.${profile.uid}'`})`

I tried to change to setListener insted onSnapshot. Any results...

[2018-05-14 23:26] prescottprue commented on #98
@igor-lemon Not sure what you mean by "Any results". What does your `connect` logic look like (i.e. how you are connecting to state). Remember that creating this listener will only get the data into redux state, you are still need to get that redux state into your component.

The second example you provided is not valid since it uses dot notation, but your first example should work fine.

[2018-05-14 23:39] igor-lemon commented on #98
@prescottprue Thanks for fast answer.
I understand it. I mean that I have inited listeners but I didn't have any data. I posted an screenshot with my real structure of DB. It's my Redux store.
![image](https://user-images.githubusercontent.com/14764799/40028541-02799f88-57e8-11e8-923c-cfc8befffabd.png)

Very interesting. It works well if I have not deep doc's.
![image](https://user-images.githubus

[2018-05-15 06:51] prescottprue commented on #98
@igor-lemon What you are seeing is expected. You are showing that you are creating a listener for a document. That will not include data within that document's subcollections, for that you need a different listener config:

[code]

If you want both the document and the subcollection you will have to create a listener for each separately:

[code]

#52 includes discussion about a feature to be able

[2018-05-15 07:12] igor-lemon commented on #98
I tried it too :) Before write issue I recombined dozens of ways

[code]
[code]

[2018-05-15 07:26] prescottprue commented on #98
@igor-lemon It is pretty hard to debug any further with the currently provided info. The provided syntax works for a large number of applications, so it seems like it may have to do with your setup.

Do you have rules on your Firestore instance? Where are you getting the Firestore instance from? How are you calling `firestore.onSnapshot`, are you sure it is the dispatch decorated version (i.e. fro

[2018-05-15 07:43] prescottprue commented on #96
Fixed in [`v0.5.2` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.2) with included unit tests. Thanks for reporting!

[2018-05-15 07:43] #96 closed

[2018-05-15 15:41] nickw commented on #96
Fixed confirmed - thanks @prescottprue !

[2018-05-15 17:38] prescottprue commented on #96
Glad to hear @nickw. You may have already noticed, but `react-redux-firebase` has the `firestoreConnect` HOC which manages listeners on component mount/unmount for you so you don't have to call to get data on component mount.

[2018-05-15 18:56] nickw commented on #96
Ok thanks, I'll give it a shot! Does that also inject a `firestore` prop or do I also need `withFirestore`?

[2018-05-15 21:54] prescottprue commented on #96
@nickw Yup, it also injects the `firestore` prop 😄

[2018-05-17 02:22] PAK90 opened #99 ""QuerySnapshot.docChanges has been changed from a property into a method" error."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Collection doesn't load, get an error in console.

**What is the expected behavior?**
Collection in my Firestore should be loaded.

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**
I'm using latest (0.5.2) version in latest

[2018-05-17 19:42] prescottprue commented on #99
Thanks for reporting! Which version of the Firebase JS SDK are you using? Thinking that there was a recent change causing this.

I'll work on a fix, but I'm also going to look into modifying the tests to check for both older and newer versions of the Firebase SDK (I think they currently use v4 instead of v5).

[2018-05-17 23:01] igor-lemon commented on #98
So, you closed the ticket early. Simple try to listen collection.
`firestore.onSnapshot({ collection: 'sources' })`

I have similar error
https://github.com/prescottprue/redux-firestore/issues/99

[2018-05-18 00:39] prescottprue commented on #98
@igor-lemon I was unaware of the fact that you were using firebase v5 or that there were error logs of any kind.  There were some breaking changes in the v5 update, so switching back to v4.*.* should work for now.

To make sure your issue can be correctly reproduced in the future, it will help to provide the Firebase library version as well as any console errors you may be seeing.

I have already

[2018-05-18 01:38] PAK90 commented on #99
You mean the [firebase npm package](https://www.npmjs.com/package/firebase), I'm assuming? I'm using v5.0.2 of that.

[2018-05-18 19:00] #99 closed, assigned to prescottprue

[2018-05-18 19:00] prescottprue commented on #98
The [`v0.5.3` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.3) fixes this, and the examples were updated to use firebase `^5.0.2`. Thanks for reporting!

[2018-05-18 19:00] #98 closed

[2018-05-18 19:03] igor-lemon commented on #98
Thank you so much! Great lib! :)

[2018-05-18 23:00] igor-lemon opened #101 "bug(orderedReducer): DOCUMENT_ADDED action not correctly updating state for subcollections"
I think adding document action at `ordered` reducer doesn't work correct.
I added new document into `sources/{userID}/cards` collection but new document at `ordered` reducer was put into `sources` obj, not  `sources/{userID}/cards`
But new doc was put correct into `data` reducer
![image](https://user-images.githubusercontent.com/14764799/40261155-bedccb56-5b07-11e8-9b1d-4ae6526fa894.png)

[2018-05-19 07:39] prescottprue commented on #101
It looks like the DOCUMENT_ADDED for ordered isn't handling subcollections yet. If you have a listener attached for that path, it should correctly update state.

[2018-05-19 21:50] prescottprue commented on #101
@igor-lemon I have been debugging and am seeing some different results (also not correct though). Did you using the `add` method to add the document? or dispatch it yourself?

What action action was dispatched right before? Thanks for reporting - I am finding that if you do not have a listener attached to the specific sub collection things do not work at all as expected.

[2018-05-20 00:12] igor-lemon commented on #101
Yep

[2018-05-20 21:02] prescottprue commented on #101
Fixed in the [v0.5.4 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.4). Reach out if it isn't working as expected. Thanks for reporting!

[2018-05-20 21:02] #101 closed

[2018-05-20 23:40] igor-lemon commented on #101
Thanks

[2018-05-20 23:43] igor-lemon opened #103 "bug(orderedReducer): LISTENER_RESPONSE action not correctly updating state for subcollections"
After doc delete `ordered` object doesn't update, was updated only `data` object.

[2018-05-21 08:44] prescottprue commented on #103
@igor-lemon If you use `storeAs` things should work as expected. I am working on some `LISTENER_RESPONSE` changes that are on the [`0.5.5`](https://github.com/prescottprue/redux-firestore/pull/104). Is it possible for your to pull that branch and [follow the link instructions](http://react-redux-firebase.com/docs/contributing.html#npm-linking) to checkout if it fixes things for you?

It seems that

[2018-05-21 20:50] igor-lemon commented on #103
Sure.
So, I installed 0.5.5 and don't see any changes. After delete updates only data collection.

No I think it isn't relating with connect method. For reproduce set a listener fo deep collection and after delete a document from this collection. I can show you my code but it code isn't simple and you will not reproduce it fast on your side. Let's try to repeat steps that I wrote above.

[2018-05-21 23:30] prescottprue commented on #103
@igor-lemon I understand that it isn't due to the `connect` method - I am trying to replicate your exact use case. To do that it helps if you can provide which listeners you are creating, how and how you are connecting to state.

I have repeated your steps, but without more detail on the setup it is tough to try to repro.

[2018-05-21 23:31] igor-lemon opened #105 "Rewrite DOC ID in Ordered collection"
Hi. I have an issue. I have two documents with `id` and without `id` field. In `ordered` collection I have an array with 2 elements. And each element of array have an `id` field. First document has `id` equals id that was in this document, second element has an `id` equals firestore document id. It's ok, but I can't get an `id` of document if document has the personal `id` field.
So I think good f

[2018-05-21 23:34] igor-lemon commented on #103
@prescottprue Ok. Tomorrow I'll write a small sample for reproduce the bug.

[2018-05-21 23:56] igor-lemon opened #106 "Correct sort after adding a new element"
After adding a new item the `ordered` collection has wrong sorting. New element has last position but after page refresh it element has first position (I didn't apply any sort filters).

[2018-05-22 09:55] prescottprue commented on #106
Please provide listener settings. It is difficult to fully reproduce issues without listeners and connect logic.

Document updates from Firestore include old and new index, which are used by the reducer to place within state. Without knowing the listener (i.e. what level the update is occurring within state) hard to tell why this wouldn't be happening.

[2018-05-25 22:30] prescottprue commented on #106
@igor-lemon Is it possible to provide listener and connect settings to repro?

[2018-05-26 00:43] prescottprue opened #107 "bug(query): not attaching multiple listeners with same config other than storeAs"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When making two separate queries with the same configuration

**What is the expected behavior?**
Using `storeAs` should cause the queries to be treated as seperate (i.e. attach both instead of skipping it)

**Which versions of dependencies, and which browser are affected by this issue? Did this work in

[2018-05-30 21:04] ejoubaud opened #108 "bug(actions): `firestore.runTransaction` always fails"
Hi @prescottprue 👋 First of all awesome work on those awesome libs, thanks a lot!

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Any call to `firestore.runTransaction`, at least with the `firestore` prop provided by `withFirestore`, results in a `Cannot read property 'apply' of undefined` error because it ends up calling `.runTransaction` on the

[2018-05-30 21:58] prescottprue commented on #108
Weird, this didn't seem to be an issue in the past, but what you are mentioning looks correct. Open to a PR if you get a chance, otherwise, I will try to get to it soon.

[2018-06-03 17:40] jollyBaker commented on #60
I think the expected behavior from jeongsd would be great.

Just trying to implement the case that I have subcollection with references to another collection. Is there currently some easy method to call/populate that?

[2018-06-04 18:34] prescottprue commented on #60
@jollyBaker Not yet, but definitely high on the priority list.

[2018-06-10 19:03] LetsSupport commented on #99
Experiencing the same error. Using firebase v5.0.4

[2018-06-11 06:40] prescottprue commented on #93
The fix for this also fixes the issue with `runTransaction` mentioned in #108

[2018-06-11 07:53] prescottprue commented on #93
Fixed in [`v0.5.5.` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.5).

[2018-06-11 07:53] #93 closed

[2018-06-11 07:55] prescottprue commented on #108
Fixed in [`v0.5.5.` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.5). There are now some basic unit tests as well. Reach out if things aren't working as expected.

[2018-06-11 07:55] #108 closed

[2018-06-14 19:38] matt-tingen opened #112 "Listener drops link to create index"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When a listener fails due to a missing index, an error is added to the store, but the corresponding link provided by the firestore SDK is swallowed.

**What is the expected behavior?**
A direct link to create the necessary index is surfaced either in the error store or in the console.

**Which versions

[2018-06-14 19:46] matt-tingen commented on #112
This is just a specific instance, but in general, it seems that a fair amount of info is lost from errors. Another example would be when the query is not allowed by rules. With the firestore SDK, the error is "Error: Missing or insufficient permissions." which indicates the problem. With `redux-firestore`, the error is simply
[code]
which is the same as when an index is missing.

Being fairly new

[2018-06-14 22:12] prescottprue commented on #112
@matt-tingen the `logErrors` config option should make it so that these errors are shown within the console.

That said, I like the idea of looking into making the errors that are written to state more clear and preserve more info about the error.

[2018-06-15 12:54] Louis-Tian opened #113 "unexpect delete behavior"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
`props.firestore.delete` removes the doc's field by setting the doc to `null`
![image](https://user-images.githubusercontent.com/5655024/41468589-de12b30e-70ed-11e8-950b-5a2821d10cc1.png)

**What is the expected behavior?**
`props.firestore.delete` should be completely removed, including the d

[2018-06-15 22:41] Louis-Tian commented on #113
Hi @prescottprue, 0.5.4 is the version I am using. I just test it with 0.5.7, seeing the same behavior.

Is this behavior is designed intentionally for some reason? The test code is suggestion it is but I don't understand why.

https://github.com/prescottprue/redux-firestore/blob/a7c7caa91997fb1469f6d267743b8a6d67d1db41/test/unit/reducers/dataReducer.spec.js#L256-L263

I thought the test case woul

[2018-06-15 23:44] Louis-Tian commented on #113
https://github.com/prescottprue/redux-firestore/blob/a7c7caa91997fb1469f6d267743b8a6d67d1db41/src/reducers/dataReducer.js#L72-L83

probably should be changed to
[code]

[2018-06-17 09:33] prescottprue commented on #113
@Louis-Tian Setting the value to `null` is how it is indicated that data has been loaded, but does not exist. That is different than `undefined` which indicates that it is not yet loaded. `unset` will cause the value to be `undefined`.

Totally open to placing this behind a configuration option as long as it is documented. Feel free to open a pull request if you have the time.

[2018-06-25 18:15] oktapodia commented on #36
@prescottprue Any news?

[2018-06-26 09:37] RossKohler opened #114 "feat(reducers): clearing firestore state on logout"
Is there a way to clear state.firestore.data and state.firestore.ordered? firebase.logout() seems to only clear the firebase state. Is there a similar function for clearing the Firestore state?

[2018-06-26 09:53] jeanregisser opened #115 "Documents are not deleted from the state"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm listening to a specific document in a  collection:
[code]
The state is correctly populated with the document when it exists.

As seen here, I receive the `LISTENER_RESPONSE` action:
![screen shot 2018-06-26 at 11 10 52](https://user-images.githubusercontent.com/57791/41901683-d9049d2c-7931-11e8-93f

[2018-06-26 10:04] jeanregisser commented on #115
Looks like this bug is the same as the one described in https://github.com/prescottprue/redux-firestore/issues/45#issuecomment-383381373

[2018-06-27 13:17] RossKohler commented on #114
Just a minor correction on this, the import should be

`import { actionTypes } from 'react-redux-firestore'`

[2018-06-27 21:18] prescottprue commented on #114
@RossKohler One more correction, I think it should actually be `redux-firestore` (`react-redux-firestore` isn't a thing to may knowledge 😆 ).

[2018-06-30 13:08] marcorm commented on #48
This would be really useful!!

[2018-07-02 11:19] michaelspeed opened #116 "bug(reducers): ordered state not updated with added item in array"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If i add a document to firestore, the state at
`
    state.firestore.ordered['someList]
`
will not update correctly, all the existing items will still be in the array, with repeated items along with the new item, when i update an item the item still remains in the state, and the updated item will add i

[2018-07-03 08:20] Lando-L opened #117 "Add new document to a subcollection"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug

**What is the current behavior?**
I cannot (or at least it is not obvious to me how to) add a document to a subcollection. I tried something like
[code]
but `update` doesn't add something if the subcollection does not exist already and `add` runs into the error `TypeError: Cannot read property 'apply' of undefined`

[2018-07-04 11:10] prescottprue commented on #117
@Lando-L I may be misunderstanding, but I believe you are pointing to the wrong path. As mentioned in the docs, the parameter to pass to the query config is [`subcollections`](https://github.com/prescottprue/redux-firestore#sub-collections).

[2018-07-04 11:10] #117 closed

[2018-07-09 20:38] karltaylor opened #118 "Question: How to create document reference with Auto Id"
in the Firestore Docs it says

[code]
How can i do this with this.props.firestore? I can't see anywhere in the docs how I can achieve this

[2018-07-13 16:45] karltaylor commented on #118
I was doing this for a subcollection but the logic still applies - I managed it by doing

[code]

[2018-07-13 16:45] #118 closed

[2018-07-15 11:34] nikinfinity2 commented on #99
I am developing ionic app 3 using angularfire2 "angularfire2": "5.0.0-rc.6" and i am getting the same error. Please provide some solutions to fix this issue.

[2018-07-16 03:06] prescottprue commented on #99
@nikinfinity2 Are you using redux-firestore with angularfire?

[2018-07-16 05:56] nikinfinity2 commented on #99
no redux-firestore .... i am using angularfire2's firestore like below.
angularfire2/firestore

[2018-07-16 05:57] nikinfinity2 commented on #99
i dont know about redux-firestore... can i use it with ionic 3

[2018-07-17 08:17] prescottprue commented on #99
@nikinfinity2 This is the repo for redux-firestore, so if you are not using, your issue is posted in the incorrect place.

Usage with ionic 3 is possible, but not sure I understand why it would be mixed with angularfire2?

[2018-07-18 09:07] tky5622 opened #119 "with next.js the firing order of SET_LISTENER and UNSET_LISTENER is incorrect."
**Do you want to request a *feature* or report a *bug*?**
bug report about firestoreConnect

**What is the current behavior?**
when I use firestoreConnect in pages file and move another page,  the order of setting SET_LISTENER and UNSET_LISTENER become reverse. So, if pageA and pageB connect same path,
it occurs that firstly pageB fires SET_LISTENER , then pageA unset pageB's listener.

**What is

[2018-07-18 17:44] prescottprue commented on #119
@tky5622 That is most likely due to the fact that multiple listeners are being attached for the same path. Though this is sometimes intended, it seems like you want at maximum one listener per path. Can you give the `oneListenerPerPath: true` option a try?

Could be remembering wrong, but I believe that option was added by @compojoom. He may be able to put it into words better, but I believe this

[2018-07-20 07:24] tebogos opened #120 "Adding a subcollection"
**Do you want to request a *feature* or report a *bug*?**
bug

Is it posible to add a subcollection to firestore using redux-firestore?
**What is the current behavior?**
when I add a sub document I like the code below:

withHandlers({
    startNewProcess: props => () =>
      props.firestore.add(`Region/${region}/office/${id}`, { name:props.name})
})
I have also tried  props.firestore.add({collect

[2018-07-20 07:28] prescottprue commented on #120
It is difficult to tell from the syntax highlighting what you are mentioning you have tried.

[code]

[2018-07-20 07:34] tebogos commented on #120
Thanks for the prompt response.
What is the correct way to add data to subcollection in firestore using redux-firesore?

[2018-07-20 07:40] tebogos commented on #120
I am trying to update my firestore database with the data from the from a form.
I am using reactjs client.
Please see the code example below:
`
const enhance = compose(
  withFirestore, // firestoreConnect() can also be used
  withStateHandlers(
    ({ initialVal = '' }) => ({
      region: initialVal,
      zone:initialVal,
      processDefinitionId:initialVal,
      processName:initialVal,

[2018-07-20 07:47] tebogos commented on #120
Sorry it is my fire time posting. Can you see the code below?

`
withHandlers({
    startNewProcess: props => () =>
      props.firestore.add(Region/${props.region}/processInstance/${props.businessKey}, { requestorName: props.requestorName,
        requestorContact: props.requestorContact,firmName:props.firmName,
        firmNumber:props.firmNumber,workType:props.workType,zone:props.zone,date:prop

[2018-07-20 10:02] tebogos commented on #120
Thank you. It works. But how do I specify  my own subcollection document ID ?
to get a path like this:   "Regions/someRegion/office/${id}"
Will it be correct to do this?
`
props.firestore.add({
  collection:"Region",
  doc: "someRegion",
  subcollections: [{ collection:"office",doc:${id} }]
}, { name:props.name })`

Thank you for the responce

[2018-07-20 12:07] jollyBaker opened #121 "Subcollection orderBy ordered array not correctly sorted after update"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

Updating a field of a document in a subcollection, does update correctly the value of the document but not the array sorting. Refreshing returns the correct sorted array.

**What is the expected behavior?**

The array should be sorted correctly to the current values of the documents in the subcolle

[2018-07-20 18:00] tebogos commented on #120
Thank you. You mean that there is no way of specify my own custom document id on a subcollection level?

[2018-07-20 18:00] tebogos commented on #120
Thank you for the tip!

[2018-07-20 18:19] tebogos commented on #120
I got it working by using set like so:

``
const docRefConfig = {
   collection:"Region",
  doc: "someRegion",
  subcollections: [{ collection:"office", doc: `${id}` }]
}
props.firestore.set(docRefConfig, { name:props.name })
``
Thank you very much for you prompt  help and tips!
Regards,
Tebogo.

[2018-07-20 18:43] #120 closed

[2018-07-22 22:08] tky5622 commented on #119
I try oneListenerPerPath: true , but this doesn't work for me.
I use this HOC in my project introduced in this Issue.
I do not know the exact cause, but I feel that this library is not compatible with next.js now.

https://gist.github.com/artisin/d56750d955ff4a60ed11e6a714cbd1bd
https://github.com/prescottprue/react-redux-firebase/issues/230

[2018-07-22 23:10] tky5622 commented on #119
this is sample code.
I will fix it later, but the structure of the project is like this.
https://codesandbox.io/s/l7klvk8qqz

[2018-07-23 18:20] tky5622 commented on #119
I reproduced this issue.
If I connect same path between two pages, this connection fail to do it.
https://github.com/tky5622/next_with_redux-firestore

[2018-07-23 18:57] prescottprue commented on #119
@tky5622 Thanks for the repro, I'll try to look into this sometime this week.

[2018-07-23 20:53] hudovisk commented on #119
I am having the same issue, but without next. My problem is that the component which is hooked to `firestoreConnect` is mounted and umounted always that my route change. This behaviour triggers the `componentWillMount` (for the 2nd route) before `componentWillUmount` (of the 1st route) making a call to unsetListener right after setListener.

I think that if we change the call to firestore.setListe

[2018-07-23 21:05] prescottprue commented on #119
@hudovisk Great to hear there is a theory of how to fix it. Wondering if this would be breaking for anyone. Either way, we can may try an alpha version with that change and see if it helps.

Out of curiosity, did you try the `oneListenerPerPath: true` config option as well?

[2018-07-24 09:23] CoVoCre commented on #112
@prescottprue where is this `logErrors` config option described ? I only see logListenerError for example...
Also, I wonder where I should actually set config options. Should I add them as other keys when setting listeners/getting data ?
Lastly, how can we unset listeners ? I've simply tried `unsetListener({...})` with `{...}` specifying the same as when I set the listener I want to unset.

[2018-07-24 09:44] CoVoCre commented on #94
@skucher here is the [doc from firestore](https://firebase.google.com/docs/firestore/query-data/get-data#list_subcollections_of_a_document), they suggest if you need this ( actually they show one such use case in their [distributed counters/sharding example](https://firebase.google.com/docs/firestore/solutions/counters) ) :

[2018-07-24 10:11] CoVoCre opened #122 "CONTRIBUTING.md open collective link broken"
Easy to fix @prescottprue either update the link or change the paragraph 😉

[2018-07-24 11:20] CoVoCre commented on #112
Well, actually I saw in the [simple example Todos.js](https://github.com/prescottprue/redux-firestore/blob/master/examples/basic/src/Todos.js) that unsetListener seems to be the way to go. I'll add it to the readme if that's ok.
Also, the idea of using a component var listenerSettings for each listener set in order to be able to unset later is pretty good, I'll write it to the readme as a suggesti

[2018-07-24 12:04] munroAllie commented on #115
Is there any work around while this is being resolved?

[2018-07-24 13:45] hudovisk commented on #119
I tried it but the wrong way, I was passing it to the `reduxFirestore` from `react-redux` instead of `reactReduxFirebase` from `react-redux-firebase`. After I got it right the problem was solved :) thanks!

But the order of the lifecycle hooks might be interesting to take look.

[2018-07-24 14:45] munroAllie commented on #113
@prescottprue @Louis-Tian
Is there any work around available for this? My components .map functions break upon deleting an item because state says the an item in the array is now null appose to removing it. Only when I refresh the page does the store work as expected.

[2018-07-27 10:38] demoran23 commented on #113
@munroAllie You can work around that by adding the following predicate prior to your maps:

`.filter(el => el)`

[2018-07-29 09:22] prescottprue commented on #112
@CoVoCre Great input, and thanks for the additions! Have you checked out the `firestoreConnect` HOC offered by `react-redux-firebase`? It automatically handles attaching/detaching listeners on component mount/unmount.

[2018-07-29 09:24] #94 closed, assigned to nobody

[2018-07-29 14:58] CoVoCre commented on #112
@prescottprue yes I did, but I think it's a lot of overhead for what I need which isn't very intense, for now 😉

[2018-08-01 18:06] prescottprue commented on #122
Fixed! Thanks for reporting 😄.

[2018-08-01 18:06] #122 closed

[2018-08-02 11:00] kledk commented on #121
Also having this issue.

[2018-08-05 17:50] karltaylor opened #131 "OrderByChild is not working correctly"
I seem to have a problem with OrderByChild not ordering correctly.

Here is my query in `firestoreConnect()`

[code]

my Items have a `timeCredit` field which is unix number, but I set them to 1, 2, 3 and 4 for this example, and my ordered data comes back like this:

[code]

[2018-08-05 17:59] karltaylor commented on #131
The only way I've got round this at the moment is to hack a sort function in my connect.

[code]

Then I actually get properly a properly sorted array 🤔

[2018-08-06 00:01] prescottprue commented on #131
@karltaylor Firestore uses [`orderBy`](https://github.com/prescottprue/redux-firestore#orderby) not `orderByChild` (what RTDB uses).

You are not the first to have this happen though, so maybe we should add a warning for any query params that do not match [the specified query options in the docs](https://github.com/prescottprue/redux-firestore#query-options).

Let me know if things still don't wor

[2018-08-06 00:01] #131 closed

[2018-08-07 00:16] buchuki opened #132 "OrderBy not returning any transactions at all"
**Do you want to request a *feature* or report a *bug*?**

This is a bug. I notice quite a few open OrderBy related issues, but this one seems to be even more opaque. However, I can see it's not happening to other people, so I suspect it's at least partially related to my setup. But my setup is very normal.

**What is the current behavior?**

Adding an `orderBy` clause to any `firestoreConnect` co

[2018-08-07 05:07] prescottprue commented on #132
Those messages should be passed through if you use `logErrors: true` within your config.

It may be smart to have certain errors, like the one for indexes not being set, come through by default in the future. Thanks for posting.

[2018-08-07 07:03] karltaylor commented on #131
When I use `orderBy` the data is not available / does not appear in `firestore.data` or `firestore.ordered`?

[2018-08-07 07:09] prescottprue commented on #131
@karltaylor You may be getting a query error due to not having the indexes setup within Firestore.

The errors are set to the errors state, or you should see the errors in the console with `logErrors: true`.

[2018-08-07 13:49] buchuki commented on #132
I had enabled logErrors and not seen anything in the console, but that was probably due to not looking correctly. It was getting pretty late at night when I gave up. ;-) I think all this really needs is a documentation update -- more clarity on what logErrors does and maybe a faq entry on indexes.

[2018-08-07 18:34] karltaylor commented on #132
I have added 'enableLogging' and 'logErrors' but I'm not getting any logs through ☹️

[code]

Copied from your example [here](https://github.com/prescottprue/redux-firestore/blob/c12daeab4148aad1254505dcb9c454d333014e7f/examples/complete/src/store/createStore.js)

[2018-08-07 18:41] prescottprue commented on #132
@karltaylor The docs and my suggestion were wrong, it looks like the [code is actually looking for `logListenerError`](https://github.com/prescottprue/redux-firestore/blob/master/src/actions/firestore.js#L264-L266). Try switching to that and giving it another go.

This should totally be documented more clearly as well as also support `logErrors` to match `react-redux-firebase`.

[2018-08-07 18:48] karltaylor commented on #132
@prescottprue Bingo!

Putting `reduxFirestore` logged the error. It does seem to be getting overwritten by `reactReduxFirebase`

[2018-08-08 17:27] karltaylor commented on #132
@prescottprue I'd love to help you out with the docs for this but not sure if you plan on fix the `logListenerError` config being overwritten by reactReduxFirebase?

I can always add some documentation for it for the time being and then update as required

[2018-08-08 17:36] prescottprue commented on #132
@karltaylor Seems like a bug in `react-redux-firebase` where all `redux-firestore` config is being overwritten. For now though, like you said, we will just document putting `reduxFirestore` before `react-redux-firebase`.

[2018-08-13 08:51] prescottprue commented on #132
@karltaylor I added a change to [the PR for v2.2.0-alpha](https://github.com/prescottprue/react-redux-firebase/pull/516) that prevents config that is already existing on the store from being run over. This way, it shouldn't matter if `reduxFirestore` comes before or after `reactReduxFirebase` when creating the store.

[2018-08-22 09:27] prescottprue commented on #114
It seems like it may be due to [this line](https://github.com/prescottprue/redux-firestore/blob/master/src/reducers/orderedReducer.js#L237).

**Workaround**
Include the following in your `CLEAR_DATA` action dispatch: `meta: { collection: 'asdf' }`

It doesn't make ton of sense for now, but it should get the dispatch to clear state as expected. I'll try to get to publishing a fix soon, but is someo

[2018-08-24 01:10] prescottprue commented on #114
Fixed in [v0.5.8 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.5.8). The tests were also updated so that this case would be covered.

Thanks for reporting @RossKohler, reach out if it isn't working as expecting 😄

[2018-08-31 03:55] Ajlanclos commented on #48
What is the status on this? Also, is it possible to get root collection that are references? If it is, can someone link me an example?

Thanks!

[2018-09-03 03:03] gino-m commented on #45
Still experiencing this on 0.5.7.

[2018-09-04 20:18] lorenzosfarra commented on #71
Sorry to write on a closed ticket, but I think that somehow the problem persists in a different form.

Here's the involved versions

[code]

In my component I have:

[code]

And I am printing the value of `this.props.tests` without problems.
When I go to the Firebase console -> Firestore, I have the following use cases:

1. I add something to /tests --> the UI is updated correctly
2. I modify some

[2018-09-06 20:49] prescottprue commented on #132
Anyone looking to solve this can get the latest version of `next` by calling `npm i --save react-redux-firebase@next`.

[2018-09-06 20:49] #132 closed

[2018-09-13 22:39] gino-m opened #138 "Uncaught TypeError: Cannot read property 'apply' of undefined"
Reposting https://github.com/prescottprue/react-redux-firebase/issues/537 in the correct repo.

This turned out to be due to a call to firestore.update() where the path was referring to a collection rather than a doc. This occurred because the doc id was unintentionally null. i.e.

[code]
Where projectId was null.

Mainly posting here for posterity, though it would be great if we can catch and rep

[2018-09-14 18:10] prescottprue commented on #138
Great suggestion! There have been other issues that would have been clarified with some sort of query config validation.

[2018-09-19 15:38] jeanregisser opened #139 "Listening to a collection where documents use the '.' (dot) character in their id breaks any updates"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

I'm listening to a subcollection like this:

[code]
The favorites are basically a collection of book ids.
The book ids contain the '.' (dot) character.

The initial `LISTENER_RESPONSE` populates the store correctly:
![screen shot 2018-09-19 at 17 18 18](https://user-images.githubusercontent.com/57791

[2018-09-25 23:07] pdyxs opened #140 "bug(reducers): updates to arrays inside documents don't work as expected"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If you store an array inside a firestore document (e.g. `{ content: ['an', 'array'] }`) and update that document such that the array is shorter (`{ content: ['single'] }`), the update action that fires merges the arrays and doesn't delete the extra elements (`{ content: ['single', 'array'] }`).

Note t

[2018-09-27 13:17] GuillemotF commented on #140
I have a similar behaviour with objects in a document (instead of an array) when removing a property.

Example :

[code]

Will correctly updates `data` state in redux but not the `ordered ` one.

[2018-10-01 16:54] prescottprue commented on #140
@GuillemotF The current issue with this fix has to due with how subcollections will no longer merge onto document objects. I'm currently working on a new pattern for redux state where subcollections will not be stored on the doc directly.

That said, I'm open to merging this change to a `next` release, we will just need to make sure we note that it will be breaking for some.

[2018-10-02 00:13] prescottprue commented on #140
[Started the v1.0.0 Roadmap doc](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) which includes notes about the current plans for the new state pattern.

It seems like we might be able to release this under a flag before 1.0.0 so that folks can use it in the meantime.

[2018-10-02 00:15] prescottprue commented on #121
There have been a number of issues reported relating to how subcollections are stored. To address these, I have [started the v1.0.0 Roadmap doc](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) which includes notes about the current plans for the new state pattern.

This new state pattern should make it relatively easy to debug issues like this.

[2018-10-02 00:16] prescottprue commented on #116
There have been a number of issues reported relating to how subcollections are stored. To address these, I have [started the v1.0.0 Roadmap doc](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) which includes notes about the current plans for the new state pattern.

This new state pattern should make it relatively easy to debug issues like this.

[2018-10-02 00:16] prescottprue commented on #115
There have been a number of issues reported relating to how subcollections are stored. To address these, I have [started the v1.0.0 Roadmap doc](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) which includes notes about the current plans for the new state pattern.

This new state pattern should make it relatively easy to debug issues like this.

[2018-10-02 00:17] prescottprue commented on #103
@igor-lemon Open to a replication if you ever got a chance to make one.

There have been a number of issues reported relating to how subcollections are stored. To address these, I have [started the v1.0.0 Roadmap doc](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) which includes notes about the current plans for the new state pattern.

This new state pattern should make it re

[2018-10-02 00:19] prescottprue commented on #113
Closing since setting to `null` is intentional. For those looking to not have null in a list of data, using `ordered` is suggested. If you do want to use `data`, logic can be used to remove falsey values from a list as shown above by @demoran23: `.filter(el => el)`

[2018-10-02 00:19] #113 closed

[2018-10-02 00:27] prescottprue commented on #112
@matt-tingen were you able to update and use `logErrors` as expected? Closing for now since this functionality is on the `next` tag.

[2018-10-02 00:27] #112 closed

[2018-10-02 00:28] prescottprue commented on #106
Closing since replication was not provided.

[2018-10-02 00:28] #106 closed

[2018-10-02 00:30] prescottprue commented on #45
@ivawzh and others that have been experiencing the issue:

There have been a number of issues reported relating to how subcollections are stored. To address these, I have [started the v1.0.0 Roadmap doc](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) which includes notes about the current plans for the new state pattern.

[2018-10-02 00:33] prescottprue commented on #116
Just to clarify:

Are you adding the document directly to state or calling a method to write to Firestore? Writes directly to state WILL NOT update Firestore or RTDB, it requires calling a method which in turn dispatches an action.

[2018-10-02 12:14] GuillemotF commented on #140
@prescottprue Thanks for these explanations, I think that separating the sub-collections from the documents is the only "Firestore's way" to do since it is also possible to have a property of a document of the same name as a sub-collection.

Maybe you can have a compromise like this :

[code]
But it may be hard to make this working properly.

[2018-10-02 21:16] prescottprue commented on #140
@GuillemotF The structure proposed in the Roadmap stores the subcollections by the parent document key still, it is just not under the same doc object within redux:

[code]

[2018-10-05 08:56] compojoom commented on #140
That looks like a good change. Another side-effect of the current way we store the subcollection is that whenever you try to update the parent document and you read the document from redux - you also get the subcollection as property on the doc... And if you try to store the parent document - you also store the subcollection as prop on the document, which is often not desired.

[2018-10-05 08:59] compojoom commented on #139
similar to that problem maybe? https://github.com/prescottprue/redux-firestore/issues/88

[2018-10-05 17:49] prescottprue commented on #140
@compojoom Exactly! Definitely another reason behind the change. Glad to have others looking into it since it is such a large change.

Since getting from state with the new syntax could possibly be confusing, I included some [state selection utilities](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap#state-selection-utilities) called `firestoreDataSelector` and `firestoreOrdered

[2018-10-11 12:39] compojoom commented on #139
@prescottprue - please have a look at the pull request. I just did the same change in the case where there is no storeAs and meta.path

So far it looks good with our app.

[2018-10-12 05:15] compojoom commented on #107
This should fix it?
https://github.com/prescottprue/redux-firestore/pull/144

[2018-10-15 21:37] dimitropoulos opened #145 "Do not add nonserializable objects in the redux store"
## Bug: should not store functions in the redux state tree
for example
```store.firestore.add({ collection: 'cities' }, { name: 'Some Place' }),```
is storing the `add` function in the state tree.

[The Redux docs](https://redux.js.org/faq/organizingstate#can-i-put-functions-promises-or-other-non-serializable-items-in-my-store-state) say it best:

I'd like to better understand your design choice h

[2018-10-16 16:57] prescottprue commented on #145
@dimitropoulos This is not part of the state tree and is not "in the store". It is attached "on" the store as an enhancer. To view what is in state, *which is a plain object*, use `store.getState()`.

[2018-10-19 07:51] dfee opened #146 "An attempt at ssr / nextjs"
I'm attempting to use this with next.js, and I actually got it working, but I'd like to get your thoughts on whether I'm using it right:

[code]

The magic is the one line in `getInitialProps`. I don't really know if I should then be subscribing to changes in `componentWillMount` and unsubscribing in `componentWillUnmount`.

I guess I was hoping for something like this: https://github.com/prescott

[2018-11-02 09:28] prescottprue commented on #48
Got a basic version of this working by copying the logic over from react-redux-firebase. Going to try to get it released some time over the next week.

[2018-11-07 03:20] iFallUpHill opened #148 "question: take result of first read and use it to fetch additional data"
[code]

**What is the current behavior?**
I store `uid`s of users inside of each transaction document with the intention of building a nested document for each transaction containing the transaction information and user information in one object per transaction. Is this possible and if so what approach would you recommend? Usually, when using sagas I would just resolve the document first then make

[2018-11-08 09:29] prescottprue commented on #48
Included in [v0.6.0-alpha.3 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.6.0-alpha.3)  🍾

Here are the docs: https://github.com/prescottprue/redux-firestore/tree/next#population. It is basically a direct port over from `react-redux-firebase`, and you actually still pull `populate` (used to construct state with data loaded form populates) from `react-redux-firebase`.

Go

[2018-11-08 09:29] #48 closed

[2018-11-08 09:38] prescottprue commented on #148
Population support was released as part of [v0.6.0-alpha.3](https://github.com/prescottprue/redux-firestore/releases/tag/v0.6.0-alpha.3) (make sure to install from the `next` tag, not `latest`)

Here are the docs: https://github.com/prescottprue/redux-firestore/tree/next#population. It is basically a direct port over from `react-redux-firebase`, so [the populate docs for that may be helpful](http:

[2018-11-08 09:38] #148 closed

[2018-11-08 09:52] iFallUpHill commented on #148
@prescottprue Works perfectly for me :)

[2018-11-09 14:45] scramblor commented on #82
@prescottprue Was it ever decided to have methods update local state on add/update state without attaching a listener? Seems excessively chatty to have 1-2 extra reads when you do a write if you aren't expecting any external changes to your firestore.

Maybe this could be opt in/out behavior if it complicates interactions with the listeners. I don't think there would be any scenarios where you wou

[2018-11-09 15:59] MattJakeman commented on #48
Thanks for the update!
I have used it briefly and get the correct data when dumping out to the console. However, when I inspect the redux store it doesn't seem to be storing the populated data. Is this the expected behaviour? EG:

![console](https://user-images.githubusercontent.com/294255/48273236-5e86e380-e438-11e8-91df-cd4aae4424be.png)

![redux](https://user-images.githubusercontent.com/294255

[2018-11-09 22:04] prescottprue commented on #82
@scramblor Still looking to decide that for v1.0.0, so I'm really glad you reached out to remind me. I'll add a not about this to the [v1.0.0 Roadmap wiki](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap).

My current feelings are that it would be best to have the default set so that add/update calls do not update state unless you have a listener attached, but there is an optio

[2018-11-09 22:14] prescottprue commented on #48
@MattJakeman That is the intention with populate. Many users want to be able to still access the separate un populated data (makes sense since it was queried), so the data is loaded into state just like with normal listeners (dispatch of LISTENER_RESPONSE). Then you use the `populate` utility to build your populated object from the different pieces of state. The settings you pass to it are the sam

[2018-11-09 23:29] MattJakeman commented on #48
@prescottprue thanks for the explanation. For some reason I'd got it into my head that redux should be filled with the same data. It's easily workable in that state for me but thought I'd flag it up just in case it was a bug.

Thanks for the speedy response on it and keep up the good work :)

[2018-11-10 09:15] iFallUpHill commented on #148
@prescottprue actually, was playing with it a bit more, it looks like if new data is added, it gets pushed to the end of the data in the store from the initial connection and doesn't respect the orderBy? E.g. I have Transaction 4 (T4), T3, T2, and T1. Then, I make a new transaction, T5. The new order, without refreshing is T4, T3, T2, T1, T5.

[2018-11-10 09:56] prescottprue commented on #148
@iFallUpHill Is this happening for a subcollection document? If so, try giving `storeAs` a try on your subcollection query.

Either way, I am currently investigating #121, so I'll post updates there.

[2018-11-10 10:12] iFallUpHill commented on #148
@prescottprue It's actually just the code snippet you provided, so I don't think this is a subcollection in this case.

The original transactions collection, with the addition of the nested user document (using `populates` from the `next` branch), results in the order that I described (i.e. new transactions are pushed to the end/bottom instead of merging in the correct order).

[2018-11-10 11:19] apietrzak opened #150 "Clearing data after unset listener"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If i want to change document listener to another id, then previous data is still existing until new data is received.

**What is the expected behavior?**
After removing listener data connected to that listener should be removed.

**Which versions of dependencies, and which browser are affected by this

[2018-11-11 17:38] scramblor commented on #82
@prescottprue My gut feeling is that someone will want either a listener attached or add/update calls updating redux state. I'm not sure if there are situations where you would want both behaviors or neither. With that in mind having a "smart" way would be great from a user perspective but may not be worth the internal implementation complexity, seems like there may be a lot of edge cases to accou

[2018-11-11 21:04] prescottprue commented on #82
@scramblor "One or the other" is what I was trying to say in my last post, but now that I re-read it, I see that is kinda unclear. Glad we agree though.

The option being passed to add/update sounds like a good plan

[2018-11-11 21:10] prescottprue commented on #150
This is the intention because you are using a non unique `storeAs` for a document listener. Each listener has different settings (i.e. different doc id), but have the same `storeAs`, which means they will run over each other. Try making a dynamic storeAs:

[code]

Make sure that you get the values out of state from the new location.

This pattern is actually what is [followed by default for sub-co

[2018-11-12 11:42] apietrzak commented on #150
@prescottprue
I understand it, but still, i don't need that data in the store if a listener was removed. For example: A user iterates over 100 collections, then it's taking 100 entries in the store.

[code]

Additionaly, when the user backs to the first collection then in the store is still old data and will be refreshed soon, which means the user will see old view of my appliaction instead of loa

[2018-11-15 23:21] apietrzak opened #151 "[alpha]Adding new document breaks ordered structure"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When listener with `where` query receives new element then ordered object contains weird structure. Instead of
ordered.addons = [
  {id: 'oldID1', ...restData},
  {id: 'oldID2', ...restData},
  {id: 'newID', ...restData}
]

it looks like:

ordered.addons = [
  {id: 'oldID1', ...restData},
  {id: 'oldID

[2018-11-16 05:30] prescottprue commented on #151
Thanks for reporting, I'll look into this.

[2018-11-18 11:34] prescottprue commented on #151
Fixed as part of [v1.0.0-alpha.2 release](https://github.com/prescottprue/redux-firestore/releases/tag/v1.0.0-alpha.2). I also looked into why the tests didn't catch it, and I realized it was because they weren't running on the alpha branch - that is also captured in the release.

Thanks for reporting! Let me know if isn't working as you expect.

[2018-11-18 11:34] #151 closed

[2018-11-18 12:34] prescottprue commented on #145
@dimitropoulos Does my comment address your question in a way that things are now clear? Going to close, but please feel free to reach out if you have any more questions.

[2018-11-18 12:34] #145 closed

[2018-11-18 12:52] prescottprue commented on #150
@apietrzak While I don't dislike the idea, I am not sure I fully understand the use case. Since the data has already been queried, there is no real reason to not have it right?

I believe I understand what you are describing - If you use the `storeAs` method mentioned above, then you are effectively "clearing" the data whenever it is being "unset".

You can also dispatch `CLEAR_DATA` action type t

[2018-11-19 05:48] ganeshub commented on #36
@prescottprue Any news?

[2018-11-21 02:00] Frank-The-Tank opened #154 "Data on page view not auto reloading on firestore change?"
Hey guys, I am currently having a problem when updating data on a page. I want to be able to update some data which then calls a function in my action controller that updates data in firestore. I am able to update the data and call the method and the firestore data is updated, but my client does not show the change? How do I make it so whenever something changes in my firestore database the view f

[2018-11-22 12:15] michaelspeed commented on #116
i think this is fixed

[2018-11-22 12:15] #116 closed

[2018-11-23 17:43] prescottprue opened #155 "feat(query): populate support in get queries"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**What is the expected behavior?**

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**

**Steps to reproduce and if possible a minimal demo of the problem via [codesandbox](https://codesandbox.io/) or similar.**

[2018-11-24 02:43] prescottprue commented on #154
@Frank-The-Tank Try placing `firestoreConnect` above `connect` to see if things correctly update.

If that doesn't help - try using [`storeAs`](https://github.com/prescottprue/redux-firestore#storeas) to bring the sub-collection data to the top level.

The current plan, [as outlined in the v1.0.0 Roadmap](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) is to have all subcollec

[2018-11-24 06:41] Frank-The-Tank commented on #154
@prescottprue I think it has to have something to do with how I am displaying my data in some way since some of the data I send in all of my components is actually working.

[2018-11-24 06:49] Frank-The-Tank commented on #154
@prescottprue I have a feeling it could be because of how I am displaying the data, I am using a Semantic UI React Accordian with a custom made panel and anything in that panel is not auto updating, but data above my Accordian object in the div is reloading dynamically. I will post my "BudgetListContent" file above that shows how I am displaying all of my data. The prop "data" is what is passed wi

[2018-11-24 22:10] Frank-The-Tank commented on #154
Ya that seems to be my problem, for instance the page is auto updating the prop that I passed like this: "unallocatedBudget={users[0].budget[1].unallocatedBudget}" but not the prop that I sent as a full map structure instead of just one point in firestore. The one where none of the data auto updates is: "data={users[0].budget[0]}"

[2018-11-24 23:10] Frank-The-Tank commented on #154
@prescottprue Ok upon even further inspection I noticed in my redux DevTools that when I am updating/setting the "userDataRef" at the end of my updateBudgetData function in budgetActions.jsx that it is creating a new document instead of replacing the old one so that might be the problem, that new document is not reflected in firebase though it shows it as updating the old document

[2018-11-27 16:36] prescottprue commented on #154
Can I get a re-explanation of where the issue stands? Should we close or are you saying that there is still an issue on your end?

[2018-12-06 16:06] eldoner commented on #150
@prescottprue Could you explain the difference between reducers `ordered` and `data`?
And How can I use a populate with example you provided:

`[
    {
        collection: 'collections',
        doc: props.collectionId,  // data from my reducer. If this id is changed then previous data is still existing
        storeAs: `collection/${props.collectionId}`
    }
]`

Thanks!

[2018-12-06 19:08] eldoner commented on #150
Actually it is related. I know that `state.firebase.ordered` is array fromatted and `state.firebase.data` contains data store by key, but as I understand correctly from you anserws above, `state.firebase.data` contains  all data which was 'listened' before.
I have similar problem as author, so I want to use `storeAs` but I need to populate data, which I don't know how to use in this situation.
Tha

[2018-12-10 02:55] JamesMcIntosh opened #156 "Queries do not contain newly created documents while offline"
When offline newly created documents are not returned in the results.
Very shortly after I return online the documents appear in the results.
Is this expected behaviour, if so how would I go about enhancing so that these pending documents are available? (I am using release redux-firestore version 0.6.0.)

Many thanks
James

[2018-12-12 21:55] JamesMcIntosh commented on #156
From the look of the wrapInDispatch function the data will only be processed after writing to the server as `then()` will only be called after saving.

https://github.com/prescottprue/redux-firestore/blob/master/src/utils/actions.js

[2018-12-12 23:18] prescottprue commented on #156
@JamesMcIntosh How are you querying data? `wrapInDispatch` shouldn't be used when attaching listeners (which calls `setListener` and `setListeners`), only when calling actions like `get`. In the handling of listeners `.then` is not used, the actual listener callbacks are.

It seems like the issue may be more with how state is being updated. How are you connecting to state? What does the query look

[2018-12-14 02:34] JamesMcIntosh commented on #156
Thanks @prescottprue for your help, your question "How are you connecting to state" made me break it down further and I see now that the documents are indeed stored and made available.

My problem is caused by having a query which references a field which is set using the server timestamp... it is null until saved on the server, see https://github.com/firebase/firebase-js-sdk/issues/192

i.e. The

[2018-12-14 02:34] #156 closed

[2018-12-16 23:09] JamesMcIntosh opened #157 "SnapshotOptions to control handling of server timestamp"
When you save a document containing a field set with `firestore.FieldValue.serverTimestamp()` in *offline mode* the document by default has the field set to null and does not appear in search results.

Firestore introduced an option which can be passed into `DocumentSnapshot.data` to choose how the timestamp is returned.
https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentSnap

[2018-12-17 22:34] morpheus86 opened #158 "Is there a way to access firebase doc of a specific collection with firebaseConnect dynamically?"
**Do you want to request a *feature* or report a *bug*?**
request a feature

**What is the current behavior?**
i cannot access my doc in order to get to my nested collection

**What is the expected behavior?**

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**

**Steps to reproduce and if possible a minimal demo of the p

[2018-12-18 04:58] prescottprue commented on #158
There are a few things here, so I will separate them:

### Dynamic Listener Config
Both `firebaseConnect` and `firestoreConnect` allow you to pass either an array of listener configs **or** a function that returns an array of listener settings. Like so:

[code]

This is shown in the state based query example

### Query based on UID
This takes connecting to state and passing the state value down as

[2018-12-18 16:13] morpheus86 commented on #158
Thank you Scott. I appreciate the quick reoly.    On Monday, December 17, 2018, 11:59:01 PM EST, Scott Prue <notifications@github.com> wrote:

There are a few things here, so I will separate them:

Dynamic Listener Config

Both firebaseConnect and firestoreConnect allow you to pass either an array of listener configs or a function that returns an array of listener settings. Like so:
firestoreConne

[2018-12-19 01:59] prescottprue commented on #158
Going to close since this is more of a question and it seems to be answered

[2018-12-19 01:59] #158 closed

[2018-12-19 02:11] morpheus86 commented on #158
Yes please close it as you were very helpful. 
Thanks again

Sent from Yahoo Mail on Android

  On Tue, Dec 18, 2018 at 20:59, Scott Prue<notifications@github.com> wrote:
Closed #158.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-02 19:09] Wgil opened #161 "bug(orderedReducer): deleting a sub-collection causes a TypeError"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When I try to delete a doc in a sub-collection using object or string notation, I get a `TypeError: Cannot read property 'map' of undefined`. Although the sub-collection is deleted, my program stops.

[code]

[code]

**Which versions of dependencies, and which browser are affected by this issue? Did th

[2019-01-02 19:20] jpierce42 opened #162 "Items deleted from array field not reflected in Redux firestore.ordered state"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When updating an array field on a document, if items are deleted from the array, the field is not updated correctly in the 'ordered' Redux state.

[See very basic example here](https://repl.it/repls/JampackedEagerPhysics).   I want to delete value `a` from the item's current list of values `[a, b]`.  A

[2019-01-02 19:43] prescottprue commented on #161
Thanks for reporting! Wondering if this would happen with the `next` versions as well since subcollections are stored at the same level as top level collections.

[2019-01-02 19:48] Wgil commented on #161
It also happened to me using
[code]
So I updated to see if this had been already solved.

Do you know any workaround while this gets fixed? Although I don't know the codebase I can help to fix it if you address me.

[2019-01-02 19:49] prescottprue commented on #162
Thanks for the detailed repro steps. I believe this is a duplicate of [#140](https://github.com/prescottprue/redux-firestore/issues/140), if so, it is due to supporting subcollections, so fixing this can cause a regressing in `0.5.*` or `0.6.*`. The `1.*.*` versions available on the `next` branch should be easier to address this issue, if it isn't already

[2019-01-02 19:51] prescottprue commented on #161
@Wgil Sorry, I meant the `@alpha` tag which points to to the `1.*.*` version - the upgrade requires a code change since things are stored differently.

[2019-01-02 19:55] Wgil commented on #161
Can this happen even if I'm not storing any collection or sub-collection in state?

[2019-01-02 20:06] Wgil commented on #161
I just downgraded to `0.5.8` and I'm getting the same error.

[2019-01-02 20:17] jpierce42 commented on #162
Oh, yes, looks like a duplicate.  I'll keep an eye on the roadmap.  Thanks for the quick reply!

[2019-01-02 20:36] prescottprue commented on #161
If I am understanding the issue correctly it shouldn't be able to happen unless it is a subcollection. You should be able to get around it using `storeAs` since it seems to be because of the deep nesting.

[2019-01-02 20:36] #162 closed

[2019-01-03 02:14] Wgil commented on #161
@prescottprue You're right. I solved it using `storeAs` as you pointed out. From the docs it's not clear to me for what `storeAs` is used for. Why `storeAs` should be used to perform a `delete`? The name makes me thing that it should only be used when storing things.

I was trying to create a CodeSandbox to reproduce the issue but my internet is not going well. I'll create it tomorrow

[2019-01-03 04:20] prescottprue commented on #161
@Wgil It is a bug that is because it is deeply nested. `storeAs` makes it so that you can store things as something else within redux. By doing that, then the data isn't nested, but instead stored under the key you provide. When updating, it isn't a nested state update, it is on the top level.

This is actually how v1 works by default, and there are also state selection helpers. That said, I am pl

[2019-01-03 20:57] Wgil commented on #161
@prescottprue Just updated the description with the link to the demo. Is there any way I can contribute with the library?

[2019-01-03 22:23] prescottprue commented on #161
@Wgil Always open to help and PRs! The [alpha branch](https://github.com/prescottprue/redux-firestore/tree/alpha) contains the current progress on the work outlined [in the v1.0.0 Roadmap](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap).

So for help, things I could use:
* Testing of v1 (install through `npm i --save redux-firestore@next`)
* Input about the new API. How does i

[2019-01-05 19:01] PengyuanZhao opened #164 "Issue with "storeAs" for a single document in subcollection"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I want to store a subcollection "properties"  of a user in the top level. It works as expected with the following code:

[code]

But when I only need to fetch a single document from the subcollection "properties" and store it to the top level "properties", the storeAs doesn't work as expected with the

[2019-01-05 22:08] alexpchin opened #165 "Warning: Failed prop type: The prop `dispatch` is marked as required in `FirestoreConnect(Connect(Container))`, but its value is `undefined`"
Since trying to upgrade to react-redux-firebase, I'm trying to use:

- "react-redux-firebase": "3.0.0-alpha.5"
- "redux-firestore": "^0.6.2"
- "react-redux": "6.0.0"
- "redux-persist": "^5.10.0"

This is sort of a stackOverflow question (I'm aware). However, I think it might be related to the `firebaseConnect` function since the update? Also the docs are difficult to follow for the combination of

[2019-01-06 10:17] prescottprue commented on #165
Yup, I had already been working on a fix for this and I'll try to get it out soon. It is just some incorrect prop types that were missed before. Thanks for reporting.

[2019-01-06 23:47] prescottprue commented on #164
You may want to try out the `v1.0.0` pre-releases available through the `alpha` tag since it stores subcollections along side top level collections by default and there are helpers for selecting from state based on your query without needing `storeAs`.

That said - I'm going to look into if there is a way to make that work with the current version, if not, there should be one added

[2019-01-07 01:18] alexpchin commented on #155
Hello! Just following this up, are we expecting that you should be able to do this:

[code]

Should it also be possible to populate a single document for a SHOW route? I don't believe this is possible either unless I am missing something?

[2019-01-07 04:20] prescottprue commented on #155
The setting would be `populates`, but yes both should be possible. Also, it is often better to have the state connection (i.e. `connect`) after your  `firebaseConnect`.

[2019-01-07 10:19] alexpchin commented on #155
When placing the connect after firebaseConnect:

[code]

When placing after, it loads. How would you suggest fetching a single doc using params?

[2019-01-07 17:59] prescottprue commented on #155
Props that are passed shouldn't change regardless of which order you place the HOCs in unless you are getting the params from state (but its seems like you are having them passed from the route through react-router). Can you provide more context into how your component is used?

The [complete material example](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/complete/mater

[2019-01-08 07:14] prescottprue commented on #165
Fixed in v3.0.0-alpha.6 release of react-redux-firebase which available through the `next` tag.

[2019-01-08 07:14] #165 closed

[2019-01-09 08:51] GZLiew opened #166 "Using range query causes repeating call firestore"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Calling the following query causes a repeating call to firestore
[code]

![image](https://user-images.githubusercontent.com/43195293/50887648-b937be00-142e-11e9-99cb-fcf7cd37cc2b.png)

**What is the expected behavior?**
Should only query firestore for initial call and for any subsequent changes in the

[2019-01-09 09:06] GZLiew commented on #166
Realized this should be an issue under react-redux-firestore. I will close it here

[2019-01-09 09:06] #166 closed

[2019-01-09 21:51] devinmorgan opened #167 "Using storeAs with document sub-collections will cause sub-collections to be cleared when a field in document updates."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The following is an excerpt from src/reducers/dataReducer.js

![image](https://user-images.githubusercontent.com/12377418/50928399-6a2e6080-140f-11e9-9d2e-cce4a59c57b3.png)

![image](https://user-images.githubusercontent.com/12377418/50930396-d2337580-1414-11e9-8c0d-a6deeefb90e5.png)

and this makes se

[2019-01-12 11:35] devinmorgan commented on #167
I've spent the past few days doing some refactors to implement this design pattern instead of my old one and as expected the problem went away. Thanks for mentioning this! (closing because this is no longer a problem for me)

[2019-01-12 11:35] #167 closed

[2019-01-12 19:01] idanlo opened #168 "createFirestoreInstance is not declared in index.d.ts file"
as said in title, `createFirestoreInstance` is not decalred in the index.d.ts file which means typescript users cannot import it, I can edit the index.d.ts file inside `node_modules` but this is not a fix.

[2019-01-13 00:06] nemo opened #169 "getPopulateChild works in a way that we lose the doc ID"
**Do you want to request a *feature* or report a *bug*?**  Bug

**What is the current behavior?**

When populating child documents, the populated results don't include the ID of the document (and there's no way to actually get the ID of the document)

**What is the expected behavior?**

Either return them as DocumentReferences or merge in the document id.

**Which versions of dependencies, and whi

[2019-01-14 12:55] JCBsystem commented on #71
for its the .data is not updated

state.firestore.data = keep data after its deleted
state.firestore.ordered =  updates data correct

"react-redux": "^5.0.7",
 "react-redux-firebase": "^2.2.5",

[2019-01-14 15:04] Wgil commented on #114
Hey! Is this in the docs?

[2019-01-14 16:03] Wgil commented on #150
[code]

Doesn't solve my use case. My listeners are set on users actions so, when the user comes back to the page, the collection is still there.

`CLEAR_DATA` helped me to achieve this but for some reason the state is not being deleted from the `data` key.

[code]
@prescottprue Am I missing something? Thank you

[2019-01-14 17:21] prescottprue commented on #169
@nemo Thanks for reporting, this is definitely a high priority issue. It seems like returning both the reference and the id might be a good way to go. We could then maybe add an option to not include the doc references for those that are picky about keeping only normal objects/values in state.

[2019-01-14 19:45] nemo commented on #169
@prescottprue the PR I sent should solve the problem :)

[2019-01-15 05:15] prescottprue commented on #168
Fixed in v0.6.3 release

[2019-01-15 05:15] #168 closed

[2019-01-15 05:16] prescottprue commented on #169
Released in v0.6.3, thanks for making a PR!

[2019-01-15 05:16] #169 closed

[2019-01-15 05:18] prescottprue commented on #71
@lorenzosfarra I believe this is a duplicate of [this issue ](https://github.com/prescottprue/redux-firestore/issues/140) and a few others that are open. Try upgrading to the `v1.0.0-*` pre-releases by installing from the `alpha` tag [and checking out the new api](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) - it is much better suited to subcollections. Still going to try t

[2019-01-15 05:25] nemo commented on #169
@prescottprue – Thanks for getting this out quickly – already downloaded 0.6.3 and using it!

[2019-01-15 15:22] mindtricksdev commented on #168
I think this commit broke the import:

![image](https://user-images.githubusercontent.com/5068284/51189889-b08d2f00-18e9-11e9-97a2-538ae7577e54.png)

Note that there's no `func` type in typescript. Maybe you can use `Dispatch` interface from redux for that parameter or just a plain `(action: {}) => any`.

[2019-01-15 15:43] mindtricksdev commented on #28
This no longer works after updating to:
"react-redux": "^6.0.0",
"react-redux-firebase": "^3.0.0-alpha.6",
"redux-firestore": "^0.6.3",

[2019-01-15 17:32] prescottprue commented on #168
Whoops, i'll fix that thanks. For some reason ts didn't point that out to me.

[2019-01-15 19:54] nemo commented on #155
@prescottprue any plans on making this work (original description of the issue describes my problem)? Realized populate only works when I'm not passing a `doc` parameter (i.e. not pulling a single document), was confused for a while!

[2019-01-16 00:31] prescottprue commented on #28
@mindtricksdev Lets open a new issue since that functionality shouldn't have changed at all.

[2019-01-16 08:13] mindtricksdev commented on #28
FieldValue property is missing.

[2019-01-16 08:17] mindtricksdev opened #172 "bug(core): FieldValue missing from firestore instance"
In the past versions I could get to `FieldValue` by using the `firestore` instance passed as prop.

However, after updating to:
"react-redux": "^6.0.0",
"react-redux-firebase": "^3.0.0-alpha.6",
"redux-firestore": "^0.6.3",

I can no longer access that. As a workaround I used the global firestore by importing `firebase` and doing `firebase.firestore.FieldValue` to get the statics I need.

[2019-01-17 23:32] gotdibbs opened #174 "DOCUMENT_ADDED being dispatched multiple times per single add operation"
**Do you want to request a *feature* or report a *bug*?**
I believe this to be a bug.

**What is the current behavior?**
When you have multiple components listening to the same collection/key, it appears multiple listeners are added. This ends up producing the side effect of the corresponding ordered collection having new documents be inserted multiple times erroneously.

**What is the expected be

[2019-01-18 01:21] prescottprue commented on #174
Are the queries the same settings? There is a feature called `allowMultipleListeners` which is set to `false` by default. That said, newer versions have `oneListenerPerPath`, and there is a [PR currently in progress for making that take into account `storeAs`](https://github.com/prescottprue/redux-firestore/pull/144).

Could you possible provide your listener configs so I can attempt to replicate

[2019-01-18 02:42] gotdibbs commented on #174
@prescottprue Thanks for the quick response! I think I've uncovered the issue. I found `ReactReduxFirebaseProvider` calls `createFirebaseInstance` each time it is rendered. In [`createFirebaseInstance`](https://github.com/prescottprue/react-redux-firebase/blob/next/src/createFirebaseInstance.js#L35) `firebase._` is recreated anew each time. Sounds like this is maybe a bug with `react-redux-firebas

[2019-01-21 13:07] YuvalKlein commented on #154
waiting too for the solution
thank you!

[2019-01-27 12:29] MWandtke opened #175 "ReduxFirestoreProvider - Warning: Failed prop type: The prop `dispatch` is marked as required in `FirestoreConnect(Connect(Container))`, but its value is `undefined`"
Hey guys,

I just started a new project with firebase and wanted to use the newest version of react-redux-firebase. I am using the firestore in my project, so the documentation says that I have to use the ReduxFirestoreProvider like:

`import React from 'react'
import { render } from 'react-dom'
import { Provider } from 'react-redux'
import firebase from 'firebase/app'
import 'firebase/auth'
impor

[2019-02-01 21:07] prescottprue commented on #175
What version of `react-redux-firebase` are you running? Make sure to be on `v3.0.0-alpha.6` or newer.

[2019-02-01 21:18] MWandtke commented on #175
I do but now I am using `ReactReduxFirebaseProvider` and it's working.
The documentation says you could use either one but I am not sure

[2019-02-01 22:00] prescottprue commented on #174
Great points, definitely thought about this before when starting to hear of unnecessary re-render issues. Yeah I like the approach of merging. If you want to go ahead and make a PR, I'll try to review it as soon as possible.

It seems like a better approach for now, and if that doesn't work out we can try some other things before releasing to `latest`.

[2019-02-03 23:50] devinmorgan commented on #119
@compojoom `oneListenerPerPath ` fixed my problem! Thanks so much for implementing this!!

[2019-02-05 00:46] prescottprue commented on #119
@devinmorgan Super great to know, thanks for updating! I am going to look into adding that to the SSR/next section of the docs. Also, in newer versions the plan is to have this be the default and warn in the case of multiple listeners on the same path (obviously with a way to silence the warning if that is the intention).

[2019-02-05 11:43] jancama2 opened #176 "feat(query): support FieldsPath.documentId in where"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Firestore gives you chance to use :
[code]
But I cant use FieldPath.documentId in:
[code]

I have to hack it with:
[code]
**What is the expected behavior?**
To be able to write:
[code]

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or

[2019-02-07 04:47] prescottprue commented on #176
@jancama2 Maybe I am missing something, but Is it not possible to just do:

[code]

Since you are talking about the document id? Equivelant to `collection('books').doc('fK3ddutEpD2qQqRMXNW5')`?

[2019-02-07 08:56] jancama2 commented on #176
It is but when you need to do nested where with id reference then it is a problem:
[code]

[2019-02-07 08:59] jancama2 commented on #176
I know it is an edge case, I do this `where` with id for security reasons. But the main idea about this bug is that firestore api gives you the ability to use `FieldPath.documentId()` and `redux-firestore` is not supporting it so it might be a good idea to support it :).

[2019-02-08 01:45] Manouli commented on #154
@prescottprue I think I m having the a similar issue. I m using the update method and I m updating my document. I can see the document getting updated in the in state and database.  `firestore.ordered` gets updated but order remains the same. Is there a way to get the new ordered data until this gets properly investigated? For example if I have a list of items and I order them by dateUpdated if th

[2019-02-08 07:58] prescottprue commented on #172
I think that it may be more clear and help shrink since to have that be the convention moving forward. The `firestore` instance was really meant to have methods that call action dispatchers, and those statics were later added for convince.

Thanks for reaching out.

[2019-02-11 11:39] YuvalKlein commented on #154
Hey prescottprue
there are news with this issue?
Thank you

[2019-02-11 23:23] prescottprue commented on #154
@YuvalKlein Have you tried any of the solutions posted above? I believe there are a number of potential issues and other things being discussed here so it is hard to tell what is being referenced

Things to check out that may be related:

* [v0.7.0](https://github.com/prescottprue/redux-firestore/pull/177) (not yet released) which has a fix for updating values in documents. This was due to another

[2019-02-14 08:26] YuvalKlein commented on #154
Thank you!
here I make a new array after delete the user
[code]
and here in main action I update FB:
[code]
here is the github repo: https://github.com/YuvalKlein/play-react.git

[2019-02-14 10:57] prescottprue commented on #154
@YuvalKlein It looks like what you are experiencing is a duplicate of #140 and should be fixed as part of the [`v0.7.0` release](https://github.com/prescottprue/redux-firestore/pull/177) as mentioned above.

[2019-02-17 03:19] gopinav commented on #36
Any update on this?

[2019-02-17 12:59] gopinav opened #178 "question(query): how to implement infinite scroll"
Hi, this is more of a question regarding the best way to fetch data for virtual scroll. Right now, I am using the 'limit' query option. I use firestoreConnect to fetch INIT_LIMIT=10 documents on page load. When the user reaches the end of a list, I call a setListener with the same queryOptions but this time, limit set to INIT_LIMIT + 10. Reach end again, INIT__LIMIT + 20 and so on. Is this the cor

[2019-02-18 04:30] geminiyellow commented on #121
oh, please fix it, thank you sir.

[2019-02-18 11:16] compojoom opened #179 "Requesting a non-existing document doesn't update data with null"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm requesting a document from a collection. When the document is non-existing the payload has data null and oardered [], but the data reducer doesn't update with a null value for the requested document. The ordered reducer on the other hand ads an entry [{id: 'non-existing-doc'}]

I'm checking with a

[2019-02-18 11:24] compojoom commented on #179
and actually. It updates ordered only if ordered has a document. If I first request a document that exist and then request a non-existing doc, then ordered gets updated with the id of the non-existing document.

If I request non-existing documents - ordered never updates with the id of the non-existing documents.

[2019-02-18 12:01] compojoom commented on #179
The problem seems to come from this line in the data reducer:
const data = docName ? get(payload.data, docName) : payload.data;

I do have a docName, but the payload.data is null
So get tries to get the document, it cannot find anything and returns undefined as we haven't specified a default value.

@prescottprue do you think that we should pass the payload.data as a default value for get? Or do w

[2019-02-18 23:29] sbtgE commented on #174
I can confirm this behaviour: [http://bit.ly/DOCUMENT_ADDED]
@gotdibbs , @prescottprue

I am using `ConnectedRouter` and  `"react-redux-firebase": "2.2.6"`

Did you manage to figure it out? Can you give me an advice about how to solve that in my case - filling a table?

Thanks!

[2019-02-19 08:26] prescottprue commented on #172
Which previous version were you using? Did you happen to change your Firebase JS SDK version as well? Which version of that are you using?

[2019-02-19 08:39] prescottprue commented on #103
Fixed in [`v0.7.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.7.0). Thanks for reporting.

[2019-02-19 08:39] #103 closed

[2019-02-19 08:40] prescottprue commented on #140
[`v0.7.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.7.0) includes a fix for updating array items. Thanks to all for reporting!

[2019-02-19 08:44] prescottprue commented on #179
That seems to make sense, and I don't think it should impact anything - did you want to make a PR with the updates?

[2019-02-19 08:47] compojoom commented on #179
Which one would you prefer? get by specifying a payload.data as default value or return where we add the snap.id?

[2019-02-19 08:49] prescottprue commented on #174
If it is due to multiple listeners being attached for the same path, folks could try using `oneListenerPerPath`

[2019-02-19 09:11] sbtgE commented on #174
I think it's not the thing. After the location is changed, the listener is set, got the response and then one DOCUMENT_ADDED action is fired for every single document in my collection - users. It's connected with firebase - auth.

@prescottprue , did you saw the video how it goes? http://bit.ly/DOCUMENT_ADDED

I tried to change `rrfconfig`:
`const rrfConf = {
  attachAuthIsReady: true,
  userProfi

[2019-02-19 17:20] gotdibbs commented on #174
@sbtgE I've corrected the underlying issue in [my fork](https://github.com/gotdibbs/react-redux-firebase/commit/111252583982b758766e1e9d09d76586f7e0c0a5) but I haven't had time to sort out where the unit test fits in yet.

The workaround is to move the `react-redux-firebase` provider HOC up in the tree. For example, I changed this:
[code]

...to this:
[code]

[2019-02-19 20:57] YuvalKlein commented on #140
Yeesss!! working!
thank you!

[2019-02-20 22:46] prescottprue commented on #174
@gotdibbs nice! Thanks for looking into it. Feel free to make the PR anyway and then we can take a look at what is failing. There are some tests that have been around for a while and may need updating anyway.

[2019-02-21 00:21] eleventhaus commented on #164
How do we download the pre-release?

[2019-02-21 08:29] prescottprue commented on #164
`npm i --save redux-firestore@alpha`. Using tags is a common way to have multiple types of version . You can check the tags of an npm package by running `npm view <package name>`, so checking the latest alpha can be done by running `npm view redux-firestore | grep alpha` and looking in the `dist-tags` section (or `npm view redux-firestore | grep alpha` if you are feeling crafty).

[2019-02-21 08:41] prescottprue commented on #179
I think the return is a little better

[2019-02-21 15:14] TITAN9389 commented on #117
i got the same error but i'm using `subcollections` TypeError: Cannot read property 'apply' of undefined.

[2019-02-21 17:12] gotdibbs commented on #174
@prescottprue You bet, just couldn't figure out where the test fit in was all so would appreciate thoughts there.

[2019-02-21 20:31] nemo opened #180 "population doesn't populate ordered data"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

ordered data isn't populated

**What is the expected behavior?**

oredered data to be populated.

**Which versions of dependencies, and which browser are affected by this issue? Did this work in previous versions or setups?**

Never worked.

**Steps to reproduce and if possible a minimal demo of the

[2019-02-22 01:07] prescottprue commented on #180
@nemo This is an extremely general bug description, and I don't believe I am understanding. Data is not ever populated within state, it is populated as you get it out of state using `populate`. Could you provide more description of what you are trying to accomplish as well as some code to reproduce (including version of dependencies)?

[2019-02-22 01:09] prescottprue commented on #117
@TITAN9389 Please open an issue that includes code, steps to replicate, and the versions of dependencies you are using so an error can be replicated.

[2019-02-23 04:34] GusRuss89 opened #181 "Question: How do I get react-redux-firebase's createUser (etc) functions to use firestore?"
It's possible this is a bug, but I could be missing something.

I'm just setting up a boilerplate project with the latest create-react-app, which uses react-redux ^6.0.1, which according to the docs means I also need to use react-redux-firebase ^3.

I've got it set up properly as far as I can tell, but when I try to create a user it gets added to the realtime database rather than firestore. Here a

[2019-02-23 04:43] GusRuss89 commented on #181
Oh I just found it.

[code]

Sorry!

[2019-02-23 04:43] #181 closed

[2019-02-24 12:51] nazar-kuznetsov commented on #121
Please fix it.

[2019-02-25 17:30] prescottprue commented on #178
Seems to the the same question as [630 of react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/630). As noted in there it may be useful to use something like [react-waypoint](https://github.com/brigade/react-waypoint) and use it to trigger [manual queries](http://react-redux-firebase.com/docs/queries.html#manual).

[2019-02-26 13:45] maysam commented on #114
where is the dispatch coming from here?

[2019-02-26 13:46] maysam commented on #114
where is the dispatch coming from here?

[2019-02-26 18:29] prescottprue commented on #114
@maysam It is supposed to come from the `onAuthStateChanged` call:

[code]

[2019-03-01 21:40] rscotten commented on #107
#182 might fix this issue

[2019-03-03 22:43] rscotten opened #184 "bug or odd behavior: unmerged default config constants"
**What is the current behavior?**

The default config constants are not merged into the main config object when using `createFirebaseInstance()` in `createFirebaseInstance.js`.  Instead, in `src/actions/firestore.js` we have `firebase._.config.defaultConfig`.

**What is the expected behavior?**

The `defaultConfig` object from `constants.js` should be merged into `firebase._.config` in `createFire

[2019-03-03 22:59] rscotten commented on #184
Fix added in PR #185

[2019-03-04 01:22] prescottprue commented on #184
Not intentional from what I can remember. Great find!

[2019-03-04 20:00] nemo commented on #180
So in this scenario, I would expect `_venue` on the `poets` collection to be populated:

[code]
However – it's not. But the following scenario works (but obviously we lose the order):

[code]

Does that make sense?

[2019-03-04 20:04] prescottprue commented on #180
@nemo As you show in the second example there, you need to use `populate` to get populated data out. It does not currently support ordered data. Since the data needed to do the population is queried for by placing `populates` on the query setting, you can build the populated result manually from data out of state.

That said, it would be good to support ordered population, so lets have this ticket

[2019-03-04 20:05] nemo commented on #180
Yes – that's really what I've been trying to say, but utterly failing at it. I want `populate` to support ordered population :P

[2019-03-08 08:06] #184 closed

[2019-03-08 08:07] #161 closed

[2019-03-09 07:24] sergeytsivin commented on #60
Hello!

Is there a workaround that would allow using populates with DocumentReference instead of just plain-string ids?

I would suggest allowing user to pass a function that would extract the document id from firestore attribute in case that it is not a plain-string but some complex structure. This would also cover the case of DocumentReference.

[2019-03-09 10:04] nemo opened #186 "Passing a date to startAt query crashes library"
**What is the current behavior?**

[arrayToStr](https://github.com/prescottprue/redux-firestore/blob/7ed329033d7d2627f62833f9b11f3ed0e5f90455/src/utils/query.js#L150) function tries to call `map` on any value that isn't a string, which breaks when the value is a Date object.

**What is the expected behavior?**

It should call `toString` on the date to resolve this issue.

**Which version of redux-

[2019-03-10 20:06] prescottprue commented on #154
@YuvalKlein Have you tried with `v0.7.1`?

[2019-03-10 20:43] prescottprue commented on #186
Released your fix in [v0.7.2](https://github.com/prescottprue/redux-firestore/releases/tag/v0.7.2). Also added a case to cover it in the tests. Thanks for making the PR!

[2019-03-10 20:43] #186 closed

[2019-03-11 12:33] mindtricksdev commented on #172
Sorry for the delay.

`
-    "react-redux": "^5.1.1",
-    "react-redux-firebase": "^2.2.6",
-    "redux-firestore": "^0.5.8",
-    "firebase": "^5.5.8",
+    "redux-firestore": "^0.6.3",
+    "react-redux": "^6.0.0",
+    "react-redux-firebase": "^3.0.0-alpha.6",
+    "firebase": "^5.7.3",
`

[2019-03-11 18:35] sergeytsivin commented on #60
Documentation for Populate has an [example data ](http://react-redux-firebase.com/docs/populate#example-data) which is using plain string IDs.

However, it would be helpful to consider the case when Firestore's built-in  [Reference data type](https://firebase.google.com/docs/firestore/manage-data/data-types) is used for "linking", for example:

[code]
In this case  "owner" attribute always refers

[2019-03-11 18:58] sergeytsivin commented on #60
Once I have realized that _populates_ parameter could be a function I did create a workaround:

[code]
This code first extracts the user document ID from the `owner` attribute and then uses this ID to initialize a new `ownerData` attribute. Finally `ownerData` attribute is populated as usual.

[2019-03-12 10:06] ofersarid opened #189 "state not updated correctly after removing more than 1 item from sub collections (with batch function)"
using the firestore batch function for deleting multiple items from a **sub collection.**
"sometimes" the state just doesn't update correctly and instead of removing all deleted items it removes just 1.
firestore database updates correctly.
only after refreshing i get the correct state.

[2019-03-12 11:08] YuvalKlein commented on #154
it's work in 0.7.0
actually I responded in the other thread, thought u got it, sorry..
Thank you!

[2019-03-12 22:52] #154 closed

[2019-03-12 22:54] prescottprue commented on #189
@ofersarid Please report what versions of dependencies you are using and how you are attaching listeners and/or rendering the data. All of this is necessary to try to reproduce.

[2019-03-13 23:33] Venryx opened #190 "mergeOrdered:false still creates actions with "action.payload.ordered""
**What is the current behavior?**
Setting `{mergeOrdered: false, mergeOrderedDocUpdate: false, mergeOrderedCollectionUpdates: false}` in the `reduxFirestore(firebase, config)` config, continues creating many `DOCUMENT_ADDED` actions when an entry is _deleted_ from a collection.

**What is the expected behavior?**
I'd expect there to be no `DOCUMENT_ADDED` actions, when merely _deleting_ an entry,

[2019-03-14 02:52] prescottprue commented on #190
Definitely seems like there is something weird here.

When you say the "ui freezes for 10 seconds" - how are you connecting to the data that is rendered? Have you already ruled out unnecessary re-renders by adding any props comparisons or pure components? Are you able to share a working version of the code that shows this?

[2019-03-14 03:11] Venryx commented on #190
The freezing for 10+ seconds is due to three things:
1) Many UI elements being connected to the store, with a fair bit of processing in the connect functions.
2) The sheer size of the nodes collection being subscribed to.
3) Redux-firestore triggering DOCUMENT_ADDED for every entry when one is deleted.

If one of those three are improved, the freezing is solved and it's back to acceptable performa

[2019-03-15 22:24] compojoom opened #191 "discussion: Document_added performance"
I was discussing the following problem with a colleague today and I'm wondering if other have experience the same behavior.

We have a component that does a redux firestore query similar to this:

firestore().collection('whatever').where('item_id', '==', 'XX').where('comment_id', '==', 'YY')

This query returns a small number of documents. Then in another component we have a query that does only:

[2019-03-16 13:25] daniely93 opened #192 "Error: Collection can only be run on a document"
**What is the current behavior?**
I receive an error when I navigate directly to any page except '/',
"Error: Collection can only be run on a document. Check that query config for subcollection: "userGuests" contains a doc parameter."
My collection 'userGuests' contains few docs.

**What is the expected behavior?**
To enter any page directly and not from the homepage

**Which version of redux-fire

[2019-03-16 18:56] ofersarid commented on #189
**from my `packege.json`**
[code]

**from my index.js**
[code]

from my `root-reducers.js`
[code]

I believe this is all the relevant info, please let my know if you think anything else is necessary.
did i articulate the problem well enough ? is it clear ?

it is reproducible simply by trying by using the batch function to remove items form a sub collection.
happens almost every time. (sometimes t

[2019-03-22 01:09] taylorbourne commented on #192
I think I just ran into this same issue..
[code]
Throws the same error you listed.. I know that each of my `party` collections has at least one guest.

[2019-03-22 02:45] prescottprue commented on #192
@taylorbourne You must provide `doc` as well. Subcollections are under a document, which is what the error is indicating.

@daniely93 This error comes from not passing a `doc` setting when creating a query. In order to investigate further I would need code that replicates the issue - feel free to start with [the simple example on code sandbox](https://codesandbox.io/s/xpq3784jvw).

[2019-03-22 09:53] daniely93 commented on #192
This is how I export:
`export default compose(
    connect((state, props) => ({
        auth: state.firebase.auth,
        guests: state.firestore.ordered.guests,
        tables: state.firestore.ordered.tables,
        settings: state.settings
    })),
    firestoreConnect(props => [{ collection: 'guests', orderBy: ['expected', 'desc'], doc: props.auth.uid, subcollections: [{ collection: 'userGues

[2019-03-22 19:03] prescottprue commented on #192
@daniely93 It seems like you are not waiting for data (in this case auth uid) to load before creating your query - this is [outlined in the queries section of the docs](http://react-redux-firebase.com/docs/queries.html#loading) as well as [in the state based query example](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/snippets/stateBasedQuery). You will most likley want

[2019-03-24 20:43] daniely93 commented on #192
Few things, why firebaseConnect and not firestoreConnect?
what is the usage of "{ firebase: { data: { projects } }" (why do I need props here and not state?)?
spinnerWhileLoading is not defined, I even tried to use my own spinner but it won't work.

Appreciate your help.

[2019-03-25 03:58] prescottprue commented on #192
1. firebaseConnect -> firestoreConnect (just a typo, my bad. Fixed.)
2. The usage of the destructuring is off of state (i.e. `state.firestore.ordered.guests`, I just didn't remove the destructuring in my example by accident. Fixed that)
3. `spinnerWhileLoading` is not defined because you didn't define it or import it from anywhere. The [link I provided before](http://react-redux-firebase.com/docs/

[2019-03-25 21:23] GustekDev opened #194 "Parameter 'queryOption' implicitly has an 'any' type."
**What is the current behavior?**

After adding `redux-firestore` with `yarn add redux-firestore` and adding `firestore` reducer , project is not compiling any more and I get an error
[code]

**What is the expected behavior?**

It should compile

**Which version of redux-firestore are you using? What about other dependencies?**
[code]
ts config
[code]
**Which environments/browsers are affected by

[2019-03-25 23:23] prescottprue commented on #194
@GustekDev Can you provide how you are actually importing the code? I have imported it into a number of other TS projects without issues, but maybe it is a difference in settings. You could turn off `noImplicitAny`, is there a reason you have it on?

[2019-03-25 23:50] GustekDev commented on #194
Do you mean the import line in reducer for example?

[code]

I like my types to be known, and avoid uses of `any` where possible, that config option helps with this.
I did disable it temporarily as workaround for this issue but I hope I will be able to enable it back.

[2019-03-25 23:57] GustekDev commented on #194
I assume it should be type annotated as string based on this comment

https://github.com/prescottprue/redux-firestore/blob/7ed329033d7d2627f62833f9b11f3ed0e5f90455/src/actions/firestore.js#L141

[2019-03-26 15:18] daniely93 commented on #192
I tried to import everything, but still can't fix it.
I will write here my code (deleted irrelevant code), I would like to keep reading about it but if you can guide me with a solution I will appreciate it.

`import React, { Component } from 'react';
import { compose } from 'redux';
import { connect } from 'react-redux';
import { firestoreConnect } from 'react-redux-firebase';
import styles from '

[2019-03-27 22:36] prescottprue commented on #192
Are you sure that you are waiting for the auth data to load before using it create a query? The example you provided seems that it wouldn't fully work since Spinner is a component, not an HOC, but not sure without more context. If you could share a codesandbox or similar where the code could e run, that would be helpful.

[2019-03-28 05:36] amitava82 opened #196 "Populate computed child key"
**What is the feature?**
My document looks like this
[code]
I want to populate `cook` whose value is full document path and not just ID. I tried something like this after going though few other issues but it did not work.
[code]

**What version would this apply to?**
latest

[2019-03-28 18:01] ashton721 opened #198 "feat(query): support array_contains in where query"
Firestore allows you to query an array field based on its contents but it doesn't seem to be available in this package.

When attempting to do a query like where: ['arrayField', 'array_contains', valueToLookFor]
I get the following error:  @firebase/firestore: Firestore (5.5.9): FIRESTORE (5.5.9) INTERNAL ASSERTION FAILED: Unknown relation: array_contains

So I assume it currently isn't supported.

[2019-03-29 21:39] prescottprue commented on #198
It isn't currently supported, but it definitely should be! Open to a PR if anyone gets to it, otherwise I will try to get to it when I can. Thanks for reporting!

[2019-03-31 08:03] PeterPil opened #200 "Trying use getFirebase and getFirestore, but catch an error"
I use the newest version of  react-redux-firebase: "^3.0.0-alpha.10" and want use getFirestore and getFirebase, but i can't use it, because get an error: "Firebase instance does not yet exist. Check your compose function". I found issue #13 but I don't understend how implement it in my code. Help me to solve that, thanks

[2019-03-31 23:45] prescottprue commented on #200
Responded to [663 that you posted in react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/663). Going to close since this has also been asked in [635](https://github.com/prescottprue/react-redux-firebase/issues/635).

[2019-03-31 23:45] #200 closed

[2019-04-04 07:41] daniely93 commented on #192
Thanks for your help, now it's working!

[2019-04-07 17:43] rscotten commented on #45
I had this problem too, but it turns out it's because I was doing a document delete inside a *transaction* instead of deleting that document directly.  If deleting directly, redux-firestore works as expected.

The problem is that when listening on a collection, deleting a document from that collection inside a transaction correctly removes the document from the `state.firestore.ordered['storeAs']`

[2019-04-07 19:25] rscotten commented on #198
@ashton721 @prescottprue I use `array-contains` with a hyphen on 0.7.3 and it works for me

[2019-04-07 19:39] rscotten commented on #45
@prescottprue, Since a LISTENER_RESPONSE action does not merge the new and existing data for `ordered`, `queries.data`, and `composite`, it's inconsistent for it to happen for `data` in `src/reducers/dataReducer`.  It's also unexpected and inconvenient.

Is it necessary or can we remove the merge and just use the new data?

[2019-04-08 11:54] #198 closed

[2019-04-08 11:55] prescottprue commented on #45
@rscotten We can remove the merge and just use the new data - feel free to open a PR.

[2019-04-08 21:09] nt4f04uNd commented on #60
Oh my, this helped me so much! This isn't documented anywhere and that's solved all my problems. I have the following firestore structure

[2019-04-08 21:14] nt4f04uNd commented on #60
Oh my, this helped so much! This isn't documented anywhere? I have some collection with documents whose IDs repeat userIDs in user collection and I wanted to populate these docs with user profiles by these IDs. This is the only way I found, am I right?

[2019-04-08 21:17] prescottprue commented on #60
@nt4f04uNd Not sure it is documented, but if it is, not clearly!

[2019-04-11 12:20] CTres commented on #196
+1

[2019-04-11 12:42] sultan2Dilawar commented on #196
+1

[2019-04-13 13:29] bcgilliom commented on #179
Is there an update on this? I just ran into this exact problem on  `"react-redux-firebase": "2.2.6", "redux-firestore": "^0.7.0"`

[2019-04-14 09:27] compojoom commented on #179
I haven't been able to create a pull request. @bcgilliom - do you want to jump in?

[2019-04-14 13:40] mattvick commented on #91
I have a similar issue. I'm using `react-redux-firebase`.

My `compose` function looks like this:

[code]

`SET_LISTENER` shows my `collection`:

![SET_LISTENER](https://user-images.githubusercontent.com/651430/56093562-9eac2f80-5eca-11e9-82fd-39cd3dc50685.png)

`LISTENER_RESPONSE` action has populated `data` and `ordered` data:

![LISTENER_RESPONSE-action](https://user-images.githubusercontent.co

[2019-04-14 15:23] bcgilliom commented on #179
Yeah, I think I can do that. It looks like the fix above sets data[id] to null as expected. What's the desired behavior for ordered? The (somewhat strange) behavior described above still happens. To me, it seems like a doc that doesn't exist should never be added to ordered, but I'm not sure if that has other consequences...

The logic in question looks to be in orderedReducer -> writeCollection:

[2019-04-14 21:58] mattvick commented on #91
My issue above was caused by a type in a reducer import and fixed by commit [00b4190](https://github.com/mattvick/anonymous-firestore/commit/00b41904aa8932fa3defdfafccefa7b005e8d231), [fa7f7f6](https://github.com/mattvick/anonymous-firestore/commit/fa7f7f678037d86b61d62539a4b0fad4b05e6428) and [3be76ec](https://github.com/mattvick/anonymous-firestore/commit/3be76ecb215e9e454c7009f0d2bcf4a0057626e9

[2019-04-15 19:23] JoshSum commented on #52
hi guys i wanna ask,,,,can we change this option to a local state? Thx for any help
[code]

[2019-04-15 20:13] compojoom commented on #52
@JoshSum - before firestoreConnect is called - your redux selector is being executed. So if in the selector you return {docId: myDocId}

and you change your firestore connect to accept props as first argument, then you can access prop.docId

firestoreConnect(props => {
const {docId} = props
return [
collection...
doc: docId
...
]
})

[2019-04-16 07:29] jaschaio opened #202 "Inconsistencies between expected state for different API calls"
I have noticed some inconsistencies between api calls. If I use `store.firestore.setListener()` the `firestore.status.received`, `firestore.status.requested` and `firestore.status.timestamp` values are populated.

If I use instead `store.firestore.get()` none of those fields is populated.

On the first sight I can't really see why. If the `firestore.status` state slice should be used for loading i

[2019-04-16 07:38] jaschaio opened #203 "Allow accessing of original firestore objects"
It would be great if I could access the original firestore client API objects through this library as well.

This begins at accessing the original `firestore` object I am passing over to the redux-firestore store enhancer and ends at the individual document.snapshots I get back from api calls.

A simple example is that I would like to query the next set of documents within a collection `startingFr

[2019-04-16 07:46] jaschaio opened #204 "Why is state repeated between data and ordered"
I am not a 100% on this one, but I can't immediately see why the same data is repeated between the `firestore.data` and `firestore.ordered`. This essentially doubles the size of the store and I can see how this becomes problematic for large apps with large documents.

Wouldn't it be enough for `firestore.ordered` to be simply an array of IDs so that I know the order of IDs and then get the data fr

[2019-04-16 09:22] donvanderkrogt opened #205 "Or style query example firestore"
I'm having trouble to perfom multiple queries and compose the data like in the documentation: `['sally', 'john', 'peter'].map(friendId => ({
                             collection: 'users',
                             where: [
                                    ['id', '==', friendId],
                                    ['isOnline', '==', true]
                             ]

[2019-04-16 11:47] JoshSum commented on #52
@compojoom I have many documentId on each subcollection.... how to check if exist, then firestoreconnect, if not exist dont do firestoreconnect, but i have default connect on top of this....
`firestoreConnect(props =>{
const daily = props.name
return[
        { collection: 'users' }, // <- this default connect
        { collection: 'campaignModules' }, // <- this default connect
        {

[2019-04-16 12:01] compojoom commented on #52
[code]

[2019-04-16 18:38] nt4f04uNd commented on #114
Using 2.2.6. Such action type does not exists

[2019-04-16 19:20] nt4f04uNd opened #206 "Populates syntax sugar"
**What is the feature?**
Populates syntax sugar

**What version would this apply to?**
I wrote my examples on 2.2.6.

**Do you have thoughts/examples on how the feature would be used (i.e. API)?**
I have a bunch of ready functions I wrote on Typescript. I want you to include them into your library, or something like these ones, because current query structure is very annoying.

Here's a straightfo

[2019-04-16 19:43] nt4f04uNd commented on #206
I can send you all my source code if you want

[2019-04-16 19:45] prescottprue commented on #206
Love the idea! I was working on something similar to createFirestoreQueries for [standardizing query config in v1.0.0 of redux-firestore](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap#pattern-query-config-as-a-function).

Not sure I fully understand the upside of  `populateWithDocId`, but definetly open to discussing that some more.

[2019-04-16 19:49] nt4f04uNd commented on #206
It just adds doc id to the result of a query as field, that you pass in third argument

[2019-04-16 19:59] prescottprue commented on #206
@nt4f04uNd I understand what it is doing, but how is that different than just using `populate` directly?

As for `pathOptions`, I was hoping to go more towards object query configurations instead of building out string paths (especially since v1 has helpers which build these paths based on query configs for use in the store anyway).

[2019-04-16 20:06] nt4f04uNd commented on #206
@prescottprue but in those example we have preset 'owner' field. In my example I do not have such, instead I take this information directly from document ID and add it as field on end request. Or I just misunderstood something?

[2019-04-18 06:45] prescottprue commented on #206
@nt4f04uNd I misunderstood what it was doing because of the naming `populate` being within the name made me thing that it was doing what `populate` does (i.e. replace a key with a value) - you are saying that you use that to actually put the key of the document onto the document itself, so you can then use it. Usually folks use `ordered` for their list, then `data` for items by key, so the key is

[2019-04-18 06:46] prescottprue commented on #196
Support for references should hopefully make this possible as well. Thanks for reporting, as always, open to a PR if anyone gets a chance.

[2019-04-18 06:48] prescottprue commented on #114
@nt4f04uNd You would want to be importing this from `redux-firestore` not `react-redux-firebase` (which you listed the version of).

[2019-04-18 06:50] prescottprue commented on #179
Great team work on this @bcgilliom and @compojoom! Really glad to see how simple the solution was. Merged the PR with the fix.

[2019-04-18 06:50] #179 closed

[2019-04-18 06:53] prescottprue commented on #205
@donvanderkrogt I believe your storeAs will cause all of the values from each query to run over each other instead of getting all three results - which could be the reason for your issue.

If you stored each query in a different location in redux state (i.e. a dynamic storeAs based on which item you are on) then they can be combined later.

[2019-04-18 07:01] compojoom commented on #179
Glad that we have one less bug to drag us down :)

[2019-04-19 19:03] prescottprue commented on #203
It is more common to try to keep plain js objects in redux state since that makes immutable state updates more clear. I am open to the idea of storing non-plain-js objects like snapshots in state, but would like to understand the possible performance impacts more fully before making the change.

[2019-04-19 19:09] prescottprue commented on #204
This is intentional by design so you can look items up by key where as `ordered` is for an ordered list (from calling forEach on the query response from firebase). It should in theory be enough for `firestore.ordered` to be just keys, but since the full snapshot object is available

As for the "large store" problem, I have worked on applications with MASSIVE redux state trees, but did not really r

[2019-04-20 06:16] jaschaio commented on #204
I actually wondered about this because I designed my store previously for using another REST API and used the `allIds` and `byIds` [approach described within the redux docs](https://redux.js.org/recipes/structuring-reducers/normalizing-state-shape).

`allIds` is mostly equal to the `ordered` key without contents and `byIds` to the `data` key just as it is. If normalizing state this way is indeed t

[2019-04-20 21:43] GitHubGreg commented on #198
Thanks for the note that array-contains works. @prescottprue should we expect this to change to array_contains in the future?

[2019-04-21 09:38] nt4f04uNd commented on #206
But how am I supposed to populate profile with that information? With my approach it's being populated automatically.
![image](https://user-images.githubusercontent.com/39104740/56468224-b424da80-6431-11e9-88b0-3d4eec104c63.png)

Can you provide me with a simple example, please?

[2019-04-21 17:42] prescottprue commented on #198
@GitHubGreg the goal is to keep things as close to the Firebase API as possible, and since in [their examples in the docs they use `array-contains`](https://firebase.google.com/docs/firestore/query-data/queries#array_membership), the current plan will be to stick with that. Did you find `array_contains` somewhere in the Firebase docs?

[2019-04-21 18:01] ashton721 commented on #198
Looks like the confusion is due to inconsistently in the firebase docs. Their description says array_contains but their code example says array-contains. Thanks for helping me figure it out

[2019-04-21 18:32] prescottprue opened #207 "feat(query): pass missing index error message to action dispatch (so logListenerError is not needed)"
**What is the feature?**
* Pass along the missing index error message into the action that is dispatched so that logListenerError is not needed to get the link that Firebase provides for setting the index

**What version would this apply to?**

* `next`

[2019-04-21 18:34] GitHubGreg commented on #198
Yeah I was following their docs. Thanks guys.

[2019-04-21 18:43] prescottprue opened #208 "feat(actions): uniqueSet() for transaction capability"
**What is the feature?**
Exposing a uniqueSet() in props.firestore that is similar to the one within props.firebase would be fantastic for use cases where multiple clients are writing to the same document.

Originally requested in [419 of react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/419) by @giles-t

**What version would this apply to?**

**Do you have thoughts

[2019-04-21 18:55] prescottprue commented on #205
Here is an example:

[code]

You could also make use of [lodash's uniqBy](https://lodash.com/docs/4.17.11#uniqBy) if you don't want repeats of users.

[2019-04-21 18:56] #205 closed

[2019-04-21 18:56] prescottprue commented on #206
@nt4f04uNd just to be clear, I believe you are asking "how would I access the id of the profile within profile object" (i.e. adding the id parameter, not "populating", [which describes actually replacing an id with a value](http://react-redux-firebase.com/docs/populate.html)).

If that is the case, you shouldn't really need the id directly on your data since you will actually need that id to looku

[2019-04-21 19:02] prescottprue commented on #204
Yeah like I said, I agree that it is best practice to keep just the keys in the array, and that is what I use with other APIs anways, so lets switch this to a ticket for capturing that. As always, I'm open to PRs if you get a chance to work on it.

Really glad to have folks giving input on the core architecture, especially on redux-firestore since it is still so young. Thanks for reaching out!

[2019-04-21 19:04] prescottprue commented on #202
Yeah I agree it should be consistent accross API calls - I started by just making the actions dispatch and had planned to getting to the reducer logic. Open to a PR if you get a chance.

[2019-04-21 19:08] prescottprue commented on #194
Thanks for the PR

[2019-04-21 19:08] #194 closed

[2019-04-21 21:46] nt4f04uNd commented on #206
@prescottprue I have the following structure of firestore on my firebase project. (idk how to image that, so will use json format)
[code]
I need to render data from subcollections of `friends` document on some page in my app, so I have to populate every user profile from these subcollections for I could display their `nicknameId`s. To do this I must add `userId` from title of every document to it'

[2019-04-22 00:32] prescottprue commented on #198
Oh great to know, we should report an issue on their docs!

[2019-04-22 03:42] illuminist commented on #207
From #658

I didn't provide `logListenerError` to rrf config in the repro. I think it's `firebase` itself logging out the error.

[2019-04-22 04:05] prescottprue commented on #207
@illuminist It is from the error case of attaching the query, [which redux-firestore uses internally so that it can dispatch an error action](https://github.com/prescottprue/redux-firestore/blob/master/src/actions/firestore.js#L223-L233) - so providing that config option makes sure to still log the error.

[2019-04-22 04:42] jaschaio commented on #203
I am not a 100% familiar with how store enhancers actually work, but would having queried snapshots accessibe through a method on `store.firestore` be an option? If it is we could keep the redux store plain (which is mostly fine right now except for those cases where you need the original firestore snapshots).

[2019-04-22 05:02] illuminist commented on #207
https://github.com/prescottprue/redux-firestore/blob/cd9eb5c580e9e69886d4f1df1929c45adbe6081f/src/constants.js#L117

I see it now. `logListenerError` is defaulted to `true` so that's why it logs an error without explicitly setting it.

[2019-04-22 09:46] jareqpl opened #209 "createFirestoreInstance function from redux-firestore is incompatible with createFirestoreInstance from react-redux-firebase's provider props."
**What is the current behavior?**
Compilation error.
**What is the expected behavior?**
It should compile.

**Which version of redux-firestore are you using? What about other dependencies?**
[code]

ReactReduxFirebaseProviderProps expect's to get createFirestoreInstance function:
[code]

according to documentation i should import it like that:
[code]
But if you'll look into createFirestoreInstance

[2019-04-22 20:06] jareqpl commented on #209
I've managed to fix this in this PR: https://github.com/prescottprue/redux-firestore/pull/210

[2019-04-24 18:25] MrHazimAli commented on #114
@prescottprue , how about we want to preserve everything except for one collection? is there anything like that ?

[2019-04-24 18:49] MrHazimAli opened #212 "options to remove specific tree on firestore once logout"
**What is the feature?**
As for now, we can dispatch `actionTypes.CLEAR_DATA` once user logout to clear all data inside firestore or preserve which collection inside firestore that we want to retain. but this feature request is focusing on removing specific tree via dispatch when user logout.

**What version would this apply to?**
latest

**Do you have thoughts/examples on how the feature would be

[2019-04-24 18:51] MrHazimAli commented on #114
@prescottprue I open issue request the feature in

[https://github.com/prescottprue/redux-firestore/issues/212](https://github.com/prescottprue/redux-firestore/issues/212)

Thanks for the effort! 💯

[2019-04-24 19:59] maysam commented on #114
thanks @MrHazimAli  ;-)

[2019-04-25 23:16] Wgil opened #213 "[Question]: Hook into LISTENER_RESPONSE action?"
Hello,

I would like to know if there's a way to "hook" into the `LISTENER_RESPONSE` action so I can dispatch another actions based on the data returned by firestore and handled by `LISTENER_RESPONSE`. What I would like to achieve is to filter the data I'm getting using `firestoreConnect` into more specific collections.

Any help would be appreciated.

[2019-04-28 14:38] esbenvb commented on #213
I had the same issue yesterday, ended up with this solution:

https://github.com/prescottprue/react-redux-firebase/issues/691#issuecomment-487287309

[2019-04-28 14:51] esbenvb commented on #150
I agree with @apietrzak - if course we can store the data with a custom-made key for each document, but that not only makes the app a bit code more complex, it also leads to memory leaks, when the user is browsing around in 100s or 1000s of pages in the app, all these are kept in the store, because they were once loaded.

I don't see any solutions that are more elegant than the `removeOnUnset: tru

[2019-04-28 16:24] Wgil commented on #213
@esbenvb thanks for pointing me to your solution, I'll get to you my final solution :)

[2019-04-29 23:15] prescottprue commented on #213
Going to close for now since there is a posted solution

[2019-04-29 23:15] #213 closed

[2019-05-08 00:30] GitHubGreg commented on #50
Is it possible this bug has crept back in? I have the exact same issue as @QuentinBrosse . My field names are different, but it is identical. I am using react-redux-firebase 2.2.6 and redux-firestore 0.7.0.

Thanks.

[2019-05-08 06:28] prescottprue commented on #50
@GitHubGreg Are you sure that your indexes are set? If so can you open a new issue with a repro and your exact queries - feel free to reference this issue as well

[2019-05-08 16:39] Wgil opened #214 "bug(actions): CLEAR_DATA is not clearing all listeners."
**What is the current behavior?**
Dispatching `CLEAR_DATA` action is not clearing all my listeners.

**What is the expected behavior?**
It should clear all the listeners.

**Which version of redux-firestore are you using? What about other dependencies?**
`"redux-firestore": "^0.7.0",`

[2019-05-08 20:38] GitHubGreg opened #215 "Using orderBy in firestoreConnect query prevents results from being returned"
**What is the current behavior?**
When I run a query using firestoreConnect with a `where` and an `orderBy`, it fails. If I remove the `orderBy` it passes. The console doesn't offer me the link to create the index, so I tried manually creating it but it still fails to return the firestore collection. My issue is identical to [this](https://github.com/prescottprue/redux-firestore/issues/50).

**Wha

[2019-05-08 20:39] GitHubGreg commented on #50
The console doesn't offer me the link to create the index, so I tried manually creating it but it still fails to return the firestore collection. I created a new issue [here](https://github.com/prescottprue/redux-firestore/issues/215).

Thanks!

[2019-05-09 19:36] mozamarius commented on #45
Any updates on this?

[2019-05-09 23:43] rscotten commented on #45
I can submit a PR this weekend.

[2019-05-10 11:27] ivangr1 opened #216 "View changes between snapshots"
Hello and thanks for the great library!
I am new to Redux and can't seem to find an answer to my issue.
I would like to somehow get the change type that happens when the collection is modified.
I need to create a custom notification when new document is added in the collection which is being observed by onSnapshot.

Firebase docs have exactly what I want:
[code]
And since you changed the onSnapsho

[2019-05-13 03:45] lmick002 opened #217 "DOCUMENT_MODIFIED: Duplication of object in ordered array"
**What is the current behavior?**
 When updating an object from the firebase dashboard (i.e. changing a field value) the  "type(pin): "@@reduxFirestore/DOCUMENT_MODIFIED"" Action fires and a duplicate object is added in the ordered array instead of updating the original object

`export default withRouter(
	compose(
		firestoreConnect((props) => [
			{
				collection: 'Workspaces',
				where: [ [ `

[2019-05-13 04:01] lmick002 commented on #217
Sorry. We actually created a bug/edge case: Although you Firestore Documents themselves create an "id", if you add an "id" field to your object, it will throw off the DOCUMENT_MODIFIED action and create a duplicate object

[2019-05-13 04:01] #217 closed

[2019-05-13 07:03] mozamarius commented on #45
Any workaround on this ? I can't use ordered because of populate.

[2019-05-13 16:45] rscotten commented on #45
Sorry I couldn't get to this yesterday.  I'm working on it right now.

[2019-05-13 18:11] rscotten commented on #45
@mozamarius @prescottprue PR #218

[2019-05-15 11:38] mozamarius commented on #45
@prescottprue @rscotten
Some strange behavior, if i have more then 2, it doesn't remove it from data, it's set to null.

![bug](https://user-images.githubusercontent.com/17565578/57772785-0ef2de80-771f-11e9-9b9e-7de7ff2f4a7e.png)

But if i have 2 or less in the list, works fine.

[2019-05-15 12:23] mufaddalmw commented on #50
@GitHubGreg https://www.fullstackfirebase.com/cloud-firestore/indexes this may help you, I got stuck in same situation but solved it with above ref.

[2019-05-15 15:26] rscotten commented on #45
@mozamarius Looking into this right now

[2019-05-15 15:46] rscotten commented on #45
@mozamarius  I just wrote a test for deleting 1 document from a collection of 4 documents and I don't get the docId with a null value.  So

1. Please post the code you're using to delete the document.
2. If you have the Redux Dev Tools Chrome extension (you should), please post a screenshot of the redux actions for the delete operation.

[2019-05-15 16:15] rscotten commented on #45
@mozamarius I see what the problem is: when deleting a document, the `DOCUMENT_REMOVED` action is fired and not the `LISTENER_RESPONSE` action.  This is why the data collection document value gets set to `null` rather than removed altogether.

@prescottprue When deleting a document from a collection being listened on, what was the intent behind setting a document to `null` instead of removing that

[2019-05-16 07:11] illuminist commented on #215
Works perfectly fine for me. Just make sure you have been creating an index like this
![image](https://user-images.githubusercontent.com/1757315/57833140-93a73080-77e3-11e9-8be3-b25fb8db0c49.png)
![image](https://user-images.githubusercontent.com/1757315/57833378-13cd9600-77e4-11e9-9183-d6c2ac8606a3.png)

My reproduction https://codesandbox.io/s/reactreduxfirebase-reduxfirestoreissues215-9od6d
You

[2019-05-16 10:08] illuminist commented on #208
[code]
What do you think?

[2019-05-17 21:12] GitHubGreg commented on #215
Thanks for looking into this so rigorously. On my end, I already have that exact index (see below) but no results returned. That said, the console message with URL to create the index never appeared (so I created it manually).

Good question. Yes, when I use the firebase package directly it works and returns the results.

Here is my code for what it's worth. Like yours but more verbose.

[code]

[2019-05-20 06:44] illuminist commented on #215
What is datatype of `year`? The query datatype need to match both of query and database. I modified my repro to have year as a string and it's still working.

Your latest code is missing `.orderBy('key', 'asc')` which might be an important clue why your code doesn't work.

Could you fork my sandbox and modify until it doesn't work?

[2019-05-20 23:36] GitHubGreg commented on #215
Good point. I added `.orderBy('key', 'asc')` to my above firestore query and it gave me an error to create the index. I clicked the link and the only difference between the one I had manually made previously and the one it wanted to make was the order. See below.

![Screen Shot 2019-05-20 at 7 27 08 PM](https://user-images.githubusercontent.com/7059106/58058134-aef0a380-7b35-11e9-94ae-28146ad3ae3f

[2019-05-20 23:36] #215 closed

[2019-05-20 23:37] GitHubGreg commented on #50
In case anyone lands here with a similar issue, see this thread in case it is the same issue for you: https://github.com/prescottprue/redux-firestore/issues/215

[2019-05-20 23:37] GitHubGreg commented on #50
Thanks @mufaddalmw

[2019-05-20 23:54] prescottprue commented on #208
Yup, that is the desired behavior @illuminist, thanks for posting. Feel free to make a PR with the changes, and we can get them in 😄

[2019-05-24 06:36] illuminist commented on #208
Does it need to use `redux-firestore` function? Somehow I feel like I need to make it accept `QueryOption` like the other functions.

[2019-05-24 06:50] illuminist commented on #203
I have a plan of using `WeakMap` to cache DocumentSnapshot using the data from `.data()` as a key, where those data object has also been dispatched to redux. So that we can get snapshot directly using only plain object stored in redux.

[code]

[2019-05-26 17:13] prescottprue commented on #45
@rscotten The reason for setting `null` instead of removing the document was to indicate that the data is loaded, but empty. When the value is `undefined` it could mean that the data hasn't loaded yet.

[2019-05-27 16:46] Wgil opened #220 "[QUESTION]: How to add another doc to the state in firestore.data using @@reduxfirestore/GET_REQUEST without overwritting what is already there."
Hello,

I have a collection called `users` with all my users in it and the following queries:
`firestore.get({ collection: 'users',  doc: user1.id })`
`firestore.setListener({ collection: 'users',  where: ['teamId', '==', teamId]  })`

Now what happens is that I send the request for `user1` first, then set the listener, then I get the listener response, which gives me `ordered.users` populated wit

[2019-05-27 18:51] yevgenypats opened #221 "feat(query): support for collectionGroup query"
**What is the feature?**

Firestore introduced Collection Group not long ago which gives the power to query collection with same name but not the same pass which is a very very powerful feature.

https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query

Is this on the roadmap? or maybe it is supported out of the box?

Cheers

[2019-05-27 19:16] Wgil commented on #121
@prescottprue

Is
[code]

a valid workaround for this?

[2019-05-30 22:06] prescottprue commented on #208
@illuminist yeah, it would live in redux-firestore since that is where the other Firestore specific actions live. Accepting QueryOption like you mentioned would be good to match the other call signatures

[2019-05-31 02:50] prescottprue commented on #216
When you use `onSnapshot` from the internal instance, actions of the type `LISTENER_RESPONSE` will be dispatched when data is returned that include doc changes, which is then set into redux state.

As for the exact type - not sure that is included in the dispatched action (though we should probably change that so it is), but redux state should be correctly updated for both types.

Does that help?

[2019-05-31 02:51] prescottprue commented on #203
@illuminist really like the idea of using `WeakMap` - open to a PR if you get a chance

[2019-05-31 03:05] prescottprue commented on #214
`CLEAR_DATA` is for [clearing data from redux state](https://github.com/prescottprue/redux-firestore/blob/master/src/reducers/dataReducer.js#L89-L94), not actually removing listeners. A method to clear all listeners may be functionality worth adding, but it doesn't currently exist. Am I maybe misunderstanding?

[2019-05-31 03:14] prescottprue commented on #220
It may be best to use `storeAs` in the meantime to store your data in different locations of redux state.

Whether to merge state or not is actually a constant source of contention since there are times where this would be advantageous as you mentioned, but others situation, such as [#45](https://github.com/prescottprue/redux-firestore/issues/45) where it caused unexpected results.

Going to leave

[2019-06-01 09:48] farzansalimian opened #222 "Different firestore queries on same collection"
**What is the current behavior?**

I have a web app that uses react-redux-firebase and react-firestore. There is a collection with this model:
Task {title:string, tagIds:array, tags:map, creatorId}

I built a query which returns the list of tasks based on a tagId in tagIds array.
That works fine but there is a scenario which messes up the query results. Basically, if I delete a document, or if I d

[2019-06-04 00:17] prescottprue commented on #222
Dispatching UNSET_LISTENER doesn't actually unset the listener, it is what is dispatched when the listener is unattached. Did you try calling `firestore.unsetListener`.

Something else to keep in mind is that the `getState` function is being removed from the API due to the fact that it causes unexpected situations where state changes, but props aren't changing, so the component isn't re-rendered.

[2019-06-06 13:26] Wgil commented on #214
Hey, I thought that was the behavior of `CLEAR_DATA`, so I'm renaming the issue.

My current use case is that adding listeners manually and don't removing them on unmounting, when I have to logout the user, they are going to be there when it shouldn't. So probably another method to clear listeners would be useful to execute along with `CLEAR_DATA`.

[2019-06-07 17:48] prescottprue commented on #214
@Wgil I am guessing you are not using `firestoreConnect` for some reason? It currently handles attaching/detaching listeners on mount/unmount of react components, but you are saying that you don't want them to be removed on unmount or you do?

`setListeners` and `unsetListeners` are how that is done inside of `firestoreConnect`, so that is what I would suggest when doing it manually as well.

Yeah

[2019-06-08 10:37] farzansalimian commented on #222
@prescottprue firestore.unsetListener solve the problem .thanks a lot

[2019-06-08 11:02] #222 closed

[2019-06-10 17:48] jakebern opened #223 "Subcollection returns error when listener detaches"
**What is the current behavior?**
When the component unmounts/listener detaches, I see this:
Error: Collection can only be run on a document.  Check that the query config for subcollection: "followers" contains a doc parameter.  Similar to #74.

**What is the expected behavior?**
No error when listener detaches.

**Which version of redux-firestore are you using? What about other dependencies?**
0.

[2019-06-10 21:45] staffordrose commented on #212
I'm having issues with the CLEAR_DATA action in componentWillUnmount of Component A route being called _after_ GET_REQUEST actions in Component B route, causing the data in Component B to get cleared immediately after it's requested.

This is likely a problem with how I set up React Router, but I've had no luck fixing it. Being able to name what data to remove would solve this issue for me.

[2019-06-11 08:24] yevgenypats commented on #221
@prescottprue I know you are busy. Do you have any timeline for this? or maybe some direction of how to implement this so I would try and take a look?

[2019-06-11 16:52] Wgil commented on #191
I'm also suffering of a similar situation. I want to load a page with all my users in it. The issue is that `LISTENER_RESPONSE` returns immediately the logged in user and then I get 100+ `DOCUMENT_ADDED` causing my page to freeze. I think if I remove `userProfile` config, I'm going to get all the users in only one `LISTENER_RESPONSE` action. I'd need to refactor my code that depends on the current

[2019-06-12 15:25] Wgil commented on #191
I couldn't figure out how to make my listener load all users at once. Not even storing users in a different key using `storeAs`. I ended up disabling react-redux-firebase `userProfile` options:

[code]

And then load the profile manually with:

[code]

If I go to my users screen, they are loaded all at once.

[2019-06-12 15:31] compojoom commented on #191
sorry for the slow response:
[code]

you obviously need to pass dispatch as prop to the component. The meta object is the query as you need it in your component

[2019-06-12 19:57] prescottprue commented on #221
@yevgenypats I am pretty busy currently, so it may be a little bit before I get the chance to implement it. That said, including support for this should hopefully be as simple as:
  1. [adding to the firestoreRef util that builds a query from the meta object](https://github.com/prescottprue/redux-firestore/blob/master/src/utils/query.js#L115)
  1. [adding to the getQueryName util that is used to c

[2019-06-14 09:48] mic-css opened #224 "Composite storeAs broken since v0.7.1"
**What is the current behavior?**
Passing multiple queries with the same `collection` and `storeAs` values only returns the first query result.

It's unclear if this is deliberate as it goes against what the docs say. Potentially related to fixes implemented in `v0.7.1` for https://github.com/prescottprue/redux-firestore/issues/107

**What is the expected behavior?**
The results from all queries s

[2019-06-14 10:31] optimistiks opened #225 ""type: once" for Firestore"
According to Firestore documentation, https://firebase.google.com/docs/firestore/pricing#listens,
when you use `onSnapshot`, you are charged every time any document in the result set is changed or removed from a result set due to some change.

When using `firestoreConnect`, there is no way to make sure the data only fetched once, just as we can do with `firebaseConnect`. It means when you don't ne

[2019-06-14 11:59] peteruithoven commented on #114
@prescottprue In your examples you use `auth` but this doesn't exist. You probably mean `authData`, the first incomming argument?

[2019-06-14 19:01] Wgil commented on #191
Above solution made my real-time profile stop working, @compojoom thanks, your code helped me to load the users list manually.

[2019-06-16 15:11] prescottprue commented on #225
Noted as a possible feature, thanks for posting!

For now, folks can use setListener (alias for `onSnapshot`) and `unsetListener` in `componentDidMount`/`componentWillUnmount` respectively

[2019-06-17 12:01] ianitsky commented on #175
Same issue here.
Worked with ReactReduxFirebaseProvider

Using:
"react": "^16.8.6",
"redux": "^4.0.1",
"redux-firestore": "^0.8.0",
"react-redux-firebase": "^3.0.0-alpha.12",

[2019-06-17 23:12] prescottprue commented on #224
Definitely not intended, thanks for reporting

[2019-06-18 17:51] prescottprue commented on #114
@peteruithoven That is correct, I copied that from a place where I had named the variable auth. For clarity, here is the example fixed:

[code]

[2019-06-24 06:21] nwaughachukwuma commented on #192
Hi @prescottprue so I provided a parent `doc` reference when listing subcollections but got same error, when subcollection doesn't exists or isn't created yet. Let me explain a little further.

So say I have an application with a users collection where a user can send friend requests to other users. We are saving the sent  friend requests as a subcollection `sentFriendRequests`, received requests

[2019-06-26 04:07] prescottprue commented on #192
@nwaughachukwuma that is actually not what providing multiple collections to `subcollections` does - it navigates lower in the subcollection tree. `get` actually only ever excepts one listener config, never more than one, regardless of if you use the string notation or the object notation. That means, that you need two `get` calls to attach two different listeners as you mentioned worked.

If you

[2019-06-27 13:50] jakebern commented on #192
@prescottprue I'm also having this issue (#223)

I'm setting "[attachAuthIsReady: true](http://react-redux-firebase.com/docs/recipes/auth.html#wait-for-auth-to-be-ready-ssr)" - I assume that take care of the issue of props not being available on load - please correct me if I'm wrong.

This error only happens for me on signOut event - is it possible that attachAuthIsReady only triggers promise on s

[2019-06-27 14:00] jakebern commented on #223
The issue was that on signOut, auth.uid is no longer accessible. There was a race condition where the component unmounts after signOut.  Thus, auth.uid is null.  By checking if auth.uid exists before running query, the error went away.

The reason I don't need to do this on signIn is because I'm setting ["attachAuthIsReady: true"](http://react-redux-firebase.com/docs/recipes/auth.html#wait-for-aut

[2019-06-27 14:00] #223 closed

[2019-06-28 19:32] prescottprue commented on #192
@jakebern That is actually not what `attachAuthIsReady` was created for - it was created to attach a promise to be used in SSR.  With components you should be checking for existence of `state.firebase.auth.uid`.

[2019-07-01 20:59] prescottprue commented on #140
Reopening since it was mentioned here: https://github.com/prescottprue/react-redux-firebase/issues/719

[2019-07-05 23:33] loginov-rocks commented on #140
Unfortunately, able to reproduce intermittently with v0.8.0. Does it makes sense to manually bind to `data` object instead of `ordered` or the latter has been planned to be stable feature? Thanks!

[2019-07-07 10:13] NischalShahi opened #226 "TypeError: Cannot read property 'dispatch' of undefined"
I tried running example/basic but i got the following error.

![Screenshot from 2019-07-07 15-57-29](https://user-images.githubusercontent.com/37703654/60766937-10fa6d80-a0d0-11e9-98aa-966de7d98ec3.png)

[2019-07-11 23:27] nwaughachukwuma commented on #192
@prescottprue, one other thing I noticed following your approach (not sure there's any other) is that things crash when the subcollection does not exist. Say for example:

[code]
If sentFriendRequests subcollection doesn't yet exit, it throws the error `undefined is not an object (evaluating 'subcollections.sentFriendRequest')` We are dynamically creating the subcollections, can it not just return

[2019-07-13 07:57] prescottprue commented on #192
Going to close this issue since it seems to be misunderstanding of the API. Thanks to all for reaching out - knowing this input helps shape future api changes

[2019-07-13 07:57] #192 closed

[2019-07-13 13:12] nemo opened #227 "populate breaks when loading the same collection twice with different where conditions"
**What is the current behavior?**
Loading the same collection twice in the same `firestoreConnect` and attempting to `populate` it only populates the last query.

**What is the expected behavior?**
`populate` should work across all queries.

**Which version of redux-firestore are you using? What about other dependencies?**
0.8.0

**Which environments/browsers are affected by this issue? Did this w

[2019-07-15 02:40] djpeach commented on #140
I think I am having the same issue. I am listening to a document with

[code]

And it works perfectly and updates the react component if I add a field to the doc, or update an existing field. However, if a delete a field from that doc... crickets. Nothing happens and I have to reload the component manually to see the change reflected on the app.