[2019-07-22 01:00] illuminist commented on #226
Make sure you setup redux store correctly and use correct react-redux version that compatible with react-redux-firebase version.

[2019-07-23 04:12] DannyLingard commented on #224
I came across this bug as well. Any workarounds until patch released?

On another note using 'where' appears to store the doc as { [docId]: doc[docId]} but using docId() stores it as {...doc[docId]}. Is this expected?

Apologies, noob at code blocks in Github but as per below:

[code]

[2019-07-24 21:04] electricBonfire commented on #172
Just ran into this issue myself

I am using react-native-firebase and had to add

`import RNFirebase from 'react-native-firebase'`

and then I could call

`RNFirebase.firestore.FieldValue.increment(1)`

[2019-07-31 08:19] farzansalimian opened #228 "update multiple items using batch.commit() returns multiple responses"
**What is the current behavior?**
We have a list of items. We do a batch update on some of the items using batch.commit();

We would expect a single response for the the batch update. However, we get individual responses for each item updated. This creates an issue in rendering the list. For example, if we do a batch update for 10 items, the list gets rendered 10 times.

We can observe this using

[2019-08-06 09:43] BenKalungi opened #229 "Support for querying timestamp from firestore"
**What is the feature?**

**What version would this apply to?**

**Do you have thoughts/examples on how the feature would be used (i.e. API)?**

[2019-08-06 09:50] BenKalungi commented on #229
I have some posts in my firestore database but I would like to include the timestamp for each post
For instance
`!isEmpty(posts) && posts.map(
    post => (
   <div key={post}>
<p>{post.title}</p>
<p>{post.body}</p>
<p>{post.date}</p>
</div>
)
)`

[2019-08-06 22:30] Wgil commented on #45
@prescottprue Does that imply that whenever I want to use `firestore.data.key[id]` I have always to check if the value it's not `null`? I think it is more natural to think that whatever objects are inside `data.key` do actually contain something like it happens now with `firestore.ordered`.

Is there any chance we can consider managing loading and empty state in a diferent key other than `data`?

[2019-08-07 02:14] dmcshehan commented on #13
Hello everyone,
I have noticed that we gan get a firestore instance like this with `react-redux-firebase`

[code]

Can't we use this method?

[2019-08-07 07:03] prescottprue commented on #45
@Wgil Would you mind opening a new issue to request the feature? It might be the type of thing that we switch to or put into another piece of state as you mentioned, so it would be good to have a place to discuss it.

[2019-08-07 13:27] vnikanorov opened #230 "bug(orderedReducer): DOCUMENT_MODIFIED action doesn't change index in the "ordered" array"
**What is the current behavior?**
DOCUMENT_MODIFIED action doesn't change index in the "ordered" array
![image](https://user-images.githubusercontent.com/32862092/62626338-d20a4280-b92f-11e9-9165-74a755b3ba52.png)
![image](https://user-images.githubusercontent.com/32862092/62626392-f6feb580-b92f-11e9-9d8a-d53ec7ec16ca.png)

"-L_MnT5FxK..." still has 1 index instead of 0.

**What is the expected be

[2019-08-07 15:19] prescottprue commented on #13
@dmcshehan that is the method works great if you are using a version which has a store enhancer (i.e. `reduxFirestore`) - the newer versions do not currently include that

[2019-08-08 14:16] Wgil commented on #45
@prescottprue Sure, I'll.

It seems `@@reduxFirestore/DOCUMENT_MODIFIED` it's not updating `ordered` key properly.

![Screen Shot 2019-08-08 at 10 15 18 AM](https://user-images.githubusercontent.com/12855914/62710560-8609dd00-b9c5-11e9-84c6-8dd1b588c0c5.png)

[2019-08-08 23:49] Wgil commented on #45
This query is also broken on 0.8.0:

[code]

![image](https://user-images.githubusercontent.com/12855914/62744671-a497c480-ba15-11e9-925a-56721701314f.png)

It's working fine on 0.7.0

[2019-08-10 17:53] #45 closed

[2019-08-10 17:55] prescottprue commented on #45
@Wgil lets open new issues for both cases so we can track tackling each one. Thanks for reporting!

[2019-08-13 08:51] esbenvb opened #231 "permission-denied response makes strange document in firestore.data"
**What is the current behavior?**
I have a document, `users/BLA2YlZMqENnBsSNhcS6a9NAUdG2/attributes/friends` and the current user don't have access to that document.

When I `firestoreConnect()` this document, I get a `@@reduxFirestore/LISTENER_ERROR` responses as expected.

But when look in the redux state, `firestore.data` I see this

[code]

**What is the expected behavior?**

I don't expect a

[2019-08-16 18:41] esbenvb opened #232 "state.firestore.status.requesting has elements set to true, even after data is present in state.firestore.data"
**What is the current behavior?**
Some times, like 1% or 2% of the times I load a screen in my React Native app, one of the documents that are connected with `firestoreConnect` to that screen, still has `true` as `requesting` status.

I currently show a spinner on top of the UI if any document is `true` in the `requesting` object. And `false` in the `requesting` object.

This issue is very hard to

[2019-08-19 04:19] prescottprue commented on #232
Thanks for reporting - are you using `storeAs` or no?

[2019-08-19 04:43] #226 closed

[2019-08-19 05:29] esbenvb commented on #232
yes I am using storeAs for all documents

[2019-08-19 06:08] prescottprue commented on #229
The value should be getting passed for the query with a timestamp. Just so I fully understand, could you provide an example of the feature you are describing?

Going to close for now, but will reopen provided an example

[2019-08-19 06:08] #229 closed

[2019-08-19 06:09] #209 closed

[2019-08-22 10:58] esbenvb commented on #232
I think I have come closer to the cause of the problem.

In my app, I have an `activeTournament` value in the store, which is used for a selector in a screen that I'm loading. If the screen, after loading, determines that the `activeTournament` in the store is not a valid one, it will fall back to a valid value.

This screen is also `firestoreConnect`ed to a document that has the ID of the `active

[2019-08-22 11:46] esbenvb commented on #232
The same thing happens in another screen, that's loading some very big documents (500KB+) from firestore. This screen is also `firestoreConnect`ing the documents based on the `activeTournament` in the redux state. On the screen there's a button that allows the user to switch tournament. If user switches `activeTournament` before the current tournament's documents are loaded, the documents related

[2019-08-22 16:43] prescottprue commented on #232
How are you getting the values from state to add to your query? Can you provide the `firestoreConnect` code?

[2019-08-22 20:58] esbenvb commented on #232
Like this.

[code]

`fq` is a module I made with all the queries needed for firestore documents. Example:

[code]

[2019-08-23 17:14] prescottprue commented on #232
@esbenvb good to know, thanks. Saw your PR.

Something to keep in mind is that you should avoid using `store.getState` within your queries since it is known to cause some issues where state changes and does not correctly re-render since there wasn't a props change. It is better to connect to state and pass the values as props:

[code]

This also helps to prevent unnecessary re-renders of `firebase

[2019-08-23 19:10] esbenvb commented on #232
Thanks! I'll do that for the future. I was no aware of the pattern where I could have first a `connect` block mapping state to props, then `firestoreConnect` block reading the props and then another `connect` block mapping the firestore state to props

[2019-08-28 01:48] braican opened #236 "Receiving warning from React when using firestoreConnect() with React 16.9.0"
**What is the current behavior?**

When using the `firestoreConnect` HOC, I'm receiving a depreciation warning from React in the console:

[code]

<img width="829" alt="Screen Shot 2019-08-27 at 6 41 56 PM" src="https://user-images.githubusercontent.com/3286676/63819503-5f6f0000-c8fa-11e9-955f-18b4490e9a87.png">

The data is getting pulled from Firebase fine.

**What is the expected behavior?**

T

[2019-09-03 04:02] namankumar commented on #227
Can confirm. Facing the same issue on 0.8.0. I found that populate is executed correctly for all queries, but only the result of the very last query is saved. Using the console, I can see that the first query has been populated correctly several events ago. Seems like it has been overwritten by the second query.

[code]

[2019-09-03 05:02] namankumar opened #237 "Executing multiple queries does not save results of the previous query"
**What is the current behavior?**
Executing multiple queries in the same firestoreConnect only preserves the result of the last one. Workaround is to use storeAs but there is a sideeffect. With storeAs, the results from populates are only saved for the very last query.

I could see in console the queries and populates are executed as expected but the result from the previous query becomes undefine

[2019-09-03 17:25] prescottprue commented on #237
In v1 (available on the alpha tag) the queries are all stored by their query params and collection/doc name (instead of just collection/doc name as seen in pre v1 versions). As you have noted, you should be able to use `storeAs` for now, but this is actually a big part of why that breaking change is being made.

[2019-09-03 17:28] prescottprue commented on #227
Just as noted in [#237](https://github.com/prescottprue/redux-firestore/issues/237) - this is due to query results being stored under their collection/doc path instead of under a path unique to the query. That means that results will be cleared without using `storeAs`.

v1 (available on the `alpha` tag) stores results under a path with all of the associated query params, which means that storeAs s

[2019-09-03 18:58] namankumar commented on #227
@prescottprue got it, does populate break for the same reason? I suppose the fix would be to allow populate to support storeAs?

[2019-09-03 19:02] namankumar commented on #237
Thanks for the link, super helpful! Btw, great work on react-redux-firebase!

[2019-09-03 20:17] prescottprue commented on #237
Thanks 😄 . No problem at all, thanks for reporting! It is good to know others are experiencing this, it reenforces the choice for the big change in v1.

If you get a chance to check it out, let me know what you think! Feel free to comment back in this issue or reach out over [gitter](https://gitter.im/redux-firebase/Lobby)

[2019-09-03 20:19] prescottprue commented on #227
I believe it does break it for the same reason. That would be a good shorter term fix, but the hope is that the change in v1 will limit collisions in both cases (though I don't believe populate has updated yet)

[2019-09-04 16:04] namankumar commented on #227
Sounds good, watching v1 closely. I think populate in .8 doesn't respect storeAs right now, it is similar to the behaviour described above. Changes in v1 should limit collision for populate as well... looking forward to it

[2019-09-04 16:21] namankumar commented on #237
Definitely. I think it's fast becoming my go to lib for web/mobile dev now. It really simplifies the need for an ORM, writing your own redux-specific code, and the population capability is just genius 💯 The fact that I have the option of dropping in rn-firebase just makes forward planning so much easier

I'm learning now if the rrf has a principled way of deciding when to return data using store o

[2019-09-05 23:19] prescottprue commented on #139
Closed [427 of react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/427). Progress on fixing this will be tracked here

[2019-09-06 05:17] #236 closed

[2019-09-06 06:17] prescottprue commented on #230
Fix released in [v0.9.0](https://github.com/prescottprue/redux-firestore/releases/tag/v0.9.0). Thanks for reporting.

[2019-09-06 06:17] #230 closed

[2019-09-17 19:33] sintylapse commented on #230
@vnikanorov do you have your issue fixed? it seems it's not fixed for me, though I updated redux-firestore
cc: @prescottprue

[2019-09-17 20:09] prescottprue commented on #230
@sintylapse [This test was added to confirm](https://github.com/prescottprue/redux-firestore/commit/321578336bf907e06cbbe4c9c271321b04bd4aee#diff-f44bcac9ab941d8922fc77a9ef12c26d) that this type of update correctly updates the store, so surprised to hear that it is happening to you. Maybe there is another case we are missing?

Could you provide an example that reproduces the issue to confirm we ar

[2019-09-18 13:48] sintylapse commented on #230
@prescottprue I connect to Firestore like this
[code]
then I open the screen with collection and collections are ordered by updateDate (desc). Then if I update a record
[code]
all content of the record will be updated, but not the order

<img width="956" alt="Screen Shot 2019-09-18 at 15 39 14" src="https://user-images.githubusercontent.com/12295016/65154140-3fc78500-da2b-11e9-8078-5297a1adc057.pn

[2019-09-18 13:51] sintylapse commented on #230
Actually order works fine if I use
[code]
so, the problem might be in desc, or using array on orderBy @prescottprue

[2019-09-19 21:53] Anne-Anq commented on #121
Hi @prescottprue,

In one listener response where I get a collection (ordered, filtered with a `where` and stored as something) I get:
- some duplicate values in firestore.ordered.
- some missing values in firestore.ordered.
I get the same number of documents in firestore.ordered and in firestore.data, but firestore.ordered does not contain all the docs that are in firestore.data and it also conta

[2019-09-19 23:19] prescottprue commented on #230
@sintylapse Great to know, thanks for reporting. We should open a new issue to track fixing what you mentioned (i.e. doesn't work with desc or using an array on `orderBy`). Would you mind opening it?

[2019-09-19 23:22] prescottprue commented on #121
@Anne-Anq are you able to provide an example to reproduce the issue your are describing?

The issue discussed here seems like it may be similar to https://github.com/prescottprue/redux-firestore/issues/230, which was fixed by a recent update. That said, apparently when using an array in `orderBy`, things are still not working as expected

[2019-09-20 03:42] Anne-Anq commented on #121
I was wrong, I am not using orderBy in this case.

This is my listener:
`    listenEvents: ({ firestore, teamId }) => date => {
      firestore.setListener({
        collection: Team.collection,
        doc: teamId,
        subcollections: [{ collection: 'events' }],
        where: ['END_TIME', '>=', date],
        storeAs: 'events'
      })
  }
`

I am using "redux-firestore": "^0.7.0"

I am not

[2019-09-20 13:08] sintylapse opened #239 "Ordered collection is not updating if using orderBy with desc"
**What is the current behavior?**

I connect to Firestore like this
[code]
then I open the screen with collection and collections are ordered by updateDate (desc). Then if I update a record
[code]
all content of the record will be updated, but not the order

<img width="956" alt="Screen Shot 2019-09-18 at 15 39 14" src="https://user-images.githubusercontent.com/12295016/65154140-3fc78500-da2b-11e9

[2019-09-20 13:08] sintylapse commented on #230
@prescottprue sure https://github.com/prescottprue/redux-firestore/issues/239

[2019-09-26 13:55] jbtheard commented on #220
Hi,
Perhaps as an optional argument in version 1 ?

[2019-09-26 18:33] zaptrem commented on #239
This also happens when new documents are added, they’re auto ordered at the end of the query (likely due to lack of order).

[2019-09-27 14:31] yevgenypats commented on #221
solved by https://github.com/prescottprue/redux-firestore/pull/233. closing.

[2019-09-27 14:31] #221 closed

[2019-10-01 05:08] prescottprue commented on #121
@Anne-Anq Can you try updating to `0.9.0` and see if you still experience the issue?

[2019-10-01 06:41] prescottprue commented on #239
I tried to replicate using 0.9.0 and it seemed to be working as expected for me. [This test should also cover that case](https://github.com/prescottprue/redux-firestore/blob/master/test/unit/reducers/orderedReducer.spec.js#L86-L119) that was reported in #230, so I'm surprised to hear this popped up.

Are you able to provide a Codesandbox or similar where the issue can be replicated?

[2019-10-03 08:49] SUPERTEMPO commented on #52
@compojoom and @prescottprue  ....Please how can i automatically query a collection and its subcollection without knowing the doc id of each document?  I have a collection and subcollection with different documents but i want to  return each collection with its subcollection in single query. How do i go about it in react-redux-firestore?? e.g **supaPosts** is a collection with **supaPostLikes** as

[2019-10-03 21:52] prescottprue commented on #52
@SUPERTEMPO That would be creating one query then another query, so first the query for all of the posts, then a query for each post to get the likes.

It would probably be best to do this using the multiple levels of your components as a way to structure your listeners:

Structure:
[code]

Listeners:
**SupaPosts**
[code]
**SupaPost**
[code]

[2019-10-06 10:13] SUPERTEMPO commented on #52
@prescottprue  i did exactly as you have written but rather this query```
 firestoreConnect((props) => {
  return [
    {
      collection: 'supaPosts',
      doc: props.postId,
      subcollections: [
        {
          collection: 'supaPostLikes',
          where: [
            ['likerId', '==', **currentUserId**]
          ]
        }
      ]
    }
  ]
})
[code]

[2019-10-06 10:22] SUPERTEMPO commented on #52
@prescottprue i did exactly as you have written but rather this query
[code]
is picking just the first **props.postId** and returning multiple times for the number of limit i have which is 10 and even overwriting the **supaPosts** state. when i tried to use storeAs **postLiked**, it is returning but still multiple data for only the first **props.postId**. Dunno what to do.... dunno know if there i

[2019-10-06 22:11] prescottprue commented on #52
@SUPERTEMPO you should make a store as that contains that id such as

[code]

[2019-10-07 06:16] SUPERTEMPO commented on #52
@prescottprue  thanks man.... You are a great..... it worked perfectly.....thanks so much.... You really saved me, keep doing the good work......

[2019-10-07 06:17] SUPERTEMPO commented on #52
@prescottprue  thanks man.... You are  great..... it worked perfectly.....thanks so much.... You really saved me, keep doing the good work.....

[2019-10-12 23:34] bcgilliom opened #240 "bug(core): can't define property _: object is not extensible"
**What is the current behavior?**
- creating the firestore store fails when using the latest `react-native-firebase` (`6.0.1`)

**What is the expected behavior?**
- probably shouldn't add behavior to the firebase object?

**Which version of redux-firestore are you using? What about other dependencies?**
[code]

**Which environments/browsers are affected by this issue? Did this work in previous ver

[2019-10-13 01:14] prescottprue commented on #240
This is intentional and is how react-redux-firebase + redux-firestore extends the Firebase SDK (which allows for this).

Not sure what the reason would be on the side of react-native-firebase to not allow for extending, most likely there will need to be a pretty big change to handle things differently.

Did you try creating a copy of react-native-firebase before passing it in? Using spread or Obje

[2019-10-13 01:50] bcgilliom commented on #240
I haven’t yet - just wanted to raise it just in case someone else had encountered this. It seems like cloning and then adding the helpers would work, but is that something that just needs to happen on init? I guess if the firebase object doesn’t change, that would be ok... I’m not too familiar with the internals of that. I will see what happens and report back!

[2019-10-13 04:43] bcgilliom commented on #240
So far using spread and R.clone (ramda) haven't worked - it gets past the helpers being added, but it doesn't seem to get the whole object (original on the left):

<img width="900" alt="Screen Shot 2019-10-13 at 12 42 09 AM" src="https://user-images.githubusercontent.com/5893743/66711048-4c9d7700-ed52-11e9-9752-f29fb2046217.png">

Any thought on the best way forward?

[2019-10-13 07:53] prescottprue commented on #240
@bcgilliom Makes sense, seems like the getters are not being copied.

I think it would be a good idea to file an issue on the react-native-firebase repo to see if there is any way for exporting extension of their objects since it is supported by Firebase. Hopefully they could make extending an option?

Firebase also had/has a way of extending their object (I believe now called `extendNamespace ` o

[2019-10-25 13:35] davidohlin commented on #13
@prescottprue how would I go about doing that in the new version? I'm trying to access `getFirestore` in an async action creator, but getting `Error: Firebase instance does not yet exist. Check your compose function`.

@karltaylor solution earlier in this issue also includes using `reactReduxFirebase` which, if I understand correctly, does not exist in ^3.0.0.

[2019-10-25 17:57] prescottprue commented on #13
@davidohlin Did you try `getFirebase`? You should be able to get `getFirebase().firestore()` though it isn't the enhanced methods that dispatch actions.

Going to look into the issue with getFirestore since there [was also an issue in react-redux-firebase that mentioned it wasn't working as expected](https://github.com/prescottprue/react-redux-firebase/issues/785)

[2019-10-25 18:42] davidohlin commented on #13
fre 25 okt. 2019 kl. 19:57 skrev Scott Prue <notifications@github.com>:

[2019-10-26 09:36] davidohlin commented on #13
@prescottprue Yes, `getFirebase().firestore()` works, I'll use that for now. Thank you!

[2019-10-29 14:25] menno11100 opened #242 "propTypes typo on HomePage"
Home.proptypes = {
  classes: PropTypes.object.isRequired // from enhancer (withStyles)
}

should be:

Home.propTypes = {
  classes: PropTypes.object.isRequired // from enhancer (withStyles)
}

[2019-10-29 16:58] Keltin42 opened #243 "Deleting object properties doesn't update "ordered" data"
**What is the current behavior?**
When you delete a field from a firebase record, the change is not correctly propagated to the ordered data structure.  The change DOES show up in the firestore.data structure stored in redux, and changes to add or modify fields propagate to firestore.ordered, but deleted fields do not propagate.

**What is the expected behavior?**
The ordered data structure should

[2019-11-01 16:14] prescottprue commented on #243
[This PR for v0.10.0](https://github.com/prescottprue/redux-firestore/pull/244) switches back to not merging, so it fixes this issue. In order to handle the case of subcollections, I added a `console.error` for queries that have `subcollections` that are not using `storeAs` - this seems like the best way to accomplish both for now as well as prep for v1 which stores all collections (even subcollec

[2019-11-01 16:38] prescottprue commented on #232
Closing since it appears that the proposed implementation works as expected

[2019-11-01 16:38] #232 closed

[2019-11-01 16:41] prescottprue commented on #237
It does have a "principled way" - and there are even `isLoaded` and `isEmpty` helpers to assist in checking for those state as described in [the queries section of the react-redux-firebase docs](http://react-redux-firebase.com/docs/queries.html).

[2019-11-01 16:41] #237 closed

[2019-11-01 16:45] prescottprue commented on #220
I think the best practice is to leave this to a state selector or other logic when pulling out of redux state from the multiple locations.

That said, I'm open to a PR or a suggestion for how to work this in if anyone has a proposal. Closing for now

[2019-11-01 16:45] #220 closed

[2019-11-01 16:46] prescottprue commented on #203
@illuminist Open to a PR if you get a chance otherwise I'll try to get to it when I can

[2019-11-01 16:50] prescottprue commented on #172
Closing since I believe this is due to old versions - feel free to reach out if you are still not able to access statics in newer versions.

Thanks for reporting

[2019-11-01 16:50] #172 closed

[2019-11-01 18:27] Keltin42 commented on #243
I don't understand your comment about not using `storeAs`.  I am definitely using it, here is my `firestoreConnect` result:

            {
                collection: 'shoppinglists',
                doc: props.shoppinglistId,
                subcollections: [{ collection: 'items' }],
                storeAs: 'currentItemList'
            }

You can also see the `storeAs` in redux path in the scre

[2019-11-01 18:59] prescottprue commented on #243
You are supposed to be using `storeAs` - what I was getting at is that I added a console.error for folks not using`storeAs` with subcollections as this will cause issues with the change I made to fix the issue you mentioned (with fields not being removed on a document).

[2019-11-01 20:12] Keltin42 commented on #243
Ahhh.  I get it now.  Thanks!  :)

[2019-11-04 05:54] prescottprue commented on #242
Thanks for reaching out!

Home is no longer used in that example - Not sure why it was still in there, but [the PR for v0.10.0 removes it](https://github.com/prescottprue/redux-firestore/pull/244). It also includes other updates including usage of hooks

[2019-11-06 05:50] prescottprue commented on #140
Seems like this logic is also causing other issues such as #243. I'm working on changing the merging logic back - as part of that there will be an error log if there is a query with `subcollections` that is not using `storeAs`. I think this will also help prepare folks for the [upcoming v1 changes which store all subcollections at the top level](https://github.com/prescottprue/redux-firestore/wiki

[2019-11-06 07:08] prescottprue commented on #140
This should now be working as expected with [the v0.10.0 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.10.0).

If things aren't working perfectly please feel free to open a new issue with a reproduction case, Thanks to all for reporting!

[2019-11-06 07:08] #140 closed

[2019-11-06 07:10] prescottprue commented on #243
Fixed in the [`v0.10.0` release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.10.0) and a test was added for updating of array items in state.  Reach out if things aren't working as expected, thanks for reporting!

[2019-11-06 07:10] #243 closed

[2019-11-09 00:00] harrisonlo opened #245 "feat(query): in and array-contains-any operators"
**What is the feature?**

Firebase team just introduced `in` and `array-contains-any` 2 days ago!

https://firebase.googleblog.com/2019/11/cloud-firestore-now-supports-in-queries.html

**Do you have thoughts/examples on how the feature would be used (i.e. API)?**

https://firebase.google.com/docs/firestore/query-data/queries#in_and_array-contains-any

[2019-11-12 10:39] illuminist commented on #224
Workaround is to have different storeAs for each queries.
[code]

But keep in mine that even your query result is empty, firestore still will cost for one document read, which's just equal to reading by doc ref and do filter in client.

The better way should be having user doc contains a field array of userId who's friended with, then query with friend array instead, eg

[code]

[2019-11-12 10:51] illuminist commented on #203
@prescottprue I had a problem where I need both snapshot and objects from data and ordered reducer to assign snapshot cache. But with current logic, snapshot and object is being processed in different functions and I can't just pass snapshot to reducer either.

I think if we can do https://github.com/prescottprue/redux-firestore/issues/204 first, it will be much easier to get both doc data and sna

[2019-11-12 14:38] illuminist commented on #203
PR https://github.com/prescottprue/redux-firestore/pull/246

[2019-11-12 15:35] illuminist commented on #204
I'd like this too, but how are we going to handle nested collections? I personally always use storeAs so each query even the deeper one has its own state at root of data and ordered state.

[2019-11-13 23:20] cristian-milea commented on #240
any chance for a hotfix on this issue?

[2019-11-14 05:16] bcgilliom commented on #240
https://github.com/prescottprue/redux-firestore/pull/248 is what I'm using. The PR would need tests to be fixed if it's in the right direction

[2019-11-14 11:51] cristian-milea commented on #240
@bcgilliom , thanks. I tried using your forks directly and I still get the same error
`"react-redux-firebase": "https://github.com/bcgilliom/react-redux-firebase.git#master",
   "redux-firestore": "https://github.com/bcgilliom/redux-firestore.git#fixes_for_rnfb6",
    `

[2019-11-14 12:50] bcgilliom commented on #240
The firebase changes are in a branch too - just rebased on latest of master and squashed here https://github.com/bcgilliom/react-redux-firebase.git#fixes_for_rnfb6

[2019-11-14 18:51] cristian-milea commented on #240
Thanks, @bcgilliom ! I really appreciate your help!

I now get the following message:

I tried `pod clean && pod install`, also `yarn start -- --reset-cache` but couldn't get past this. Any ideas?

[2019-11-14 18:55] bcgilliom commented on #240
Ohhh, yep! I don't have it in front of me, but tou need to send `firebase: firebase.app()` (or similar) in the provider config

[2019-11-14 19:11] cristian-milea commented on #240
it works! you saved my day!

in my store config:
`export const rrfProps = {
  firebase: firebase.app(),
  config: rrfConfig,
  dispatch: store.dispatch,
  createFirestoreInstance
}`
and then
`<ReactReduxFirebaseProvider {...rrfProps}><App/></ReactReduxFirebaseProvider>`

[2019-11-14 19:24] prescottprue commented on #240
@bcgilliom Amazing work here, thanks for looking into the `extendApp` route - we should be able to get this in the next major version for sure. Wondering if it is good to still have the full firebase instance passed then use `firebase.app().extendApp()` under the hood - open to thoughts on that

[2019-11-14 19:38] bcgilliom commented on #240
@prescottprue That would be a little cleaner probably - I'm happy to try it the next time in there - probably when looking at fixing the tests for the PR... So, would `firebaseInstance` also be `firebase.app()` then? I guess we'd need to look at where extend app puts stuff?

[2019-11-19 08:19] alrazamc opened #249 "old pagination results replaced on next page"
**What is the current behavior?**
I am paginating messages stored in sub collection, when loading next 20 messages, old messages in redux are replaced by new messages. I think it is due to because each result is stored at same path in redux store

**What is the expected behavior?**
should merge prev page result with next one

**Which version of redux-firestore are you using? What about other depen

[2019-11-19 16:41] prescottprue commented on #249
Have you tried using `storeAs` with a unique key so that results are written to a different place of redux for each page?

The new v1 version stores all sub-collections at the top level by default, so this is hopefully not an issue in that version

[2019-11-19 17:07] alrazamc commented on #249
Yes I am using storeAs (<parent-collection-id>-messages) to store at the top level but not for separate page
Currently I am storing and merging messages in react component's state. It would be nice to have a "mergeResults: true" option in query configuration

[2019-11-20 04:05] w0nche0l commented on #224
Bumping this and also asking a question:

So what is the ideal way in redux-firestore to fetch a list of documents where you know their ids? such as ['sally', 'john', 'peter'] (assuming these are their firestore ids)

[2019-11-20 14:36] Peeeep commented on #172
Hi there, I can't manage to get any statics in 0.10.0 either, but had no problem in a different app running 0.8.0... Using react-native-firebase in both cases.

[2019-11-21 12:10] AgnesToulet opened #250 "populates option in firestoreConnect error - [object Array] is not a function"
Hello, I'm trying to work with the populates options of redux-firestore and I'm facing an error.

**What is the current behavior?**
I'm using the populates option as it's described in the documentation, here's an extract of my React component calling firestoreConnect:
[code]
And I have an error in my console:
![image](https://user-images.githubusercontent.com/35176601/69336631-3e028380-0c5f-11ea-9

[2019-11-21 16:38] prescottprue commented on #250
@AgnesToulet thanks for reaching out! It seems like that may be from a recent update replacing lodash functions with built in JS methods.

[2019-11-21 16:55] prescottprue commented on #172
@Peeeep Did you try using the statics directly off of the react-native-firebase instance? I am thinking that may be the pattern moving forward instead of passing them through the extended instance

[2019-11-21 17:16] Peeeep commented on #172
Yes, and that works just fine, but I would prefer passing both firebase & firestore through the extended instance, as this makes it trivial to exchange react-native-firebase with the javascript (web) implementation in the future. We plan on creating a pwa version of our rn app and could entirely reuse our redux saga implementation.

I've come up with the following for now:
[code]
This way I can ac

[2019-11-22 12:29] yumekun commented on #250
i meet issue when i use queryoption at orderByoption[] ,
{
  collection: 'cities',
  orderBy: [
    ['name'],
    ['email
![issue](https://user-images.githubusercontent.com/55476094/69425815-3aa1f180-0d5e-11ea-8953-549ec2cd2cd2.png)
', 'desc']
  ]
}

this the error message
Argument of type '({ collection: string; where: [string, "==", boolean]; orderBy: [string[], string[]]; limit: number; } | { c

[2019-11-23 21:47] quintenb opened #252 "id is removed in 'ordered' when an item is added."
When I add an item to the firestore db using the add command:

`firestore.add({ collection: "bookmarks" }, bookmark)`

You see the item is added correctly at first but with the 'createdAt' value still empty.

I use:

`createdAt: firestore.FieldValue.serverTimestamp()`

![bug_01](https://user-images.githubusercontent.com/6967754/69485647-aeb5c580-0e42-11ea-9fb0-354fe290f3ad.png)

But when the DOCUM

[2019-11-24 00:08] prescottprue commented on #252
Thanks for reporting! Seems like that was a recent change to remove merging. I also added a test case to make sure that doesn't happen in the future.

Planning to release in [v0.11.0](https://github.com/prescottprue/redux-firestore/pull/251)

[2019-11-24 00:11] prescottprue commented on #172
@Peeeep Nice! Thanks for posting - we may want to add this to the react-native section of the docs

[2019-11-24 16:31] RossCarlisle commented on #249
Just ran into this exact issue also, mergeResults boolean would be really sweet in query configuration instead of overriding the result and losing previous data. Trying to avoid storing into react components state like @alrazamc

[2019-11-25 05:12] jacklimwenjie commented on #252
I found a workaround, which is to always include `id` in the args when adding/updating a doc

[2019-11-25 16:39] prescottprue commented on #245
Thanks for posting, this is already supported since queries are passed directly though!

You would do it like so within a component (if you are using react-redux-firebase's hooks):

[code]

If not using hooks you would do the following:

[code]

Same thing with the `in` operator. To be sure, I tested within the complete example project, but reach out if things aren't working as expected.

[2019-11-25 16:39] #245 closed

[2019-11-25 16:46] prescottprue commented on #252
Glad to hear you found a workaround. The [v0.11.0 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.11.0) contains the fix. Please reach out if things don't work as expected, and thanks again for posting

[2019-11-25 16:46] #252 closed

[2019-11-25 16:47] prescottprue commented on #250
Fixed in [v0.11.0 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.11.0). Thanks for posting!

[2019-11-25 16:47] #250 closed

[2019-11-28 06:37] prescottprue commented on #249
Good to know there is interest here, thanks to all for posting

[2019-11-28 15:31] Undeadlol1 opened #253 "feat(query): specify default value"
**What is the feature?**
Returning null or undefined is a bad practice and makes code more verbose because we have to perform unnecessary checks.
Can we have a way to specify default collection value? Or can this library return an empty array instead of undefined?

**Example^**
[code]

[2019-11-29 05:42] prescottprue commented on #253
This checks are intentional and are used for checking to see if things are loaded or not as well as whether or not they are empty.

undefined - not yet loaded
null - loaded but empty
value - loaded and not empty

This is actually what the isLoaded and isEmpty helpers do, as seen in the query docs.

I’d you would like a default value you can specify that as part of your redux state connection logic

[2019-11-29 19:22] Guipsss opened #254 "Updating a document on Firestore creates a duplicate on the state"
When updating a document on Firestore, the value document is update as intended on the state in real time. But if you change back the property to its initial value, a duplicate is generated on the state. This is happening on the 0.10.0 version.

I'm using it with react-redux-firebase, and had this issue. Rolling back to the previous version (0.9.0) fixed it.

[2019-12-01 14:34] Beamanator commented on #254
I hit a similar snag on `state.firestore.ordered` so instead of rolling back to 0.9.0, I used the `state.firestore.data` property, which wasn't getting the duplicate record added.

[2019-12-04 05:20] prescottprue commented on #254
Could you share the listener settings that caused this to happen for you or a full repro example? Having trouble replicating the described issue.

As @Beamanator mentioned, it should work to use `data` state instead, and that is actually a good move since in the future the plan is to have `ordered` become just keys [as described in #204](https://github.com/prescottprue/redux-firestore/issues/204).

[2019-12-04 05:22] prescottprue commented on #239
Looking to make sure this is solved, @sintylapse could you provide a reproduction example?

[2019-12-04 11:47] prescottprue commented on #204
@illuminist In v1 the all subcollections are stored at the top level with the path in state including the name of the subcollection. With that in mind, all of the `ordered` state should just be a single level with different arrays of keys regardless of what level the in the collection/subcollection tree then data lives

[2019-12-06 11:12] vikramrana opened #256 "Ordered state doesn't update on deleting an item"
**What is the current behavior?**

The data state updates on delete but the ordered state shows no effect.

<img width="1599" alt="Screen Shot 2019-12-06 at 3 03 13 AM" src="https://user-images.githubusercontent.com/15370158/70318684-76649e80-17d5-11ea-9cc5-2b2bf67837ee.png">

**Which version of redux-firestore are you using? What about other dependencies?**

"redux-firestore": "^0.11.0"

[2019-12-06 12:24] prescottprue commented on #256
It should be removed in the `LISTENER_RESPONSE` action directly above like so:

![image](https://user-images.githubusercontent.com/2992224/70322604-89d53100-17f8-11ea-9c33-e2f67e1444d1.png)

If it isn't removed in that action dispatch (i.e. if you don't have a listener) the `DOCUMENT_REMOVED` should the remove it ([from this logic](https://github.com/prescottprue/redux-firestore/blob/v0.12.0/src/r

[2019-12-06 13:49] sintylapse commented on #239
Hi, sorry, don't have a time right now. Is it okay if I request reopening this issue if I will be able to reproduce it again and will create reproduction example?

[2019-12-06 20:46] vikramrana commented on #256
Thank you for your response, but maybe I am doing something wrong.
 I am providing few more screenshots for you to assess.

STEP 1:
I click on an item to remove, the item in the ui stays there. Although the data state updates, there is no response from the listener.

<img width="1469" alt="Screen Shot 2019-12-06 at 12 24 45 PM" src="https://user-images.githubusercontent.com/15370158/70354843-81471

[2019-12-07 02:01] vikramrana commented on #256
I was able to solve the issue. Since I already had an id key in my product it wasn't using the auto generated uid as the id. I just changed my id key to companyID and now it works as expected.

[2019-12-07 02:01] #256 closed

[2019-12-12 08:10] ppotter100 commented on #225
Would love to see this feature as well!

[2019-12-15 07:34] goleary opened #257 "feat(query) enable support for DocumentSnapshot with start/endAt"
**What is the feature?**
enable passing a `DocumentSnapshot` to a query
https://firebase.google.com/docs/reference/js/firebase.firestore.Query#start-at

**Do you have thoughts/examples on how the feature would be used (i.e. API)?**

I'm trying to implement a table that allows me to page through the documents returned by a query.  Because of duplication of properties of the documents I cannot relia

[2019-12-16 14:43] prescottprue commented on #257
There is [the snapshot cache](https://github.com/prescottprue/redux-firestore/blob/b5d5f312a078cb41f3d297863bd67df332a5e265/src/utils/query.js#L15-L30) that was added by @illuminist in v0.11.0 - that should be useful for doing this, just haven't written up an example yet

[2019-12-16 16:29] goleary commented on #257
Thanks for pointing that out @prescottprue. I tried using that code, but after passing `getSnapshotFromObject` the data for a particular object instead of returning a `DocumentSnapshot`, it returns a `QuerySnapshot`.

![image](https://user-images.githubusercontent.com/16123225/70924322-290add00-1fde-11ea-9359-cc7fe51aa766.png)

[2019-12-16 16:36] prescottprue commented on #257
@goleary Thanks for reaching out - I reached out to @illumnist over gitter for more detail.

How did you end up using it? Would you mind sharing the app logic?

[2019-12-16 16:36] goleary commented on #257
![image](https://user-images.githubusercontent.com/16123225/70924905-32e11000-1fdf-11ea-9ba9-f56c84b10908.png)

[2019-12-16 16:40] goleary commented on #257
looking into that `WeakMap` this is what I see:
![image](https://user-images.githubusercontent.com/16123225/70925083-80f61380-1fdf-11ea-97d5-172700223944.png)

It looks like I _can_ access the `DocumentSnapshot`, but I assumed it would be a littler easier/simpler than this.  Everything in the `WeakMap` is a `QuerySnapshot`.

[2019-12-16 16:45] goleary commented on #257
so if I obtain the `DocumentSnapshot` as such:
![image](https://user-images.githubusercontent.com/16123225/70925514-3032ea80-1fe0-11ea-8e8f-56a27f578bd1.png)
I am able to pass it to `startAfter`, but something seems off.  The `WeakMap` contains quite a bit of duplicated data (the same `QuerySnapshot` and 10 `DocumentSnapshots` for each of the documents within that query).

[2019-12-17 09:32] dsgriffin commented on #254
Just ran into this issue myself too when using `ordered`, changing any property on a document in a subcollection to another value then back to the same value adds an extra record to the array I get back from the top level `storeAs` location

[2019-12-18 02:40] Lazy-Y commented on #164
I'm also experiencing this issue. Is there any updates?

[2019-12-19 10:00] illuminist commented on #257
Thank you @goleary

I have found my mistake. I set document data as a key for QuerySnapshot instead of intended DocumentSnapshot. I even forgot to add the responding unit test to test if snapshot is right for the inner data.

PR https://github.com/prescottprue/redux-firestore/pull/258

[2019-12-19 10:55] magrinj opened #259 "feat(doc) How to get the error from a query into the redux state"
Hello,

I'm a little bit confused on how we can get the errors value stored in `firestore.errors` as my queries are complex, with `orderBy` and multiples `where` the path to get it is really hard to implement. I've the same question on the request status, to know when something is fetched, maybe I've missed something in the documentation, but for know I can't find anything.

I've take a look at th

[2019-12-19 17:26] prescottprue commented on #257
@illuminist Thanks a bunch for looking into it and making the PR!

[2019-12-19 17:28] prescottprue commented on #259
@magrinj  I am thinking we might want to expose one of the utility functions in the current versions

That is what is done [in the v1.0.0 pre-releases](https://github.com/prescottprue/redux-firestore/wiki/v1.0.0-Roadmap) - they help loading out of state based on the query (since data is now stored that was as well).

[2019-12-19 17:37] magrinj commented on #259
Hi @prescottprue ! Thanks for your answer, from what I've read about this new version the utility function are only for `ordered` and `data`, it will be nice to have one for `errors` and `status`.
(The link in my first post was wrong, I update it !)

[2019-12-31 14:02] illuminist commented on #257
@prescottprue I found a new problem where updating QuerySnapshot isn’t update along with WeakMap key. The new ordered array and a data object is being created inside of reducer where I couldn’t access snapshot, and passing snapshot with action is against redux rules. One possible solution is to reduce the whole state inside of action creator and pass that entire data and ordered object into action

[2020-01-02 15:47] leoxs22 commented on #176
This feature would be great for getting several documents.

For example:

`where: [FieldPath.documentId(), "in", [2,5,9]]`

[2020-01-06 05:50] prescottprue commented on #176
When trying this currently in v3.0.6, it works as expected both with a single ID and the `in` case when using from `useFirestore` hook:

[code]

or when importing directly from Firebase:

[code]

Is this not working for you @jancama2 or @leoxs22? Going to close this for now since it seems to be working - will reopen if we have a repro

[2020-01-06 05:50] #176 closed

[2020-01-06 05:51] #242 closed

[2020-01-06 18:13] leoxs22 commented on #176
It's working, I had the last redux-firestore version, but I was outdated with react-redux-firebase, which was causing the error.

Thanks!

[2020-01-12 17:32] knour89 opened #262 "how can use getFirestore() inside action in v3 like v2"
in v2 I built the following code but it not working in v3, because of no getFirestore

export const registerUser = data => async (
  dispatch,
  getState,
  getFirebase,
  getFirestore
) => {
  const firebase = getFirebase();
  const firestore = getFirestore();

  try {
    let createdUser = await firebase
      .auth()
      .createUserWithEmailAndPassword(data.email, data.password);
    await cr

[2020-01-13 17:23] prescottprue commented on #262
As stated in [836](https://github.com/prescottprue/react-redux-firebase/issues/836) and [785](https://github.com/prescottprue/react-redux-firebase/issues/785) of react-redux-firebase - you can use `getFirebase().firestore()`.

[2020-01-13 17:23] #262 closed

[2020-01-14 10:11] illuminist opened #263 "Allow omitting collection name in object query if query already has full path to doc"
**What is the current behavior?**

We used to be able to use
[code]
to query a document from firestore. But after adding https://github.com/prescottprue/redux-firestore/blob/master/src/utils/query.js#L241-L245, it explicitly requires collection name to be set even the query has a proper path to document.

**What is the expected behavior?**
It should check if a query object has a proper path for co

[2020-01-28 23:29] Anne-Anq commented on #45
Hi,
We are still facing that issue with 0.11.0:
The query works great on 0.7.0, all the queried users are merged in firestore.data.users, but in 0.11.0 or 0.8.0 the user documents queried one after another replace one another instead of being just added to the existing doc

[2020-01-28 23:50] prescottprue commented on #45
@Anne-Anq can you open a new issue describing your issue with reproduction steps so we can get to the bottom of it? You should be able to use `storeAs` as a workaround for now since that will not store data under users - you could also try using Firebase's new `in` query:

[code]

[2020-02-05 02:34] Anne-Anq commented on #45
Hi Scott!
Thank you so much for your answer.

Firebase new query `in` works great indeed, thanks.  I use this query with
`storeAs:'users'` and I am able to fetch user X-Y-Z at once and I find them
all  in my data.users .

However if I re-use the same query  to fetch users A-B-C later on, it will
overwrite Z-Y-Z. Meaning, instead of having X-Y-Z-A-B-C in data.users, I
have only A-B-C...

Is this by

[2020-02-06 06:44] nishantonline1 opened #265 "native redux transaction instead of firestore transaction."
A native redux firestore transaction required instead of firestore transaction as it's not allowed to `add` document in the collection only we can use `set`.

I'm building a project with firestore and faced this issue. Firebase transaction throws an error that t.add is not a function and now I have to generate a unique id so that document can be added by using `set`.

And also its better to stick

[2020-02-12 10:55] Lucas-Geitner opened #266 "💌 Lots of love from a user from this librairie"
Hello here !

I wanted to thanks all the mainteners of this project to exist !

It's truely awesome

Thanks a lots !

I will soon make a donation in the sponsor page

Lucas Geitner

[2020-02-13 04:12] prescottprue commented on #266
Thank you so much for reaching out, always so happy to hear it helps!

[2020-02-16 14:12] Baileypollard commented on #121
I am still having this issue on v0.12

[2020-02-25 23:25] puppybits opened #269 "Queries with a collection & subcollection but an empty doc fail silently"
**What is the current behavior?**
If a query string has a collection and subcollection but not a docId it's an invalid query. No error is getting thrown.

**What is the expected behavior?**
In the `queryStrToObj` function, if there is a collection and subcollection, there must always be a doc. I assume an error would be thrown just like in the `getQueryConfig` function below it. https://github.com

[2020-02-26 04:20] prescottprue commented on #240
As mentioned in [777 of react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/777), this should be fixed by updating to v6.3.0 of react-native-firebase. For anyone wondering,  [here is the commit which removes usage of `Object.freeze`](https://github.com/invertase/react-native-firebase/pull/3157/files#diff-55efcaa4f5f3cd77d42b7201a43349d6L251).

Going to close this sinc

[2020-02-26 04:20] #240 closed

[2020-02-26 14:12] bcgilliom commented on #240
@prescottprue glad it worked out! sorry if the extendApp Pr caused problems 😬 !

[2020-03-01 16:29] #178 closed

[2020-03-11 22:15] dmnsgn commented on #212
@prescottprue is there any workaround this?

My use-case is that I am using `useFirestoreConnect({ collection: "todos", storeAs: "todo", doc: docId })` and I'd like to be able to clear `state.firestore.data.todo` on unmount of a react component.

Any way to manually enhance the reducer allowing it to handle an action and remove part of the firestore state?

Thanks

[2020-03-14 02:00] gotdibbs commented on #239
@prescottprue I think I just reproduced this issue in my own app. I've whipped up a sample here: https://codesandbox.io/s/firestore-sort-demo-3izym

If you click the button a few times to swap data at indices `0` and `1`, you'll see how the `ordered` data gets a bit messy in memory.

I'll try to carve out some time to dig further into this soon myself though, but if you have any thoughts that'd be

[2020-03-16 06:17] jbreckel opened #273 "DOCUMENT_MODIFIED overrides state for collection"
**What is the current behavior?**
[code]

with this setup the current state after the action looks like this:
[code]

**What is the expected behavior?**

I expect the reducer to update only the key that needs updating.
[code]

after taking a look at the test at: [dataReducer.spec.js](https://github.com/prescottprue/redux-firestore/blob/alpha/test/unit/reducers/dataReducer.spec.js#L32) it becomes c

[2020-03-16 06:27] jbreckel commented on #273
after some more investigation, I found that [getQueryName](https://github.com/prescottprue/redux-firestore/blob/alpha/src/utils/query.js#L230) might be the problem.

for the `action.meta` above it just returns `shop` which should be `['shop', 'shop1.com']`

[2020-03-16 06:54] jbreckel commented on #273
problem solved by switching to latest

[2020-03-16 06:54] #273 closed

[2020-03-17 19:07] Wgil commented on #191
I'm facing this issue again but this time I have only one query on the same collection:
[code]
I tried removing `storeAs`, using `firestoreConnect` and `setListener` without any luck. Not only `DOCUMENT_ADDED` action is dispatched but also `DOCUMENT_MODIFIED`.

[2020-03-27 02:35] devth commented on #196
Any updates? I'm struggling with whether to use references (not sure how to get them to work with RRF) at all, or go with RRF's `populate`.

[2020-03-27 23:14] ac205 opened #274 "Hooks vs HOC's - Confused :("
Hey Guys,

I am wondering if someone can help me with my app.

Building an CMS with React-Redux-Firebase.

I am finding it difficult and confusing on how to access my firestore data.

I have main app wrapped in ReactReduxFirebaseProvider with the rrfProps

Then some components I am using the HOC firestoreConnect to connect to a collection and/or subcollection.

Then for other components I am using

[2020-03-27 23:59] prescottprue commented on #274
`getFirestore` in thunks is NOT for state - it is actually to access the extended firestore instance (similar to Firebase SDK, just with different methods that dispatch actions).

Using `useFirestoreConnect` in your component is the right way to attach listeners on mount/unmount of the component and `useSelector` is the right way to get that data from state. More information and examples are avail

[2020-03-28 07:30] prescottprue commented on #196
References are not normal objects, so it is an anti-pattern to store them in redux state. Not sure how we will go about supporting this

[2020-03-28 11:44] ac205 commented on #274
Sorry I was referring to { firestoreConnect } from 'react-redux-firebase' but I figured out the issue and was able to get it to work.

But you are saying the useFirestoreConnect + useSelector hook style way is a better choice than using the firestoreConnect HOC style?

Or will the both result in same overall performance etc?

[2020-03-28 15:01] devth commented on #196
What if there was something like middleware where if it sees a reference type it either auto resolves the reference to an object or else maybe turns it into a string ID that the user could then optionally `populate`?

[2020-03-28 15:05] prescottprue commented on #274
@ac205 Both result in the same overall performance, the hooks are just suggested since that is hooks are now a suggested usage pattern in React and may be a little more organized as things scale

[2020-03-28 15:05] prescottprue commented on #196
@devth That is a great idea! Thanks for sharing

[2020-03-28 17:09] ac205 commented on #274
Awesome thank you so much! Appreciate all the hard work you have put into this :)

[2020-03-28 22:56] #274 closed

[2020-03-31 18:51] pushkars1 commented on #192
Error: Collection can only be run on a document. Check that query config for subcollection: "photos" contains a doc parameter.

useFirestoreConnect([
    {
      collection: 'users',
      doc: auth.uid,
      subcollections: [{ collection: 'photos' }],
      storeAs: 'photos'
    }
  ]);

  const photos = useSelector(state => state.firestore.ordered.photos);

on reloading the page http://localhos

[2020-03-31 18:56] daniely93 commented on #192
Show me your code.

[2020-03-31 19:04] daniely93 commented on #192
I can see you use React Hooks, I haven't used Firebase & Hooks new library so far, but I can tell you that my problem was that auth.uid was undefined, my old solution was:
`firestoreConnect(props => {
   if(!props.auth.uid) return [];
   return [
     // all collections
   ]
}`

I suggest you to debug it using useEffect(() => console.log(photos), [photos]) maybe it'll help you to figure out.

[2020-04-02 14:45] devth commented on #196
Thinking about this a little more. `populate` is great, but one issue I noticed is that there is not a pointer from the string ID stored in the db and the actual collection it belongs to - it relies on the combination of data and code to resolve.

[code]

In other words, if you're just looking at the database, you don't know how to resolve `"owner": "Iq5b0qK2NtgggT6U3bU6iZRGyma2"`. (Of course in t

[2020-04-08 09:44] fflach opened #275 "Firestore Connect does not work with android notifications"
I am currently integrating notifications via FCM into my react native app. On ios everything works as intended. But if I open the android app by clicking on a notification (quit or background state) firestore connect is always empty. The android app and firestore connect work correctly when I open the app normally.

[code]

Is there any known bug for firestore connect?

[2020-04-09 17:44] prescottprue commented on #275
That may be due to auth not being loaded yet. You should check to make sure auth is loaded before you use `auth.uid` as a part of your query as shown in [state based query example](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/snippets/stateBasedQuery#state-based-query-example)

[2020-04-14 14:59] fflach commented on #275
Thanks for your response. Unfortunately I already tried that. The auth and also the uid is loading correctly

[2020-04-14 17:00] prescottprue commented on #275
@fflach How are you confirming that? Are you able to provide a repo where this issue can be reproduced in full?

[2020-04-16 08:54] dhuber666 opened #276 "Why is the typescript example not working on my site - "No overload.." - codesandbox inside?"
**What is the current behavior?**
When I set up the reducer with `combineReducers` with the official typescript example from `react-redux-firebase` it doesn't work when used with `firestore`. It gives this error:

**What is the expected behavior?**

It should give no error when set up like the typescript example from here: https://github.com/prescottprue/react-redux-firebase/tree/master/examples/c

[2020-04-21 04:42] PercentageCorporation opened #281 "Firestore not updating locally after document update"
I have a react/redux/firestore app. I have an internal array that is built from a firestore collection. When a document in that collection is updated I need to rebuild the array.

I update the collection using the following:
db.collection('skills').doc(skillName).update({included: included});
I set up a listener to catch updates to the collection, which is working fine.
The data returned to the li

[2020-04-24 15:50] acsands13 commented on #176
Is it possible to use a `.documentId()` query directly with `useFirestoreConnect()` instead of having to set listeners manually with `useFirestore()`? E.g. something like:

[code]

[2020-04-27 01:23] prescottprue commented on #176
@acsands13 You should be able to do that if you pull in `FieldPath` from Firebase's SDK directly and use `FieldPath.documentId()`. If you have issues doing so, please open a new issue with the code to reproduce the issue

[2020-04-27 22:57] jfrumar-infinitusai commented on #212
I've wanted this for a while. For now, I'm dispatching my own LISTENER_RESPONSE, e.g.:

[code]

[2020-04-29 10:43] whalemare commented on #36
Still needed

[2020-05-01 07:39] sreeharicubet commented on #176
@acsands13  please try this
[code]

[2020-05-01 13:41] acsands13 commented on #176
Thanks for the replies! @sreeharicubet I was using that to begin with, and it worked, but realized a bit later that `in` queries are limited to 10. So ended up going with this, which seems to accomplish what I was hoping for (and no 10 limit):

[code]

[2020-05-02 07:44] ight-reco commented on #254
I faced with the same issue (in `v0.13.0`).
In my case, I update a doc's field which specified `order by` to change order, the updated doc has not `id` key and duplicate the document.
<img width="525" src="https://user-images.githubusercontent.com/12580668/80858166-7be5e800-8c92-11ea-9f8e-5b09adb3e8f0.png">

So I tried changing `orderedReducer.newArrayWithItemMoved` passing arguments to add doc id

[2020-05-03 20:27] acsands13 commented on #259
@prescottprue I took a look at the v1 roadmap and it seems like `firestoreDataSelector` `firestoreOrderedSelector` are going to be very helpful in this regard—thanks for adding those! Would also love to see selectors for `errors` and `status` as @magrinj mentioned at some point.

@magrinj if you still have this problem, I'm using the `getQueryName()` [function](https://github.com/prescottprue/redu

[2020-05-11 13:17] RavenousPett opened #282 "feat(reducers): CLEAR_COLLECTION, to clear a specified collection"
**What is the feature?**
A reducer to handle an action similar to CLEAR_DATA, however takes a parameter to clear `firestore.data.{some param}`

**What version would this apply to?**
Next

**Do you have thoughts/examples on how the feature would be used (i.e. API)?**
Example use in an application actions file:
``
export const unmountSportsCar = () => {
  return (dispatch) => {
    dispatch({ type:

[2020-05-15 11:57] giq-re opened #283 "delete incorrect doc from subcollection does not error"
**What is the current behavior?**

calling
                        firestore.delete({
                            collection:'users',
                            'doc':userId,
                            subcollections: [
                                {
                                    'doc':'1252125213',
                                    collection:data_name,

[2020-05-15 16:35] prescottprue commented on #283
I could be wrong, but I believe that Firestore's `delete` does not throw an error when deleting a non existing document, so this is just mirroring that functionality. Is that not the case?

[2020-05-16 08:24] giq-re commented on #283
- you may be right as their documentation is unclear. It specifically uses an example: see below - that shows catching an error - why i wrote the issue. but it may only throw an error if it finds a document and is unable to delete it because of a memory error or some other reason - i was more concerned about accurately managing data...in my use case...which is an edge case - [sorry for the deep-di

[2020-06-04 21:56] gregfenton opened #287 "README does not actually document some APIs"
**What is the current behavior?**
The [API section of README](https://github.com/prescottprue/redux-firestore#api) doc states:

**What is the expected behavior?**
There are descriptions for the _different APIs_ of `get`, `set` and `onSnapshot`.  In particular, what are their return types (promises?), preferably with relevant examples of them in use.

**Which version of redux-firestore are you usin

[2020-06-17 08:55] edo commented on #121
Hi, just wanted to note that to me this issue is not there in the latest versions of redux-firestore.  I run the latest redux-firestore (0.13.0).

I order my ordered array with a numerical index value in all my docs. When I first load or refresh the page, ordered shows the correct order. However, when I update the index in a doc, the order of the array didn't update accordingly when I use: orderBy

[2020-06-17 09:25] edo commented on #121
Hi, just wanted to note that to me this issue is there in the latest versions of redux-firestore (0.13.0),
but maybe a bit more complex than that the order is simply messed up. In fact, besides errors in reordering, I even see duplication of objects in the array occuring. So the ordered array currently is AFAIK not safe to use.

Steps to reproduce:
- I have a numerical indexValue in all the docs t

[2020-06-20 21:21] edo commented on #254
Experience this same issue. When modifying docs, there is duplication of objects in the ordered array. This duplication does not occur in the data object.

[2020-06-26 03:45] varunyn commented on #150
Any update on this issue?

[2020-07-02 18:49] winnona-partners opened #292 "DOCUMENT_MODIFIED action leaves id undefined in ordered listener when order changes"
**What is the current behavior?**
When a document is modified in such a way that a listener gets a document update, the dispatched DOCUMENT_MODIFIED action updates the ordered array to have an undefined id. This does not occur when a document update does not affect the order of the ordered result.

**What is the expected behavior?**
Document updates should still return id after updating ordered re

[2020-07-08 13:03] georgeMorales opened #293 "Unable to resolve "lodash/fp/merge" from "node_modules/react-redux-firebase/lib/createFirebaseInstance.js""
Unable to resolve "lodash/fp/merge" from "node_modules/react-redux-firebase/lib/createFirebaseInstance.js"
I get this error
"redux-firestore": "^ 0.10.0", is the one I used, I have updated to the latest version and the same problem
React Native Expo sdk 38

[2020-07-08 16:23] prescottprue commented on #293
Not sure what this would be coming from as lodash/fp should available along with lodash which is a dependency.

Are you using yarn or npm? Guessing you have already cleared and reinstalled node_modules?

[2020-07-08 16:51] georgeMorales commented on #293
I have used yarn and npm, I have cleared node-modules and reset cache. I also get the same problem with your other react-redux-firebase library.
I will continue trying to see if I find the solution. Thank you!

[2020-07-09 14:13] unsouled opened #294 "dataReducer doesn't merge previous data on LISTENER_RESPONSE action."
**What is the current behavior?**
dataReducer doesn't merge previous data on LISTENER_RESPONSE action.

**What is the expected behavior?**
dataReducer should merge previous data on LISTENER_RESPONSE action when previous data is exist and meta does not contains subcollections

**Which version of redux-firestore are you using? What about other dependencies?**
0.13.0

https://github.com/prescottprue/

[2020-07-09 15:09] bawahakim opened #295 "FirestoreReducer Typescript not working as expected"
**What is the current behavior?**

Using Typescript, I wanted to get access to the properties of my firestore data. Reading the docs, I realized it was possible with firebase, but notmention of firestore. I tried to implement it and when I created my RootState interface, I noticed a couple of things:

1. There is no FirestoreReducer.Reducer implemented in redux-firestore. I only found it in react-

[2020-07-09 16:10] prescottprue commented on #293
@georgeMorales I wonder which version of the module is being loaded between the UMD/commonjs/es versions?

Have you tried adding lodash as a dependency directly to your project?

[2020-07-09 16:15] prescottprue commented on #295
Thanks for posting! Will look closer, but on initial glance it looks great - feel free to open a PR with proposed changes if you get a chance and we can start testing it out

[2020-07-11 00:11] albertcui commented on #292
Seeing this problem as well

[2020-07-12 02:43] gregfenton commented on #113
Is this documented in the redux-firestore README or elsewhere?  I spent several hours dealing with this issue on a react-native project...layers upon layers... ☹️

Are we saying that essentially: `ordered` contains valid entries and `data` _might_ contains some values that are `null` ?  And that it is valid/okay/best_practice(?) to filter out entries from `data` that are null using `.filter(el =>

[2020-07-12 15:25] prescottprue commented on #113
@gregfenton The plan is to move to just storing keys in the `ordered` section of state to help prevent confusion between the two

In the meantime, if you think there is anything we could add to the README to make it more clear, open to PRs

[2020-07-12 16:58] gregfenton commented on #113
I'll gladly toss in a PR, just want to be sure I know what it should state 😄

Maybe just a "NOTE" that indicates that "best practice is to use `.ordered`" and that `.data` is likely to be deprecated in future releases.

Is that accurate enough?

[2020-07-12 23:38] prescottprue commented on #113
No, data isn't really going away it is actually where data will live and ordered will be keys, I think it is more like

"Best practice is to use `.ordered` for keys/order only, and use `.data` for actual object data" - this actually mirrors [best practices listed in the redux docs](https://redux.js.org/recipes/structuring-reducers/normalizing-state-shape#relationships-and-tables)

[2020-07-16 08:44] Lucas-Geitner commented on #294
I think we experienced the same issue; we are considering multiple solutions :
- downgrade to 0.8 but we will be missing the collectionGroup feature
- migrate to swr-firestore, which is a big move.

[2020-07-16 20:21] feelthepain444 opened #297 "get action returns a DocumentSnapshot instead of QuerySnapshot"
**What is the current behavior?**

When using the `get` action, if you don't specify the doc property, the return type is a DocumentSnapshot.

**What is the expected behavior?**

It should return a QuerySnapshot : https://firebase.google.com/docs/reference/js/firebase.firestore.QuerySnapshot if the doc property is not specified.

**Which version of redux-firestore are you using? What about other d

[2020-07-20 20:37] a-zen commented on #164
Same here is there any update?

[2020-07-20 22:00] prescottprue commented on #294
Thanks for reporting. Feel free to make a PR if you get a chance. Otherwise, I'll get to it when I can

[2020-08-13 06:08] alexandermckay commented on #295
@feelthepain444 do you need any help with this?

I would like to be able to add type checking to my firestore reducer as well.

Something to keep in mind is that [firestore can hold the user profile instead of RTDB](https://react-redux-firebase.com/docs/recipes/profile.html#profile-in-firestore), so two generic parameters (`Profile` & `Schema`) may be desired by some users.

[2020-08-13 15:26] feelthepain444 commented on #295
@alexandermckay, we recently had a switch in our project, and we won't be using Firebase. But I already made a PR here : https://github.com/prescottprue/redux-firestore/pull/296

[2020-08-25 15:37] cruzdanilo opened #303 "storeAs inconsistency"
**What is the current behavior?**
on `LISTENER_RESPONSE` data is stored at `firestore.data[storeAs]`, but on `LISTENER_ERROR` data (`null`) is stored at `firestore.data[storeAs][doc]`, making it harder to handle.

**What is the expected behavior?**
`LISTENER_ERROR` data (`null`) to be stored at `firestore.data[storeAs]`

**Which version of redux-firestore are you using? What about other dependenci

[2020-08-27 09:48] jake-nz commented on #294
I think #218 means that the example given under [**Query Options**](https://github.com/prescottprue/redux-firestore#query-options ) for "`or` style queries" (with 'sally', 'john', 'peter') no longer works. I'm running into trouble trying to load different data from the same collection where the second query replaces the data from the first.

Maybe we could use something like [`mergeOrdered`](https

[2020-09-02 11:39] solveretur opened #304 "How to read a deeply nested document?"
In my firestore database under the path

[code]
I store such document
[code]
And I absolutely have no idea how to read it using react-redux-firestore I tried something like this
[code]
But it gives me only collection of messages not the specific message I want to read. How to solve it ?

[2020-09-12 14:34] developerFoodpedia opened #307 "Got undenfined firestore state on my next.js app"
Error serializing `.initialState.firestore.composite` returned from `getStaticProps` in "/".
Reason: `undefined` cannot be serialized as JSON. Please use `null` or omit this value all together
<img width="714" alt="Capture" src="https://user-images.githubusercontent.com/69426744/92997748-a77db680-f53f-11ea-8bb9-d81616252ce8.PNG">

[2020-09-13 20:29] prescottprue commented on #307
Thanks for reaching out. Can you provide a full example where this issue can be reproduced?

[2020-09-23 21:33] puppybits commented on #292
I fixed this bug. PR #308 is waiting to be merged.

[2020-09-28 02:14] jake-nz commented on #164
Change `storeAs` to `path` and this does what you want.
`storeAs: 'properties/${propertyId}'` → `path: 'properties/${propertyId}'`
⚠️**Warning** `path` doesn't seem to appear in the docs so it could disappear or break in future.

[2020-09-30 03:25] #266 closed

[2020-10-03 23:25] SamPoate commented on #78
Hey, sorry to necro an old one, but I still seem to get this issue;

[code]

[code]

Casting it doesn't seem to fix the issue this time. Thanks in advance!

[2020-10-04 03:01] prescottprue commented on #78
@SamPoate could you open a new issue with reproduction steps so this isn't lost? Thanks for reporting

[2020-10-04 08:32] SamPoate commented on #78
Hey @prescottprue, thanks for the fast reply. As I've come expect, it was an error on my behalf and slightly due coding at 1am, so my apologies.

For others in the future who finds this from a google, the import: `import { firestoreReducer } from 'redux-firestore';` is **not** the one you want and is the one that's usually brought in automagically by intellisense. Intead make sure it's the import

[2020-10-04 08:36] SamPoate commented on #276
Make sure your FirestoreReducer import is from 'react-redux-firebase'.

[code]

[2020-10-04 12:02] SamPoate opened #310 "Typescript: firestore: FirestoreReducer.Reducer; No overload matches this call."
Hi all, current issue lies below. Thanks in advance for the help.

**What is the current behavior?**
[code]

**What is the expected behavior?**

**Which version of redux-firestore are you using? What about other dependencies?**
    "react-redux-firebase": "^3.7.0",
    "redux-firestore": "^0.14.0",
    "@reduxjs/toolkit": "^1.4.0",

**Which environments/browsers are affected by this issue? Did thi

[2020-10-29 20:55] AlexanderArvidsson opened #312 "Support Firebase 8"
**What is the current behavior?**
The import is done using `import * as firebase from "firebase/app";`.
Firebase 8.0 changes this to the default import, `import firebase from "firebase/app"`.
As such, there are typing errors.
[code]

**What is the expected behavior?**
No typing errors should occur, and the import should be changed to the default.

**Which version of redux-firestore are you using?

[2020-11-02 16:53] prescottprue commented on #312
Thanks for reaching out

[2020-11-04 21:23] AlexanderArvidsson commented on #312
Since in previous firebase versions, you have to import it as `import * as firebase ...`, that means making this will be a breaking change.
As such, if I were to make a pull request with these changes, you would also have to up your major version of this package and not support firebase 7 and below in the future.
I don't know if there's a way to somehow support both versions at once, but if there

[2020-11-11 19:25] prescottprue commented on #312
Yeah agreed - this will have to be in another major version where we will also have have to update the peer dep setting to require firebase ^8. If you make the PR I can handle the version change/release

[2020-11-13 08:20] brightsider opened #313 "Can't update subcollection object"
I'm using code from README and change vars to mine.
[code]
I got this error:
<img width="683" alt="image" src="https://user-images.githubusercontent.com/4996231/99045035-5f0f6300-2599-11eb-9be7-9d6ea6d755db.png">

If I use the wrong subcollection then I got error

My paths are correct.

[2020-11-13 08:24] brightsider commented on #313
updatedPause is array instead of object, when I fixed it all starts working

[2020-11-13 08:24] #313 closed

[2020-11-20 19:18] michalens opened #314 "how to populate an array"
I have a collection `groups`, inside which there is an array `students` with each item being a reference to a document in another collection - `students`.

I am doing this
[code]

I get this error
[code]

[2020-12-25 04:07] kevincharless commented on #192
Hello, i think you should make the doc become a string.
i had the same issue and i fix it by changing the doc to string.

useFirestoreConnect([
{
collection: 'users',
doc: `${auth.uid}`,
subcollections: [{ collection: 'photos' }],
storeAs: 'photos'
}
]);

[2021-01-13 14:50] TrySpace commented on #281
I'm occasionally having the same issue, not sure when it happens or why, but it seems to be an inconsistency.

Perhaps it has to do with the order of loading/unloading components that use different `useFirestoreConnect`'s ?

[2021-01-23 11:13] abnersouza opened #321 "When should i not use redux-firestore"
Guys,

I’m new to redux world, also firestore. I am building an application and we are already using the react-redux-firebase, an i get the point of using it since i want access auth in all parts of my app.

But when comes to the other collections i don’t see the reason to keep all of them inside my store,  as example i have a collection companies, and i have a specific page to look a them, edit a

[2021-01-24 05:36] prescottprue commented on #321
Honestly, now a days, I haven't been using redux to store data for new apps I create using Firebase. The Firebase SDK itself handles de-duping listeners, so state will propagate to all of your components straight from there

Planning on writing up a medium article or something to clarify this for others, but great question

[2021-02-15 04:01] prescottprue commented on #295
[v0.15.0 release](https://github.com/prescottprue/redux-firestore/releases/tag/v0.15.0) has types for the reducer

Please reach out if things aren't working as expected

[2021-02-15 04:01] #295 closed

[2021-02-15 04:05] prescottprue commented on #321
[Here is the above mentioned medium article](https://bit.ly/3d2XPsS)

Added a note to react-redux-firebase, and am planning to add one to redux-firestore as well.

[2021-02-15 06:28] 0xdevalias commented on #295
@prescottprue That link 404's, seems there is no `v0.15.0` release yet?

[2021-02-15 15:28] prescottprue commented on #295
For some reason it was storing just as a draft - published now

[2021-02-16 15:13] puppybits opened #323 "In-memory, synchronous database"
**What is the feature?**
When doing something like drag and drop the updates to firestore take too long so the UI jumps. This is even worse with transactions.

**What version would this apply to?**
v0.15

**Do you have thoughts/examples on how the feature would be used (i.e. API)?**

Yes. I already forked it and made it work: https://github.com/TARAAI/redux-firestore/pull/1

[code]

[2021-02-16 16:06] prescottprue commented on #323
Interesting approach, thanks for posting! I would say one downside to this methodology is that if the write breaks a database rule (not confirmed until after the promise completes), then we would also need a way to revert the optimistic change. We would probably also want this to be opt in since it could cause a flash for some cases (would not be expected)

Have you run into those cases?

[2021-02-17 01:15] puppybits commented on #323
@prescottprue Yes there is an action to explicitly remove the optimistic commit. It removes automatically on write but failures/rollbacks aren’t handled yet.

It needs some hardening (which is why I didn’t push a PR) to handle 100% of cases. The plan is that when there’s a failure it would need to have a unique action id to tie a batch, transaction or commit to a group of optimitisic updates.

[2021-02-19 20:55] giovannidavi commented on #294
I have created a PR to revert the changes and add merged data back
https://github.com/prescottprue/redux-firestore/pull/324

[2021-02-23 04:27] rscotten commented on #321
@abnersouza @prescottprue You should not use this lib if you care about SEO and the core vitals of your website.  This library's bundle size, combined with `react-redux-firebase` plus `firebase/firestore` adds about 140kb to your bundle size.  And there's no way to lazy-load the firestore lib.  But if you're a newbie building a dashboard or a private web app, this lib gets you going pretty quickly

[2021-02-23 04:40] rscotten commented on #321
@prescottprue Your Medium article is great.  Thanks for writing that.

[2021-02-23 13:19] uloco opened #325 "Firestore Reducer Type Documentation"
**What is the feature?**
Could you please add some documentation about how to use the types for the reducers?
What is FirestoreReducer.Entity for? How do I type Firestore correctly? How does the Schema look like for example?
I am trying to get this working but I really struggle in finding the proper way, because I cannot find any documentation or reference which types are designed for what.

**Wha

[2021-02-26 02:14] puppybits commented on #323
@prescottprue I've updated our fork and integrated it into our app. Here's an illustration of the issue and the difference between the 2 different reducers.

**Before.**
![ezgif-2-b71ab9e2110f](https://user-images.githubusercontent.com/140163/109244957-7e22b100-7794-11eb-9129-01fe0ed9ac1a.gif)

**After.**
![ezgif-2-acf3f960c486](https://user-images.githubusercontent.com/140163/109244971-837ffb80-7

[2021-03-01 16:53] prescottprue commented on #323
@puppybits awesome! Thanks for the work making the reducer and sharing - looking forward to the PR

Really like the idea of optimistic updates, so let me know if there is anything I can do to speed up the process of getting this in

[2021-03-01 17:16] prescottprue commented on #294
We might have to be careful here - merging logic was removed in the past since it caused an issue with params being removed from documents (from another client or server) after data has already been loaded on the current client. Maybe I'm misunderstanding, but just want to make sure we handle this case before moving forward since that test that was changed is in place for a reason

[2021-03-02 22:14] Gsiete commented on #325
Hey, does it help you if I tell you that I had to go from:
[code]
to
[code]

Of course I had it in the SelectorRootObject
[code]

I know I'm skipping a lot, but I was working on it right now and the Entity thing is what I was missing

[2021-03-02 22:56] uloco commented on #325
Thanks for the example, I'm currently working on some other issues and don't have time to elaborate, but this will help me a bit more I guess. I will come back to this next week hopefully.

I have seen the Entity thing but was not sure if my Schema got the right structure, since it also was making problems. But maybe I used it wrong, will try. Thanks a lot!

[2021-03-04 08:53] emilieguth opened #327 "Cannot find Reducer in index.d.ts"
Hello

This is a bug, reported using Typescript.

**What is the current behavior?**
It seems FirestoreReducer.Reducer doesn't exists with v0.15:
[code]

**Which version of redux-firestore are you using? What about other dependencies?**
v0.15

**Which environments/browsers are affected by this issue? Did this work in previous versions or setups?**
all versions are concerned, there is no such proble

[2021-03-08 08:51] giovannidavi commented on #294
Hey @prescottprue
I was not aware of a related issue with the merge functionality,
But is it intended to totally remove merging functionality to resolve that bug? is there any other way to keep the merge functionality while and resolve the removing issue?

[2021-03-11 23:18] ceafive commented on #214
@prescottprue Hello thanks for a great library. Any update on this? This is need because I set the listeners dynamically and will not know the listeners attached when user is logging out. A method to clear all listeners will be really helpful. Thanks

[2021-03-14 23:21] puppybits commented on #323
We've tested the cache reducer locally and it's all working. But the optimistic update message API was only designed to be used internally. It's too verbose for a consumer.

We just pushed an internal PR to the fork. It both unifies updating the cache reducer and firestore solo, batching and transactions into and single API. It's going through PR review and testing this week.

https://github.com/T

[2021-04-05 10:35] TrySpace commented on #121
Still having the same issue in 3.10 today. Seems to be an issue with subcollections specifically

[2021-04-15 15:00] puppybits commented on #323
@prescottprue Submitted a PR for this new reducer. The headline is that is' 100x faster for all changes.

The reason is that even single save operations have to round-trip over the network before the snapshot listener fires. For us saving a Firestore transaction in production took a minimum of 1.2s to show the results to the user. That dropped to 6ms. That's over 100x faster.

[2021-04-21 13:57] prescottprue commented on #214
@ceafive Thanks for outlining your use case - hopefully you should be able to loop over the listener settings which are stored on the extended Firebase instance

[2021-04-27 09:10] dancixx opened #336 "Collectiongroup delete not updated"
Hi guys,

when I use useFirestoreConnect with a collectiongroup query and I delete an item, the reducer not updated, so after the deletion I got back the same state.

[2021-05-21 10:18] TrySpace opened #346 "endBefore not working as expected"
**What is the current behavior?**
Getting to the next pages as described here works: https://www.seedcode.com/paginating-firestore-queries-with-document-snapshot-cursors-and-react-redux-firebase/

Except when I try it with `endBefore` and provide: `getSnapshotByObject(items[0])`, after navigating 3 pages away it returns the  same as the initial query, so it does not select the correct "page".

**W

[2021-05-21 11:06] TrySpace commented on #346
Trying this as suggested here: https://morioh.com/p/b287c3c0ee1f
Returns all the previously queried items instead of the expected 3... I'm really at a loss here...

[code]

[2021-07-08 14:42] dsgriffin commented on #176
When I try this, I get the error `Property 'documentId' does not exist on type 'FieldPath'`

The `FieldPath` property retrieved via. `useFirestore` only has an `isEqual` property, no others.

[2021-07-16 17:26] dancixx opened #353 "ordered reducer duplicated items"
If I use the useFirestoreConnect hook to query a subcollection, then sometimes I get duplicated elements on the ordered reducer while the data reducer works fine.

[2021-08-04 16:35] ericettensohn commented on #325
I'm having trouble with using the reducer's types to handle an individual document lookup stored with storeAs. Example schema:

[code]

With a connection like this:

[code]

Selecting it like this:
[code]

If I type myDoc in the Schema as `Entity<MyDoc>`, the compiler will expect `name` to be `Entity<Version>` when it should be `string`. If I don't wrap it in an Entity, it'll expect `name` to be o

[2021-09-06 21:53] cabello commented on #323
I am suffering from this issue also as I implemented drag & drop in one of by `useFirestoreConnect` queries.

@puppybits super excited about taking a look at your PR https://github.com/prescottprue/redux-firestore/pull/335 I noticed the changeset is 68k lines @prescottprue do you have a suggestion on breaking this down into something that could be merged into main and released?

I agree with the a

[2022-01-21 13:20] cabello commented on #312
Found this issue while trying to add appCheck to my app.
App was using v7, appCheck was introduced on v8, I followed the release notes: https://firebase.google.com/support/release-notes/js#version_800_-_october_26_2020

<img width="885" alt="Screen Shot 2022-01-21 at 8 19 56 AM" src="https://user-images.githubusercontent.com/60936/150533818-9e7ec7fb-ae51-4ac8-9b1d-f29b1ed8bfbe.png">

I will put a

[2022-02-07 21:57] benomatis opened #418 "dispatch({ type: actionTypes.CLEAR_DATA }) does not clear 'queries' and 'composite'"
While 'data' and 'ordered' do clear, 'queries' and 'composite' (both contain actual data) remain using `dispatch({ type: actionTypes.CLEAR_DATA })` and even after unsetting all listeners.

I found no way to clear them other than reloading the page - not very elegant.

[2022-02-09 08:23] jowo-io commented on #312
Any progress on Firebase 9 support ?

[2022-02-09 14:23] cabello commented on #312
The PR I put up should be enough for v8 support, v9 would need to be investigated, changelog etc, @jowo-io can you take care of that?

[2022-02-09 17:10] jowo-io commented on #312
I'd be happy to help, adding support for v9 may be quite a large change, but I was able to get it working locally on v9 by importing the compat version of firebase
[code]
and then running
[code]
to skip the warnings thrown by `redux-firestore` regarding
[code]

[2022-02-09 17:11] jowo-io commented on #312
i'm not currently familiar enough with the changes to firebase v9 to say much more at this point, but I'll do some reading and post back

[2022-02-09 23:07] cabello commented on #312
Yeah the upgrade guide is quite complete, likely it will be a much larger PR: https://firebase.google.com/docs/web/modular-upgrade

[2022-02-14 14:48] benomatis commented on #418
I tested the fix I introduced in PR #421 but it's not actually working - I don't understand the code enough to be able to know why, so if anyone interested in having this solved, and can help fixing it, I'd be happy to get corrected. Thanks.

[2022-02-25 20:11] cabello commented on #312
@prescottprue would you mind taking a look at the PR please, it's one line change and it would unlock us moving from firebase 7 to 8. Thank you 🙇

[2022-02-27 00:23] renovate[bot] opened #447 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(examples): dependency redux-firestore to ^0.15.0
 - [ ] chore(examples): update dependency @sentry/cli to v1.73.0
 - [ ] chore(exam

[2022-02-27 00:28] prescottprue commented on #312
Released in v1.0.0 - it seemed to break types with older versions. Thanks for the ping @cabello

[2022-02-27 00:28] #312 closed

[2022-04-09 13:41] benomatis commented on #418
It's working now - I forgot to build the package.

[2022-05-01 20:30] Ambeensaleem opened #472 "@firebase/firestore: Firestore (8.2.1): Connection WebChannel transport errored"
hi, i am new here,
Since a few days i am getting an error while trying to communicate via Firebase/ Firestore. but on Firebase/Auth its works.

**Relevant Code:**
error:
 WARN  [2022-05-01T20:23:25.854Z]  @firebase/firestore: Firestore (8.2.2): Connection WebChannel transport errored: {"a": {"C": null, "K": [Circular], "a": {"A": 0, "B": [U], "C": true, "F": 45000, "G": false, "I": true, "J": -1,

[2022-07-02 07:35] maderesponsively commented on #216
@ivangr1 did you find a solution? I'm currently building an app where I need to track new documents only.

Here is the use case I'm trying to achieve and convert into a structure that works with redux-firestore:

`roomRef.collection('callerCandidates').onSnapshot(snapshot => {
      snapshot.docChanges().forEach(async change => {
        if (change.type === 'added') {
          let data = change.d

[2022-07-19 15:53] victorkingi opened #494 "StartAfter does not take into consideration documents with similar values (Skips some documents)"
On using startAfter, unlike firestore documentation which requires a document snapshot, this library implementation will skip over documents with a field having similar values i.e.

Consider a collection `k` with documents:
`(
Document 1: { id: "1234", testVal: 1 },
Document 2: { id: "5678", testVal: 1 },
Document 3: { id: "9012", testVal: 2 }
)`

First do a normal query on the collection ordering